[2020-07-10 01:33] guswns1659 opened #1 "0주차 주간 목표"
## 목표1
- 세부사항1

## 목표2
- 세부사항2

[2020-07-10 04:37] guswns1659 opened #2 "슬랙 알람 테스트"
## 목표는 최대 2개만 작성.

## 목표1
- 상세 내용1

## 목표2
- 상세 내용

[2020-07-10 04:39] #2 closed, assigned to guswns1659

[2020-07-10 15:35] #1 closed, assigned to guswns1659

[2020-07-11 06:17] kses1010 opened #3 "1주차 주간 목표"
## 목표는 최대 2개만 작성.
https://www.notion.so/408172ddada54e6d8051d7d3bd73f1fd

## 목표1
- 자바의 정석 2부 다시읽기 및 정리.
- 각 챕터별 정리 -> Notion으로 정리할 것.
- [x] chapter 10: 날짜와 시간 & 형식화
- [x] chapter 11: 컬렉션 프레임워크
- [x] chapter 12: 지네릭스, 열거형, 애너테이션
- [x] chapter 13: 쓰레드
- [x] chapter 14: 람다와 스트림
- [x] chapter 15: 입출력(I/O)
- [x] chapter 16: 네트워킹

![image](https://user-images.githubusercontent.com/49144662/87217981-cae2

[2020-07-11 07:18] hsik0225 opened #4 "1주차 주간 목표"
## 목표는 최대 2개만 작성.
1. 자료 구조 및 스프링 공부
2. 정보 처리 기사 필기

- 노션에 정리하면서 읽기

## 목표1
- [x] 자료 구조 Cp6 끝내기(p264까지)
![image](https://user-images.githubusercontent.com/56301069/87218949-4811f780-c392-11ea-80b4-fdef675458c7.png)

- [ ] 스프링5  Cp8 끝내기(p231까지)
![image](https://user-images.githubusercontent.com/56301069/87218953-5102c900-c392-11ea-9b37-dd3b7c0b8f1c.png)

## 목표2
- [ ] 정보 처리 기사 공부 Cp2까지 읽기(p Cp2-130)

[2020-07-11 07:50] guswns1659 commented on #3
어떤 자료를 읽을 건지 사진 첨부하니 좋네요!

피드백 사항
1. 자바의 정석 2권이 2개의 책인지 자바의 정석2을 1독한다는 말인지 헷갈리네요!

2. 책 읽고 정리를 어떻게 할 지 구체적이면 좋겠어요. ex) 각 챕터 별 정리 글 작성 후 블로그에 업로드하기. 만약 총 7챕터라면 7개 업로드가 목표가 되겠죠.

3. 스프링 책도 1주일 간 얼마나 읽은 건지 정확히 표현하면 좋겠네요. 정리도 어떻게 할 건지 위 피드백과 동일합니다.

정리하면
주간 목표 : 자바의 정석2 1독하고 7개 블로그 글 업로드

이렇게 구체화할 수 있겠네요.

[2020-07-11 08:29] kses1010 commented on #3
그럼 구체화해서 고칠게요 감사합니다 잭!

[2020-07-12 06:09] 102092 opened #5 "1주차 주간 목표"
## 목표는 최대 2개만 작성.
1. 알고리즘 0x08 스택 강의, 문제풀기
2. 도서 : 그림으로 공부하는 시스템 성능구조 4ch까지
## 목표1
- 알고리즘 문제집 ~스택까지
![image](https://user-images.githubusercontent.com/22140570/87240089-478c6600-c451-11ea-81f1-6da33b6868a5.png)
- 참고 : https://www.youtube.com/watch?v=LcOIobH7ues&list=PLtqbFd2VIQv4O6D6l9HcD732hdrnYb6CY

- 달성
![image](https://user-images.githubusercontent.com/22140570/87740150-74a79280-c81c-11ea-8aec

[2020-07-12 12:08] guswns1659 opened #6 "1주차 주간 목표"
## 엔젤해커톤 : 할당된 8개 이슈 Closed하기

![image](https://user-images.githubusercontent.com/55608425/87245817-a1a61f00-c483-11ea-8719-7614abd3a624.png)

## 달성 여부 (증거 제출!)

![image](https://user-images.githubusercontent.com/55608425/87737351-ae28cf80-c815-11ea-8279-1a8be8cc5a2f.png)

[2020-07-12 12:49] beginin15 opened #7 "1주차 주간 목표"
## 목표는 최대 2개만 작성.

## 목표1
- 인프런 [예제로 배우는 스프링 입문](https://www.inflearn.com/course/spring_revised_edition/dashboard) 전 강의 듣고 정리하기 [개인 문서](https://github.com/beginin15/lecture/tree/master/%231%20예제로%20배우는%20스프링%20입문)

- 책 [스프링 입문을 위한 자바 객체 지향의 원리와 이해](http://www.yes24.com/Product/Goods/22483294)의 7장을 함께 참고하기

<details>
<summary>체크리스트</summary>

- [x] 1. 스프링 예제 프로젝트 PetClinit
- [x] 2. 스프링 IoC
- [x] 3.

[2020-07-12 13:08] suhyunsim opened #8 "1주차 주간 목표"
## 목표1: 독서 - 스프링 입문을 위한 자바 객체 지향의 원리와 이해
![image](https://user-images.githubusercontent.com/58318786/87246806-8854a100-c48a-11ea-9dcc-1d2add7c8eff.png)

- Ch.7 (233p ~ 314p)
- 1회독 하면서 예제 코드 중 실습이 필요한 부분을 직접 코딩
- 개인 TIL Repository에 커밋
[[Spring] 스프링 입문을 위한 자바 객체 지향의 원리와 이해 #3](https://github.com/suhyunsim/TIL/issues/3)

## 목표2: 강의 - 부스트코딩 뉴비 챌린지
- 1, 2주차 분량(1주차 - 강의, 퀴즈, 과제 & 2주차 - 강의, 퀴즈) 수강
    [[

[2020-07-12 13:47] blossun opened #9 "1주차 주간 목표"
## 목표는 최대 2개만 작성.
1. [스프링] 백기선 스프링 프레임워크 핵심 기술 완강
2. [CS50] 부스트코딩 뉴비 챌린지 1,2주차 강의 수강 및 과제

## 목표1 - 스프링 프레임워크 핵심 기술
* [스프링 프레임워크 핵심 기술](https://www.inflearn.com/course/spring-framework_core/dashboard) 완강
* [Repository](https://github.com/blossun/study-spring)에 실습 코드 및 강의 정리 문서 업로드

<details>
  <summary>강의 목차</summary>

**섹션 2. Resource / Validation**

- [x] Resource 추상화
- [x] Validation 추상화

**섹션

[2020-07-16 13:22] guswns1659 commented on #6
## 좋았던 점
- 컨트롤러 테스트부터 레포지토리까지 모든 레이어 TDD를 적용한 점. 확실히 리팩토링이 두렵지 않고 유지보수에 강하다.
- 이슈 단위 별로 API 구현한 점. 에러 발생 시 이슈에 코멘트를 달아서 어떤 API 구현할 때 발생한 문제인지 파악이 가능. 기록이 남으니 정리도 쉽다.

![image](https://user-images.githubusercontent.com/55608425/87675687-a84dd280-c7b2-11ea-971c-ec20f8e2d875.png)

- 새로운 기능 적용 : 위치 기반 API, 사진 업로드 API 기능 구현.
- Spring Data Jpa의 원리를 이해하며 프로젝트를 진행한 점.

[2020-07-16 13:24] guswns1659 commented on #6
## 아쉬운점
- 취업이라는 가장 중요한 목표를 달성하기 위한 활동에 신경을 많이 못 쓴점. 특히, 이력서와 알고리즘. 다음주부터 알고리즘 강의를 주 단위 목표를 잡아서 진행할 예정.

[2020-07-16 18:23] beginin15 commented on #7
## 좋았던 점
- 알고리즘 공부할 때 정해진 분량을 채우려고 애쓰기보다 정해진 시간 안에 할 수 있는 만큼만 하니까 지겹지 않았다.

## 아쉬웠던 점
- 프로젝트랑 병행하고 싶었는데 시간을 잘 분배하지 못했다. 규칙적으로 생활하지 않아서 그런 것 같다.
- 공부 증거(?) 자료를 올리려고 급하게 레포지토리를 만들었는데 개인 블로그가 있었으면 좋았을 것 같다.

## 개선할 점
- 규칙적으로 생활하여 프로젝트와 주간 목표를 병행할 수 있는 시간 확보하기
- 공부 흔적을 남길 수 있는 수단 찾아보기 (GitHub blog, velog 등)

[2020-07-17 00:21] suhyunsim commented on #8
# 목표1 - 커밋 이력
![image](https://user-images.githubusercontent.com/58318786/87734891-d6f99680-c80e-11ea-822c-2ef7bbf53877.png)

[2020-07-17 00:23] suhyunsim commented on #8
# 목표 2 - 수강 완료
![image](https://user-images.githubusercontent.com/58318786/87734944-014b5400-c80f-11ea-888f-31c50fb977cd.png)
![image](https://user-images.githubusercontent.com/58318786/87735001-2dff6b80-c80f-11ea-8648-1ece8482bf65.png)

[2020-07-17 00:30] suhyunsim commented on #8
# 좋았던 점
* 목표를 세우고 기한까지 달성해야 한다고 하니 좀 더 계획적으로 생활할 수 있었다.
* 스프링 공부할 때 실습을 위해 직접 코드를 따라서 쳤는데 책으로 읽기만 하는 것보다 훨씬 기억에 많이 남았다.
* 공부하는 내용을 분야에 따라 브랜치로, 내용에 따라 issue 단위로 나눠서 커밋하고 있는데 이력으로 남으니까 뿌듯하다.

[2020-07-17 00:39] suhyunsim commented on #8
# 아쉬운 점
* 계획을 일요일 밤에 세웠더니 실제로 투자한 시간이 월 ~ 목요일 밖에 없어서 짧게 느껴졌다. 첫 주 차라서 고려하지 못한 부분들이 있었는데 다음 주 차부터는 좀 더 효율적으로 시간을 투자하도록 해야겠다는 생각이 들었다.
* 한 주 동안 목표로 한 일들 외에 진행하던 프로그램들이 있었는데 그 부분에 투자한 시간이 상대적으로 많았다. 그런데 해당 내용들은 비공개로 진행해야 했어서 목표로 선정하지 못해 아쉬웠다.

[2020-07-17 00:41] guswns1659 opened #10 "자바봄 스터디 벤치마킹"
벤치마킹 요소
- 자바 기본기를 키우는 책 스터디. [체계적인 스터디 커리큘럼](https://www.slideshare.net/mobile/ssuser8fdee2/200531-jandi).
- 이력서 / 포트폴리오 작성 후 상호 피드백!
- 강점 집중: 클린코드, TDD, 객체지향과 DDD

총평: 이직기라서 우리와 같은 조건에서 성공한 건 아니다. 그렇지만 기본에 집중했고 그걸 강점으로 만든 점. DB라는 큰 약점이 있어도 강점이 약점을 덮은 케이스.

![Screenshot_20200717-093155_Samsung Internet.jpg](https://user-images.githubusercontent.com/55608425/87735833-98191000-c811-11ea-81af-4b6f81b

[2020-07-17 03:23] guswns1659 opened #11 "1주차 스터디 회고"
- 푸글, 써니, 에버, 제이, 한, 솔라 순서로 제반사항 준비. 임시리더처럼 해도 좋다.
- 지각비 1,000원 11시에 시작
- 목요일 자정 00시에 목표달성 체크.
- 피드백은 지난주차꺼 이번주 목표달성 전까지.
- 5~10분 세미나 시간 할당 가능.
- 한 : 1시간 이내에 끝낼 수 있게 해보기.

[2020-07-17 05:24] beginin15 opened #12 "2주차 주간 목표"
## 목표는 최대 2개만 작성.

## 목표1
- 책 [Do it! 자료구조와 함께 배우는 알고리즘 입문 자바 편](http://www.yes24.com/Product/Goods/60547893?scode=032&OzSrank=3) 5일 동안 2시간씩 보기

  <details>
  <summary>체크리스트</summary>

  | 수행 여부 | 날짜 | 진도 |
  |:--:|:--:|:--:|
  | 7.17 | ■ | p.161 ~ p.170 |
  | 7.18 | □ | |
  | 7.19 | □ | |
  | 7.20 | ■ | p.171 ~ p.177 |
  | 7.21 | ■ | p.178 ~ p.181 |
  | 7.22 | ■ | 하노이 탑 정리, p.182 |
  | 7.23 | ■ |

[2020-07-17 06:00] hsik0225 opened #13 "2주차 주간 목표"
## 목표1
- [x] 알고리즘 50문제 풀이
- [0717] 13 문제
[실습 1단계](https://www.acmicpc.net/step/48) 6문제
[1차원 배열](https://www.acmicpc.net/step/6) 7문제

- [0719] 21문제
[함수](https://www.acmicpc.net/step/5) 3문제
[문자열](https://www.acmicpc.net/step/7) 10문제
[수학1](https://www.acmicpc.net/step/8) 8문제

- [0721] 19문제
[수학2](https://www.acmicpc.net/step/10) 10문제
[재귀](https://www.acmicpc.net/step/19) 4문제
[스택](https://www.acmicpc.n

[2020-07-17 06:50] suhyunsim opened #14 "2주차 주간 목표"
# 개인 목표
## 목표1: 파이썬 강의, 챌린지 완강
- 강의 완강 [Nomad Coders - Python으로 웹 스크래퍼 만들기](https://nomadcoders.co/python-for-beginners/lobby)
<details>
<summary> 1주 차 진도</summary>

- [x] 7/17 목요일
- [x] 7/18 금요일
- [x] 7/19 토요일

</details>

<details>
<summary> 2주 차 진도</summary>

- [x] 7/21 월요일
- [x] 7/22 화요일
- [x] 7/23 수요일
- [x] 7/24 목요일

</details>

## 목표2: 강의 - 부스트코딩 뉴비 챌린지
- 2, 3주 차 분량(2주차 - 과제 & 3주차 - 강의, 퀴즈)

[2020-07-17 08:08] kses1010 opened #15 "2주차 주간 목표"
## 목표는 최대 2개만 작성.

## 목표1 자바 ORM 표준 JPA 프로그래밍 - 기본편 완강 (김영한)
![image](https://user-images.githubusercontent.com/49144662/87763661-1c8a8380-c850-11ea-83e7-1f2c9eb37939.png)

- [x] 1. JPA 소개
- [x] 2. JPA 시작하기
- [x] 3. 영속성 관리 - 내부 동작 방식
- [x] 4. 엔티티 매핑
- [x] 5. 연관관계 매핑 기초

- 정리한 notion [링크](https://www.notion.so/ORM-JPA-d1126beab905456389c6613e59f3b0a6)

## 목표2 Do it! 클론 코딩 영화 평점 웹서비스 제작하기
![image](h

[2020-07-17 10:28] guswns1659 opened #16 "1주차 리뷰어"
잭 -> 솔
푸 -> 한
써 -> 제
에 -> 써
제 -> 에
한 -> 푸
솔 -> 잭

[2020-07-18 04:42] 102092 opened #17 "2주차 주간 목표"
## 목표는 최대 2개만 작성.

## 목표1
- 알고리즘 문제 강의 듣고 문제 풀기
![스크린샷 2020-07-18 오후 1 40 40](https://user-images.githubusercontent.com/22140570/87844834-59ac4f80-c8fc-11ea-8579-b2253510da64.png)
- [x] 강의
- [x] 큐
- [x] 덱
- [x] 스택

## 목표2
- 이력서 초안 작성
- [x] 코드 스쿼드 프로젝트 정리
- [x] todo 추가정리
- [x] airbnb 추가 정리
- [x] 이력서 작성에 참고할 자료 정리
- [x] 이력서 초안 작성

[2020-07-18 08:42] #11 closed, assigned to 102092, beginin15, blossun, kses1010, guswns1659, hsik0225, suhyunsim

[2020-07-18 08:47] guswns1659 opened #18 "2주차 주간 목표"
## 이력서 초안 작성

<details markdown="1">
<summary> 이력서 항목 </summary>

- [x] 나의 소개
- [x] 기술 스택
- [x] 프로젝트
  - 엔젤해커톤 프로젝트
- [x] 교육 및 스터디
- [x] 문제해결 사례

</details>

[이력서](https://docs.google.com/document/d/16lU0p-5uB3IkGTZRvSZwx4xhBIWiM7Lp7Ab0ma-Mi9Q/edit#)

## 패스트캠퍼스 알고리즘 개념 강의 수강 7개

<details markdown="1">
<summary> 강의 7개 </summary>

- [x] 일 1회 알고리즘 강의 수강
- [x] 자료구조와 알고리즘이란
- [x] 주피터 노트북 사용법
- [x] 배열
-

[2020-07-18 16:43] blossun opened #19 "2주차 주간 목표"
## 목표1 - React 공부

*  [ReactJS로 영화 웹 서비스 만들기](https://nomadcoders.co/react-fundamentals) 완강

[![웹서비스만들기](https://i.imgur.com/0Huin0y.png)](https://youtu.be/70TZCtvEJ_4)

## 목표2 - 스프링 부트

* [스프링 부트 개념과 활용](https://www.inflearn.com/course/%EC%8A%A4%ED%94%84%EB%A7%81%EB%B6%80%ED%8A%B8/dashboard)
* [Repository](https://github.com/blossun/study-spring)에 실습 코드 및 강의 정리 문서 업로드

<details>
<summary>강의 목차</s

[2020-07-19 04:18] kses1010 commented on #19
2주차는 1주차하는거 이어서 하는건가요? 아님 오타?

[2020-07-19 04:19] guswns1659 commented on #18
[99콘) 주니어 개발자의 이력서 쓰기 정리 자료](https://baek.dev/post/2/#%EB%A9%94%EC%9D%B8%EC%84%B8%EC%85%982-%EC%A3%BC%EB%8B%88%EC%96%B4-%EA%B0%9C%EB%B0%9C%EC%9E%90%EC%9D%98-%EC%9D%B4%EB%A0%A5%EC%84%9C-%EC%93%B0%EA%B8%B0)

[99콘) 실제 이동욱님 발표 자료](https://speakerdeck.com/weirdx/99con-junieo-gaebaljayi-iryeogseo-sseugi-idongug?slide=20)

[99콘) 이력서 모임 전체 발표자료](https://speakerdeck.com/weirdx/99con-junieo-gaebaljayi-iryeo

[2020-07-19 04:31] guswns1659 commented on #18
경력/프로젝트 기술 방법 예시

![image](https://user-images.githubusercontent.com/55608425/87867078-20d7ad80-c9c4-11ea-8e09-0172f30c53b1.png)

[2020-07-19 04:45] blossun commented on #19
오타 수정했습니다~

[2020-07-19 04:53] guswns1659 commented on #18
[네이버 오픈 클래스 : 지원 질문 목록](https://campaign.naver.com/openclass2020/class1/)

[2020-07-19 04:54] kses1010 commented on #18
대박...

[2020-07-19 05:06] guswns1659 commented on #18
## TDD, OOP 스터디 찾는 중.

[ TDD 잘알못을 위한 돌직구 세미나 후기 - 이동욱님 자료](https://jojoldu.tistory.com/306)

[2020-07-20 13:48] 102092 commented on #17
### 참고할만한 자료
- [이력서 초안 작성](https://jbee.io/career/2020-turnover-2/)
- [개발자 이력서 작성하기](https://brunch.co.kr/@hee072794/132)

[2020-07-21 02:13] guswns1659 commented on #9
목표 달성 축하드립니다!
몇가지 피드백 남겨요!

1. 목표가 상세하게 작성이 된 것 같아요! 특히 강의 목차를 하나씩 적은 건 최고!
달성할 수 있는 단위로 목표를 세우면 확실히 달성하기가 쉬워지는 것 같아요!

2. Repository에 상세하게 기록하는 게 인상깊네요.

![image](https://user-images.githubusercontent.com/55608425/88004917-04ae4a80-cb43-11ea-98c5-490518ea2d49.png)

[2020-07-21 02:33] guswns1659 commented on #18
[김영한님 스프링부트 무료 강의](https://www.inflearn.com/course/%EC%8A%A4%ED%94%84%EB%A7%81-%EC%9E%85%EB%AC%B8-%EC%8A%A4%ED%94%84%EB%A7%81%EB%B6%80%ED%8A%B8/dashboard)

[2020-07-21 02:33] guswns1659 commented on #18
온라인 스터디 플랫폼인데 학습 완주율을 높일 수 있는 고민의 흔적이 잘 묻어남

[스터디파이는 어떻게 일할까?](https://brunch.co.kr/@taewookim/9)

[2020-07-21 02:57] guswns1659 commented on #18
[아나콘다 다운로드 사이트](https://www.anaconda.com/products/individual#windows)

[2020-07-21 06:36] guswns1659 commented on #18
## 파이썬의 큐, 리스트 사용

[code]

- my_list.append(), my_list[0]
- queue.put(), queue.get(), queue.qsize()

[2020-07-21 12:26] suhyunsim commented on #5
* 알고리즘 공부 시작을 어떻게 할 지 고민이 많았는데 한의 추천으로 바킹독 강의도 한 번 들어보려고요! 문제 풀 때마다 저렇게 표시되는게 성취감 느끼기에 좋아보이네요✍
* 항상 책을 읽고 내용에 대해 정리하는 시간을 갖다보면 너무 많은걸 적으려고 해서 시간도 오래 걸리고 금방 지치더라고요. 그래서 한처럼 필요한 것만 정리하는 것도 효율적인 방법 같아요! 깃헙에 마크다운으로 정리하는 습관도 굿굿
시스템 성능에 대해서는 잘 모르지만 그림으로 설명이 잘 되어있다면 이해하는데 도움이 많이 되겠네요.👍 뒷부분은 실무에 관한 내용이라 아쉬웠다고 하셨는데 목차를 봤더니 클라우드나 가상화에 대한 내용이네요. 언젠가 그 지식들이 한한테 필요한 내용이 되길!!

[2020-07-22 04:12] guswns1659 commented on #18
블로그 꾸미기
- [네비게이션 만들기](https://www.dsaint31.me/github.io/jekyll/minimal-mistakes/log4blog/blogging/jekyll-navigation/)
- [네비게이션과 블로그 글 연동](https://blog.jungbin.kim/blog/2018/02/22/apply-sidebar-minimalmistake-jekyll.html)

-> 네이게이션 바 시도했지만 실패. 디렉토리 구조와 관련되어 있는 것 같은데 원인을 정확히 모르게 해결 불가.

[2020-07-22 04:54] kses1010 commented on #7
목표달성하지 못한게 아쉽군요

목표달성하기 어렵다면 아싸리 목표를 확 줄여버리면 목표가 달성됩니다.
그러면 왜 하냐라고 생각하실텐데 애자일 프랙티스에선 목표달성하기 어려우면 목표를 줄이라고 합니다.
"완료할 뻔 했는데".. 보단 "완료"를 하는데 목표를 둔다면 더욱더 목표지향적으로 바뀔거라고 하네요.

### 목표1. 예제로 배우는 스프링 입문

IoC, AOP, PSA에 대해서 자세히 공부하고 기록하니 무엇을 공부했는지 알 수 있어서 좋았습니다.

아쉬운 점은 README.md 에 해당 링크가 있었으면 보기 편했을 듯.

### 목표2.  Do it! 자료구조와 함께 배우는 알고리즘 입문 자바 편

분량을 명시하 않은 이유가 정해진 시간동안이라고 하셨는데 그래도 오늘 해볼수 있는 것만이라도 TIL느낌으로

[2020-07-22 05:24] 102092 commented on #8
- 📖 `스프링 입문을 위한 자바 객체 지향의 원리와 이해` , 책에서 저는 JVM 메모리를 그림으로 쉽게 설명한 부분에서 많은 도움을 받았습니다. 책이 정말 좋더라구요!

- 부스트 코스 CS 기초 과목을 알려주는 강의 같은데, C로 진행하네요?! C 어렵지 않나요 ? 그리고 CS 지식은 저도 걱정되는 부분 입니다. 아무래도 특히 면접 때문에 고민이 되네요. 저 같은 경우에는 우선 키워드 나, 신입 개발자 면접 질문에서 나온 토픽부터 정리하려고 합니다. 같이 힘내봐요 ㅎㅎ

- 좋았던 점과 아쉬웠던 점을 이슈에 적는 방법은 좋네요 👍 . 다음 이슈를 작성할 때 도움을 받을 수도 있을 것 같고, 혹은 아주 나중에 한번 살펴보는 재미도 있을 듯 해요. 저도 한번 이번주에는 작성해보도록 하겠습니다

[2020-07-22 07:06] beginin15 commented on #7
@kses1010
- 공부한 내용을 목차로 만들어서 README를 업데이트하는 거 좋은 것 같아요! 반영하겠습니다.
- 알고리즘 공부도 기록하고 있긴 한데 로컬로만 하고 있습니다. 써니처럼 notion을 이용해서 url을 공유하는 것도 괜찮은 것 같아요!

피드백 감사합니다~

[2020-07-22 07:16] beginin15 commented on #4
- 여러 주제를 병렬적으로 공부하는 방법 좋은 것 같아요! 저도 하루종일, 며칠동안 똑같은 주제만 공부하면 쉽게 질려서 오히려 목표를 달성하지 못했던 경우가 많았거든요!
- 정보 처리 기사는 정말 재미를 붙이기 힘든 공부라 고생이 많으실 것 같아요 ㅠㅠ 정처기는 시험 볼 날짜를 미리 확정해야 억지로(?)라도 하게 된다고 하더라구요. 혹시 아직 시험 날짜를 정하시지 않았다면 미리 등록해보시는건 어떤지..?!
- 만약 노션에 공부한 내용을 정리하셨다면 url을 공유하는 것도 좋을 것 같아요!

[2020-07-22 07:32] guswns1659 commented on #18
네이버를 만든 기술 읽으면서 배운다

1. 날짜 클래스의 문제점
- JDK1.8 이전 Data, Calendar 객체는 문제점이 많았다.
- 1.8에서는 Joda-Time의 영향을 받아 ZoneDateTime 객체를 생성했다.
- 날짜는 중요한 개념이지만 나라마다 달라서 복잡하긴하다.

2. HashMap의 동작 방법
- 자바는 open addressing이 아닌 separate chainning(연결리스트) 방식으로 해시버킷에 값을 할당한다.
- JDK 1.8 이후 버킷에 연결된 노드의 개수가 일정 개수 이상이면 트리로 변경한다.
- String 클래스의 hashCode() 메서드에서 31을 승수로 사용하는 이유는 성능 향상을 위한 것이다.

3. 자바에서 외부 프로세스를 실행할 때
- 외부 프로세스를 실

[2020-07-22 15:32] beginin15 commented on #12
## 목표 1
- 재귀 파트에 진입하니 진도가 나아가질 않는다. 어렵다!
- 개념이나 원리를 직접 도식화해보고 싶어서 몇개 그려봤는데 그리는데 시간을 많이 쓴 것 같다. 😅

<img width="1048" alt="스크린샷 2020-07-23 오전 12 59 24" src="https://user-images.githubusercontent.com/33659848/88199495-e5690780-cc7f-11ea-9ad2-ed64d8ce63a3.png">

<img width="1001" alt="스크린샷 2020-07-23 오전 12 59 11" src="https://user-images.githubusercontent.com/33659848/88199441-d5512800-cc7f-11ea-840d-

[2020-07-22 15:37] beginin15 commented on #12
## 목표 2
- 저번 목표 때 @blossun 님이 커밋으로 강의 내용 흐름을 남기면서 공부하는 방법을 소개해주셔서 따라해보았다. 내용 정리할 때 커밋 url을 첨부할 수 있어서 좋았다!
- [강의 내용 복습용 레포지토리](https://github.com/beginin15/spring-framework-core)
- [강의 내용 정리 레포지토리](https://github.com/beginin15/lecture)

[2020-07-23 02:38] blossun commented on #6
이슈의 코멘트를 통해서 해당 API를 구현하면서 어떠한 정보가 필요했고 어떤 문제들이 있었는지 파악하기가 쉽네요.  에러와 해결과정이 담겨있어 나중에 참고하기 좋을 것 같아요!!
모든 레이어 TDD를 적용했다니 👍👍👍
프로젝트 아이디어도 좋네요!! 해커톤 수고하셨습니다~~
좋은점과 아쉬운점을 코멘트로 남기는 방법도 좋네요 ㅎㅎ 저는 매일 회고를 남기려고 하지만 지켜지지 못하는 날이 많아서 이렇게하면 최소한 일주일의 회고를 남길 수 있겠네요!!

[2020-07-23 04:34] 102092 commented on #17
### 목표 1 달성
![image](https://user-images.githubusercontent.com/22140570/88252475-437e0500-cce9-11ea-95da-9402cbf26a83.png)

[2020-07-23 10:03] suhyunsim commented on #14
# 목표1: 파이썬 강의 수강 및 실습
![주석 2020-07-23 185833](https://user-images.githubusercontent.com/58318786/88274453-b651a500-cd16-11ea-86dd-08f64b6e012f.png)

* Indeed, Stackoverflow 사이트 채용공고 정보 웹 스크래퍼 만들기
* 추출한 정보 csv 파일로 추출하기
![image](https://user-images.githubusercontent.com/58318786/88274730-219b7700-cd17-11ea-984b-a3becde7d0da.png)
* Django 기초 내용 공부

[2020-07-23 10:05] suhyunsim commented on #14
# 목표2: 강의 - 부스트코딩 뉴비 챌린지
* C 언어 기초 내용
![image](https://user-images.githubusercontent.com/58318786/88274864-645d4f00-cd17-11ea-8317-e2b29d5421c1.png)

[2020-07-23 10:07] suhyunsim commented on #14
# 목표3: 독서 - 스프링 입문을 위한 자바 객체 지향의 원리와 이해
* 부록 A. 스프링 MVC를 이용한 게시판 구축 실습

### 구성
    - STS 3
    - Tomcat v9.0 Server at Localhost
    - 인메모리DB: HSQL
    - 스프링 프레임워크 데이터베이스 지원 라이브러리 추가: spring-jdbc
    - VO와 MyBatis를 이용한 DAO 구현
        - mybatis-spring
        - mybatis
        - spring-orm

### 단위테스트 작성
![image](https://user-images.githubusercontent.com/58318786/88300594-9e8e1700-cd3e-11ea-9f2e-464

[2020-07-23 10:09] suhyunsim commented on #14
# 공통 목표: 이력서 준비
![image](https://user-images.githubusercontent.com/58318786/88275231-fd8c6580-cd17-11ea-8275-d28ce4eb9d44.png)

* Notion에 정리, 금요일 스터디 때 공유 예정

[2020-07-23 10:17] suhyunsim commented on #14
# 좋았던 점
* 목표로 했던 개구리 책, Python 강의와 부스트코스 강의를 늘어지지 않고 완료할 수 있었다.
* 이력서 초안 작성을 위한 자료조사를 할 수 있었다. 스터디가 아니었으면 나중으로 미룰 것이 분명했다.

# 아쉬운 점
* 아직까지는 목표를 선정하는데 있어서 적당한 양을 모르겠다. 많은가 싶다가도 집중을 안하고 보낸 시간이 꽤 있었다. 집에서 일찍 나오는 습관을 들여서 좀 더 효율적으로 스터디를 활용하고 싶다.

[2020-07-23 10:33] 102092 commented on #17
### 목표 2 달성
- [프로젝트 정리](https://github.com/102092/codesquad-projects)
- [이력서 초안](https://www.notion.so/Back-End-ca09f0d2f1a04243b86ad7a054c35ab9)

[2020-07-23 13:11] 102092 commented on #17
### 추가적으로 해야될 사항
1. 가능한 A4 1페이지에 들어가도록
2. 프로젝트 설명에 어떤것이 들어가 있으면 좋을지
3. 프로젝트 정리 피드백 + 수정

[2020-07-23 13:29] #4 closed, assigned to hsik0225

[2020-07-23 13:29] #5 closed, assigned to 102092

[2020-07-23 13:29] #6 closed, assigned to guswns1659

[2020-07-23 13:29] #7 closed, assigned to beginin15

[2020-07-23 13:29] #8 closed, assigned to suhyunsim

[2020-07-23 13:29] #9 closed, assigned to blossun

[2020-07-23 13:35] kses1010 commented on #15
## 추후 목표 설정
- 강의를 보는 활동보다 읽지 못한 책 + 자바이외의 언어 공부를 잡을 것.

[2020-07-23 14:59] beginin15 commented on #12
## 결과
- 목표 3번을 아예 수행하지 못했다. 저번 주에 이어서 실패...
- 저번 주에 목표를 달성하지 못했음에도 불구하고 목표량을 줄이지 않은 것이 원인인 것 같다.

[2020-07-23 15:09] blossun commented on #19
# 목표1
<img width="1225" alt="스크린샷 2020-07-24 오전 12 01 58" src="https://user-images.githubusercontent.com/35985636/88302563-f463be80-cd40-11ea-8d54-bdfdd0283a1d.png">
마지막 `#6 ROUTING BONUS` 강의를 제외하고 수강 완료!

React Native를 공부하기 전 React를 먼저 공부해보았다. 앞단에서 API를 받아와서 데이터를 랜더링하는 과정을 알 수 있어 좋았다.
react는 소스코드에 처음부터 HTML을 넣지 않는다. 그래서 애플리케이션을 실행하면 빈 HTML을 로드한 다음에 react가 우리가 component에 작성했던 것들을 HTML에 밀어

[2020-07-23 15:25] hsik0225 commented on #3
- 노션으로 깔끔하게 정리해놓으니 정말 보기 좋네요. 나중에 꺼내읽기도 쉽고, 보여주기용 자료로 써도 괜찮아서 좋은 방법인 것 같습니다!

- 자바의 정석 써니가 정리해놓은 걸 살짝 봤는데 정말 모르는 내용이 많네요. 저도 자바 공부를 시작해야겠다고 생각하게 되네요

[2020-07-24 01:16] beginin15 commented on #12
## 목표3
[노션 정리](https://www.notion.so/aboutj/49492989ec0247f1a514b945fd91a58a)

[2020-07-24 01:55] #3 closed, assigned to kses1010

[2020-07-24 02:08] blossun commented on #19
[C언어](https://modoocode.com/231#page-heading-17)

[2020-07-24 05:29] suhyunsim opened #20 "3주차 주간 목표"
# 개인 목표
## 목표1: 강의 - 부스트코딩 뉴비 챌린지
- 3, 4주 차 분량(3주차 - 과제 & 4주차 - 강의, 퀴즈) 수강
    [[부스트코스] 모두를 위한 컴퓨터 과학 (CS50 2019)](https://www.edwith.org/boostcourse-cs-050)

- [x] 3주 차 과제 풀이
<details>
<summary> 4주 차 강의: Algorithms </summary>

- [x]  **[1) 검색 알고리즘](https://www.edwith.org/boostcourse-cs-050/lecture/119019/)**
- [x]  **[2) 알고리즘 표기법](https://www.edwith.org/boostcourse-cs-050/lecture/119020/)**
- [x]

[2020-07-24 06:10] hsik0225 opened #21 "3주차 주간 목표"
## 목표1
- [ ] 알고리즘 40문제 풀이
- [0724] 7문제
[큐, 덱](https://www.acmicpc.net/step/12) 7문제

- [0726] 5문제
[브루트 포스](https://www.acmicpc.net/step/22) 5문제

- [0727] 9문제
[백트래킹](https://www.acmicpc.net/step/34) 9문제

## 목표2
- [ ] 자료구조 Cp8 정렬 끝내기

[2020-07-24 06:34] guswns1659 opened #22 "2주차 리뷰어"
잭 -> 한
푸 -> 써
써 -> 제
에 -> 솔
제 -> 푸
한 -> 잭
솔 -> 에

[2020-07-24 07:32] beginin15 opened #23 "3주차 주간 목표"
## 목표는 최대 2개만 작성.

## 목표1
- 인프런 [스프링 프레임워크 핵심 기술](https://www.inflearn.com/course/spring-framework_core#) 섹션 2, 3, 4

  <details>
  <summary>체크리스트</summary>

  IoC 컨테이너와 빈
  - [x] 섹션 2. Resource 추상화
  - [x] 섹션 2. Validation 추상화
  - [x] 섹션 3. 데이터 바인딩 추상화: PropertyEditor
  - [x] 섹션 3. 데이터 바인딩 추상화: Converter와 Formatter
  - [x] 섹션 4. SpEL

  </details>

## 목표2
- 부스트코스 뉴비 챌린지 이번 주차 [강의](https://www.edw

[2020-07-25 03:50] kses1010 opened #24 "3주차 주간 목표"
## 목표는 최대 2개만 작성.

## 큰 목표
![image](https://user-images.githubusercontent.com/49144662/88448128-3ee65780-ce75-11ea-9e04-ffbbf4129853.png)
- 이동욱님의 말대로 교육 스터디 주제에 맞는 서적 읽기

## 목표1
### 첫번째: 테스트 주도 개발 TDD   - 켄트 백
![image](https://user-images.githubusercontent.com/49144662/88448075-bff11f00-ce74-11ea-94a4-56df6dfe15cc.png)

1부 완독 하기
- [x] 다중 통화를 지원하는 Money 객체
- [x] 타락한 객체
- [x] 모두를 위한 평등
- [x] 프라이버시
-

[2020-07-25 07:38] guswns1659 opened #25 "3주차 주간 목표"
## 목표1 : 자료구조 강의 해쉬테이블, 트리, 힙 15개 강의 수강
- [x] 해쉬테이블 3~5
- [x] 트리 1~8
- [x] 힙 1~4

## 목표2 : 이력서 완성도 높이기
이력서에 첨부할 프로젝트 중 하나인 이슈트래커를 Spring Data Jpa와 TDD를 적용해서 다시 구현하기

![image](https://user-images.githubusercontent.com/55608425/88813319-bdcfed00-d1f3-11ea-8f0d-362f7f274667.png)

- [x] 기능 분석 후 이슈 등록
- [x] 등록된 이슈 절반 closed하기

![image](https://user-images.githubusercontent.com/55608425/88919419-0516b60

[2020-07-25 07:39] guswns1659 commented on #25
객체[] 에서 각 배열의 요소를 초기화할 때 주의할 점은 각 배열의 요소를 인덱스로 접근해서 초기화해야 한다.
실수하기 쉬운 요소..!! 배열을 자주 다루지 않으니 디버깅하는데 시간이 걸렸다.
- 아래 코드를 참고하면 주석된 코드는 제대로 초기화가 되지 않는다.

[code]

[2020-07-25 08:00] 102092 opened #26 "3주차 주간 목표"
## 목표는 최대 2개만 작성.

## 목표1
- [x]  BFS 강의
- [x] 문제풀이 5문제
   ![image](https://user-images.githubusercontent.com/22140570/88452342-e1fc9880-ce98-11ea-8037-84f201fea54e.png)
- [x] 프로젝트 패키지 정리

## 목표2
- [x] 상세 이력서 작성
- [x] 코드 스쿼드 프로젝트, 깔끔하게 정리
  - 내가 담당한 부분을 명시
  - 학습방법, 배운점
  - 아쉬웠던 점
- [x] 피드백 요청

[2020-07-25 08:01] 102092 commented on #17
## 좋았던 점
- 확실히 목표에 대해 공유하고, 명시해놓으니 한번씩 체크하고 하게 만드는 힘이 있음.
- 조금 부족한 상태라고 생각해도, 우선 이력서를 정리해보면 내가 어떤 부분을 보충해야겠구나 느낄 수 있는 계기가 되는듯.

[2020-07-25 08:03] 102092 commented on #17
## 아쉬운 점
- 알고리즘 문제 푸는 게 살짝 부담 되었음. 실버3~골드5 사이의 문제들이었는데, 문제 이해부터 풀이 까지 문제당 한시간 이상은 걸린듯 하다
- 아직 문제 풀이가 부족함을 느낀다.
- 자료구조, 네트워크, 운영체제 필요한 컨셉에 대해 정리해야겠다는 필요성이 생겼음.
- 이동 중에 시간을 너무 헛되이 소비하는 듯하다. 좀 더 다른 일을 생각해봐야겠다

[2020-07-25 08:54] guswns1659 commented on #25
## 자바에서 sha256를 이용해 해시를 만드는 법

[code]

## 16진수, 8진수 값을 10진수 정수로 만드는 법

[code]

[2020-07-27 02:45] guswns1659 commented on #25
## 자바와 파이썬의 차이

- 파이썬은 함수가 독립적으로 존재 가능. 절차지향적 프로그래밍도 수용한 듯
- 접근 제어자, 타입이 없다. -> 나중에 헷갈리지 않을까?
- 객체의 프로퍼티에 .(dot 연산자)를 통해 바로 접근한다. 객체 지향적으로 메세지를 보내는 느낌이 아니고 캡슐화가 되어 있지 않는 느낌.

[2020-07-27 05:56] guswns1659 commented on #25
## 파이썬 설치 및 파이참 설정

[파이참 설정](https://dora-guide.com/pycharm-install/)
[파이썬 설치](https://wikidocs.net/8)

[2020-07-27 12:20] guswns1659 commented on #17
- 목표를 세우니 달성하는 힘이 생긴다고 하니 뿌듯하네요! 스터디의 취지가 잘 반영되는 것 같아서 좋습니다!!
- 알고리즘 문제를 꾸준히 풀고 있는 것 같아 좋네요. 다만, 문제풀이에 대해 부족함을 느끼고 계시니 책이나 강의로 보충하면 어떨까 싶네요!
- 저도 이력서에 담을 프로젝트를 다시금 정리하고 있습니다. 서로 자극을 줄 수 있으니 좋네요!

[2020-07-28 07:04] guswns1659 commented on #25
## 이진탐색트리 삭제 조건
1. 삭제하는 노드의 자식노드가 없을 때
2. 삭제하는 노드의 자식노드가 1개 있을 때
  2-1 자식이 왼쪽일 때
  2-2 자식이 오른쪽일 때
3. 삭제하는 노드의 자식노드가 2개 있을 때
  3-1 바뀌는 노드의 자식노드가 1개 있을 때
  3-2 바뀌는 노드의 자식노드가 0개 있을 때

[2020-07-28 08:59] #16 closed, assigned to 102092, beginin15, blossun, kses1010, guswns1659, hsik0225, suhyunsim

[2020-07-28 16:07] 102092 commented on #26
## 목표 2
- https://www.notion.so/Codesquad-Java-Backend-Projects-afe0454ddf5a4ddfa5c20218ef64d18c

[2020-07-29 01:21] blossun commented on #13
정리가 잘되어있네요!!👍 특히 알고리즘 팁이 아주 유용 🤓 비트연산이 가지는 성질도 종종 쓸 일이 있어서 정리해두고 보기가 좋은 것 같아요👏

[2020-07-29 02:42] kses1010 commented on #12
허허허 이번주도 제이 리뷰어이군요. 보면서 제가 느낀점 말씀드리겠습니닷.

- 지난번보다 훨씬 좋아졌군요. notion으로 정리하거나 아니면 레포지토리를 만들어 정리하신게 정말 좋습니다.
- 정리한 노트에 구현코드 링크까지 달아놔서 알기 쉬워졌군요. 다만, lecture README에  목차 링크라도 달아놨으면 더 좋았을 듯.
- 이력서 피드백은 아직 준비중이시니 하지않을게용.
- 아쉬운점은 목표가 1주, 2주 연속으로 달성못한게 아쉽네요. 차라리 목표를 하나만 두고 그거만 달성하는건 어떠신지 아니면 확실하게 2개만 하고 목표를 반으로 줄여버리는 방법도 괜찮아 보입니다. 저는 3주차때 목표하나만 두었습니다.

목표를 달성못했지만 그동안 공부하느라 고생하셨습니다.

[2020-07-29 06:07] guswns1659 commented on #25
[배열, 스택, 큐, 연결리스트, 트리, 힙 정리](https://docs.google.com/document/d/17FzC-lVW9BYvjSKiyMH9Ix6yg7I3rAuXQEB4h-CYRo4/edit?usp=sharing)

[2020-07-29 16:13] beginin15 commented on #12
@kses1010 피드백 감사합니다~ 이번 주에는 말씀하신대로 목표를 줄여서 달성해보도록 노력하겠습니다! 써니도 테스트코드 공부 화이팅하세요!

[2020-07-30 04:28] beginin15 commented on #14
- 가장 인상 깊은 부분은 TIL 레포지토리에 공부해야할 내용을 이슈로 등록해놓은 부분이었습니다! 공부하면서 남긴 커밋 기록이 이슈에서 한번에 보이니까 정말 좋은 것 같아요. 저도 인강 들으면서 커밋 기록을 남기고 있는데 브랜치별로 커밋은 확인할 수 있지만 전체 커밋을 보기에는 불편했거든요...푸글이 하신 방식을 참고해서 강의별로 이슈로 남겨봐야겠어요!
- 목표 내용들이 제 기준에선 결코 적은 양이 아닌데 달성하신 것이 대단합니다...! 👍 수고하셨습니다!!

[2020-07-30 05:08] 102092 commented on #26
### 목표 1
![image](https://user-images.githubusercontent.com/22140570/88883020-2eb3eb00-d26e-11ea-9fcd-39eaafeb3949.png)

[2020-07-30 05:09] 102092 commented on #26
- BFS, 문제 내용을 통해 파악하는데 생각보다 힘듬. 아직 적응 덜 되어서 그런 것일 수도..

[2020-07-30 05:23] 102092 commented on #18
### 피드백
- 파이썬으로 알고리즘 공부하시는 것 같은데, 어렵진 않으신가요? 저 같은 경우 파이썬으로 문제 풀이를 도전했다가 Java와의 상이점 때문에 시간이 더 들것 같아 포기한 경험이 있습니다..ㅠㅠ
- 파이썬과 자바 알고리즘 문제 풀이에서 어떤 차이점이 있는지 알아보면 좋을듯 합니다!
- 어디서 이렇게 좋은 소스들을 찾으시는지 모르겠네요 👍  , 이력서 작성할 때 잭이 공유해주신 자료를 많이 참고했습니다!
- 금요일에 알고리즘, 이력서에 대해 같이 공유해봐요!

[2020-07-30 09:56] beginin15 commented on #23
## 목표 2
### 강의
![스크린샷 2020-07-30 오후 6 55 46](https://user-images.githubusercontent.com/33659848/88909653-5dde5280-d296-11ea-8a17-f6b6b337580c.png)
### 미션
- 4주차 미션은 금요일에 공개되므로 달성 기준에서 제외시켰습니다.

[2020-07-30 10:03] beginin15 commented on #23
## 목표 1
- 이번 목표에서는 강의 정리를 포함하지 않고 듣는 것만 기준으로 체크했습니다.
- 다음 주 목표에 포함시켜 정리할 예정입니다.

[2020-07-30 11:16] suhyunsim commented on #15
### 목표1: 자바 ORM 표준 JPA 프로그래밍
* 김영한님 JPA 강의 완강하셨네요. 고생하셨어요! 처음 JPA 사용할 때는 뭔지도 잘 모르고 썼는데 확실히 공부하고 나서 써보면 더 얻어가는게 많을 것 같아요. 인강을 들으면서 느끼는건 확실히 직접 실습을 해봐야 기억에 남더라고요. 꼼꼼히 정리도 하시고 대단합니다!

### 목표2: 클론코딩
저도 지난 주 목표로 파이썬 실습을 했는데 언어를 지루하지 않게 공부하는 방법으로는 클론코딩이 적격인 것 같아요. 그리고 익숙해진 후에, 또 궁금한 점들이 생긴 후에 문법 같은 자세한 부분들을 깊게 공부하는게 확실히 효율적이더라고요! 써니도 자바 외에 다른 언어들에도 관심이 많은 것 같은데 같이 이것 저것 공부해봐요~ 한 주 동안 고생 많으셨습니다!

[2020-07-30 11:56] hsik0225 commented on #19
스프링, React, C언어까지 여러가지 공부하셨네요
저는 동영상 강의가 집중이 잘 되지 않아서 힘들었는데 이 많은 강의들을 완강하시다니 대단하시네요.
이번 주 수고하셨습니다!

[2020-07-30 13:05] suhyunsim commented on #20
### 목표1: 강의 - 부스트코딩 뉴비 챌린지
![image](https://user-images.githubusercontent.com/58318786/88925904-2bd9ea00-d2b0-11ea-9fb4-cb766122a0a6.png)
![image](https://user-images.githubusercontent.com/58318786/88925923-35635200-d2b0-11ea-8664-868873b6b8d2.png)

### 목표2: Hello Coding 그림으로 개념을 이해하는 알고리즘 (귤책) 독서
* 목표1과 병행하면서 같은 진도의 내용을 개인 notion에 정리

### 목표3: 이력서 초안 작성
* 필요없는 repository를 삭제하고 TIL 내용 보충
* README.

[2020-07-30 13:11] suhyunsim commented on #20
# 좋았던 점
* 새로운 것을 공부할 때 항상 가장 쉬운 기본서 혹은 만화나 동화책 수준의 내용부터 접근해서 개념에 익숙해지도록 하는 편인데 귤책 난이도가 적절했던 것 같다. 마침 cs50 강의에서도 알고리즘 내용을 다루고 있어서 병행하기에 좋았다. 같은 개념을 python과 C 두 언어로 구현해본 점도 재미있었다.
* 강의 듣기를 매주 목표로 두니 확실히 균형있게 나눠서 들을 수 있다. 나중에 몰아 듣지 않게 되어서 매번 목표로 설정해야겠다.

# 아쉬운 점
* 이력서 관련해서는 많은 것들을 해보지 못했다. 특히 Github repository 정리를 마무리하고자 했는데 기존에 프로젝트 완성률이 높지 않아서 너무 많은 것들을 수정해야 하는 상황이다. 기존 과정 중 내용들을 구체적으로 할당하는 것이 정리 및

[2020-07-30 13:17] beginin15 commented on #23
## 회고
### 목표 1
| 평가 | 내용 |
|:--:|:--:|
| 😄 | 강의를 듣는 시간보다 정리하는데 시간이 오래걸려서 정리하는 것을 달성 기준에 포함시키지 않았더니 목표를 달성하는데 어려움이 없었다. |
| 🤔 | 이번 주는 목표량을 너무 줄였더니 공부했다는 성취감이 별로 없는 것 같다. |

### 목표 2
| 평가 | 내용 |
|:--:|:--:|
| 😄 | 정렬 알고리즘 종류와 성능 표기법(빅오, 오메가, 세타)을 굉장히 쉽게 설명해줘서 개론적으로 이해하기 좋았다. |
| 🤔 | 부스트코스 뉴비 챌린지가 만만(?)하다고 생각했는데 이번 알고리즘 강의에서 처음 듣거나 모르는 개념이 나왔다. 알고리즘 분야가 확실히 취약하다는 것을 알 수 있었다. |

### 저번 주와 비교
| 평가 | 내용

[2020-07-30 15:14] guswns1659 commented on #23
회고가 인상 깊어서 남깁니다 ㅎㅎ
지난주에 비해 목표량이 낮아서 아쉬웠다고 했지만 달성한 모습을 보니 저도 뿌듯해지네요!!

[2020-07-31 04:30] #12 closed, assigned to beginin15

[2020-07-31 04:30] #13 closed, assigned to hsik0225

[2020-07-31 04:30] #14 closed, assigned to suhyunsim

[2020-07-31 04:30] #15 closed, assigned to kses1010

[2020-07-31 04:30] #17 closed, assigned to 102092

[2020-07-31 04:30] #18 closed, assigned to guswns1659

[2020-07-31 04:30] #19 closed, assigned to blossun

[2020-07-31 04:32] guswns1659 opened #27 "3주차 리뷰어"
잭 ->  써
푸 ->  제
써 ->  한
에 ->  푸
제 ->  잭
한 ->  에

[2020-07-31 04:32] #22 closed, assigned to 102092, beginin15, blossun, kses1010, guswns1659, hsik0225, suhyunsim

[2020-07-31 06:44] suhyunsim opened #28 "4주차 주간 목표"
# 개인 목표
## 목표1: 강의 - 부스트코딩 뉴비 챌린지
- 4 ~6주 차 분량(4주 차 - 과제 & 5, 6주 차 - 강의, 퀴즈) 수강
    [[부스트코스] 모두를 위한 컴퓨터 과학 (CS50 2019)](https://www.edwith.org/boostcourse-cs-050)
- 강의 완강 후 관련 공부를 하기 위해 2주 분량을 목표로 잡기

- [x] 4주 차 과제 풀이
<details>
<summary>5주 차 강의: Memory </summary>

- [x]  **[1) 메모리 주소](https://www.edwith.org/boostcourse-cs-050/lecture/119027/)**
- [x]  **[2) 포인터](https://www.edwith.org/boostcourse-

[2020-08-01 03:57] guswns1659 opened #29 "4주차 주간 목표"
## TDD, 클린코드 색깔 적용한 이력서 완성
- [x] 엔젤해커톤 프로젝트
- [x] 이슈트래커 클론 프로젝트

- [이력서링크](https://docs.google.com/document/d/17aG9P6NQo555xxFXqLU5cbejxt73aehLNaER9A8z7EQ/edit)

### 추가 목표
이유 : 이력서 비하인드 웨비나를 시청 후 블로그 및 저장소 정리가 필요하겠다는 생각을 함
- [x] 블로그 사이드바, 메뉴바 설정하기
- [블로그 주소](https://guswns1659.github.io/month-archive/)

## 알고리즘 강의 5강
- [x] 정렬 알고리즘 개요
- [x] 버블 정렬1
- [x] 버블 정렬2
- [x] 선택 정렬
- [x] 삽입 정렬

## 아쉬운 점
- 면접

[2020-08-01 03:59] guswns1659 commented on #29
## 깃 커밋 메세지의 본문을 WHY를 쓰는 방법으로 연습하자

- 주로 HOW로 작성함. 어차피 코드에 어떻게 구현했는지는 적혀있으니 왜 구현했는지에 집중하자.

Before :

![image](https://user-images.githubusercontent.com/55608425/89093580-bc224700-d3f6-11ea-96f2-fa0bdd1699d0.png)

[2020-08-01 04:31] 102092 commented on #26
### 좋았던 점
- 문제를 많이 풀어봐야겠다는 것을 느꼈음. 또한, C++ 이지만, 정답에 가까운 답지가 있다보니 너무 안 풀리면 잠깐 참고할 수 도 있었던 점이 괜찮았는듯.

### 아쉬웠던 점
- 하루에 많은 시간을 투자하지 못했음. 처음 BFS 문제를 푸는 만큼, 시간이 오래 소요되는 것은 당연하지만 충분한 인내심을 가지지 못한듯.
- 이력서를 작성할 때 나만의 개성을 어떻게 드러낼 수 있을지 아직 감이 안옴.
- 자료구조에 대해 정리가 필요할 듯.

[2020-08-01 04:38] 102092 opened #30 "4주차 주간 목표"
## 목표는 최대 2개만 작성.

## 목표1
- 알고리즘 문제 풀이
- [x] DFS 강의 듣기
- [x] BFS 5문제
![image](https://user-images.githubusercontent.com/22140570/89094100-98153480-d3fb-11ea-8bfd-198e5e1bc8b9.png)

## 목표2
- 자료 구조 Notion 정리
   - 핵심 개념 정리, 간단한 예제 코드 따라 쳐보기
- 도서 : [다양한 예제로 학습하는 데이터 구조와 알고리즘 for Java](http://m.yes24.com/goods/detail/12103026)
- 참고 : [영리한 프로그래밍을 위한 알고리즘](https://www.inflearn.com/course/%EC%95%8C%EA%B3%

[2020-08-02 10:49] kses1010 opened #31 "4주차 주간 목표"
## 목표는 최대 2개만 작성.

## 목표1
### 테스트 주도 개발 정리
notion 링크:
- [x] 2부 xUnit 예시
- [x] 3부 테스트 주도 개발의 패턴

[2020-08-02 12:10] hsik0225 opened #32 "4주차 주간 목표"
## 자료구조 및 알고리즘
- 알고리즘 정렬파트 공부 및 문제 풀이
- [x] 자바와 함께하는 자료구조 정렬파트
- [ ] 백준 알고리즘 정렬 문제
[정렬](https://www.acmicpc.net/step/9)

- 자료구조 공부
- [ ] 윤성우 자료구조 1챕터

[2020-08-02 14:49] beginin15 opened #33 "4주차 주간 목표"
## 목표는 최대 2개만 작성.

## 목표1
넥스트스텝 TDD 자동차 경주 3단계까지 PR 보내기

<details>
<summary>체크리스트</summary>

- [x] 1단계 - 테스트 실습
- [x] 2단계 - 문자열 계산기
- [ ] 3단계 - 자동차 경주

</details>

## 목표2
책 [Do it! 자료구조와 함께 배우는 알고리즘 입문 자바 편](http://www.yes24.com/Product/Goods/60547893?scode=032&OzSrank=3) 3일 동안 2시간씩 보기

<details>
<summary>체크리스트</summary>

  | 날짜 | 수행 여부 | 진도 |
  |:--:|:--:|:--:|
  | 8.03 | | |
  | 8.04 | v | p.196

[2020-08-03 03:42] guswns1659 commented on #29
## 이력서 비하인드 스토리 정리

### 기억에 남는 말
- 이력서의 최종 목적은 면접관이 읽을 수 있게 매력을 어필해야 한다.!!

**- 다양한 피드백을 어느 수준까지 수용해야 하는지?**
워니 : 내가 피드백을 받고 싶은 요소를 확실히 정했다. 이전 직장에서 엔지니어 일보단 리드, 인프라 등 다양한 업무를 하다보니 엔지니어 역량을 어필하는 게 부족하다는 생각을 했음. 많은 사람이 아니라 2명한테 받았다.

**- 진유림님의 이력서 피드백은 어땠는지?**
유림 : 탈한국식 이력서 피드백을 받았는데, 한장으로 요약해라, 두괄식으로 해라, 한문장씩 수치화를 해라.
윤혁 : 면접관도 바쁜 사람이기 때문에 나의 고객이라 생각해보자. 회사에 대한 분석이 있으면 다시 보게 된다.

**- 지원할 때 이것만은 하지

[2020-08-04 02:40] guswns1659 commented on #29
## 블로그 레이아웃 설정

### 로컬에서 미리보기 설정할 때
- 먼저 루비를 설치한다 : sudo apt install ruby

- bundle install 하면 activesupport-6.0.3.1이 설치 안된 다는 에러가 발생한다.
[해결방법](https://makandracards.com/makandra/51932-bundler-error-downloading-gem-revealed-dependencies-not-in-the-api)
  - 이런 메세지가 뜬다. 에러 메세지 추천대로 --full-index 또는 bundle update~를 해도 동작하지 않을 때는 다른 방법으로 한다.

[code]
  - Gemfile.lock에 들어가 에러메세지의 (other-gem (<3))을 복사해서 해

[2020-08-04 06:10] guswns1659 commented on #29
## assertJ에서 Exception 테스트하기

- [참고 : 밸덩](https://www.baeldung.com/assertj-exception-assertion)

[code]

[2020-08-04 07:48] guswns1659 commented on #29
## String, StringBuffer, StringBuilder의 차이

- String은 불변객체라서 연산이 수행되면 메모리에 새로운 객체를 생성해 반환한다. JDK5.0 이상에서는 단순히 문자열을 더하는 경우에 컴파일러가 자동으로 StringBuilder로 변경해준다.
- StringBuffer는 스레드에 안전하다. 다양한 쓰레드에서 접근해도 값을 안전하게 유지된다.
- StringBuilder는 스레드에 안전하지 않다.

[2020-08-04 08:02] guswns1659 commented on #29
## static 제대로 한번 써 보자

- static은 반드시 메모리에 올라가고 GC의 대상이 되지 않는다.
- 자주 바뀌지 않는 값이라면 static으로 선언하자. 잘 모르면 static을 사용하지 않는다.

[2020-08-04 08:13] guswns1659 commented on #29
## CDN (Content Delivery Network)

- 별도의 URL에서 정적인 컨텐츠들을 다운받을 수 있는 네트워크
- 동적인 컨텐츠는 WAS에서 처리하도록 한다.

[2020-08-04 08:32] guswns1659 commented on #29
## JVM은 도대체 어떻게 구동될까?

- 컴파일이란 상위 레벨의 언어를 기계가 이해할 수 있는 언어로 변환하는 작업. \
- JIT(Just In Time) 옵티마이저의 역할이 뭐야?
- 1독했는데 내용 이해가 어렵다 ㅋㅋ.. 백기선님 더 자바 강의를 보고 싶기도 하고..

[2020-08-04 09:15] guswns1659 commented on #29
## 도대체 GC는 언제 발생할까?

- 어렵다..
- GC는 힙영역에서 동작하고 에덴, 영, 올드 영역에 객체가 쌓이면 가비지 콜렉션이 동작한다.
- GC는 5개 방식이 있고, G1 (Garbage First Collector)가 가장 성능이 좋다.

[2020-08-04 13:12] guswns1659 commented on #29
Junit5에서 @MethodSource로 배열 여러개를 인자로 한번에 받는 법

[code]

[2020-08-05 12:34] guswns1659 commented on #29
## Docker 명령어

- [설치 : https://www.hanumoka.net/2018/04/29/docker-20180429-docker-install-mysql/](https://www.hanumoka.net/2018/04/29/docker-20180429-docker-install-mysql/)

- 설치한 후 user에게 권한을 줬으면 재부팅하면 적용된다.

### 명령어
- MySQL 컨테이너 생성하는 명령어, 아래 명령어처럼 ROOT 패스워드를 지정해줘야 docker start가 제대로 된다.

[code]

- 도커 컨테이너가 꺼져있으면 시작하는 명령어

[code]

- 컨테이너에 접속하는 명령어

[code]

- 컨테이너에 접속하면 아래 명령어로 MYSQL에 접속한다. 비밀번호는 컨

[2020-08-06 02:25] guswns1659 commented on #29
- [x] 단순 TIL 보단 문제 해결기를 에세이처럼 기록해보기
  - [참고 : 자바캔두잇](https://javacan.tistory.com/entry/%EC%84%9C%EB%B9%84%EC%8A%A4-%EA%B5%AC%ED%95%98%EA%B8%B0-1%EB%B6%80-%EA%B7%B8-%EC%8B%9C%EC%9E%91?category=168285)

[2020-08-06 02:27] guswns1659 commented on #24
## 3주차 리뷰

- 목표가 뚜렷히 수치화가 되어 있어서 좋았습니다.
- 요즘 TDD를 많이 시도하고 도전하는 모습이 보이는데 응원합니다! 꾸준히 하신다면 원하는 역량에 도달하실거에요!
- 목표 달성 라벨을 이번주에는 잊지 않고 붙이시길!!

[2020-08-06 03:10] 102092 commented on #21
- 전반적으로 자료구조, 알고리즘을 공부하시는 것 같네요!
- 기본을 위해 노력하시는 모습이 보기 좋네요 :)
- 단계별로 알고리즘 문제를 푸시는 것 같은데, 문제만 푸는 게 질리지는 않으신가요? 저 같은 경우, 문제당 한 30~40분 시간을 쏟는 것 같은데 진이 빠지더라구요..
- 자료구조는 어떻게 공부하시는 편이신가요? 어떤 책으로 공부하시는지 궁금합니다 ㅎㅎ

[2020-08-06 03:17] 102092 commented on #30
## 목표 2
- [트리, 이진 트리, 이진트리 탐색에 대해](https://www.notion.so/Binary-Tree-f0988a31d0094e87bdddc82d19c38f13)
- [힙에 대해서](https://www.notion.so/Heap-0edca45d923e4d9a97582f4574826c4e)

[2020-08-06 04:18] 102092 commented on #30
## 목표 1
- [DFS 정리](https://www.notion.so/be457de10de84c1badbb854faff3af8f)
- BFS 문제
![image](https://user-images.githubusercontent.com/22140570/89529177-3ef83700-d827-11ea-8e3a-ed3fbe86dcc9.png)

[2020-08-06 04:19] 102092 commented on #30
기본적인 자료구조에 대해 쭉 정리할 필요가 생겼음
--> Java or Python..

[2020-08-06 04:19] 102092 commented on #30
알고리즘은  인프런 강의를 통해서 빠르게 다시 보자

[2020-08-06 04:21] hsik0225 commented on #20
## 3주차 리뷰
- 구체적인 목표들과 각 목표에 맞는 진행 상황을 한 눈에 보기 쉽게 정리해놓아서 굉장히 읽기 편했습니다
- 그림으로 알고리즘을 설명해준다는 것에서 책의 친절함이 느껴지는 것 같네요. 왠지 잘 설명해줄 것 같은 느낌? 저도 한 번 읽어봐야겠습니다
- 좋았던 점과 아쉬운 점들을 여기에 적어 나중에도 무엇을 할 때의 회고인지 알 수 있겠네요. 좋은 방법인 것 같습니다

열심히 공부해서 뉴비가 아닌 고인물이 될 때까지 화이팅합시다 ^^ !

[2020-08-06 04:21] hsik0225 commented on #32
### 목표수정
정보처리기사 필기 목표에서 제외

[2020-08-06 06:11] kses1010 commented on #26
- 토스 코테 소식듣고 이번 목표를 보니 재밌네요. 코테 나왔었던 BFS 등이 나왔다고 하셨는데 이번에 확실하게 공부할 수 있었군요.
- 코쿼 프로젝트 정리가 잘나와서 다행이군요. 아쉬운점은 한번에 보기가 힘들지 않을까 스크롤을 자꾸내려가면 좀 아쉽더라구요.
아아 정리 잘하신 분 링크 있었는데 폭파했네요 아쉽 ㅠㅠ
[도서 정리](https://www.notion.so/408172ddada54e6d8051d7d3bd73f1fd) 이지만 제가 그분꺼 따라 만든 건데 칸을 여러게 나눠서 한눈에 보이는게 좋다고 생각합니다.
- 일주일동안 고생하셨습니다. 하밀한테 들었는데 건강이 좋지 않다고 들었습니다 빠른 쾌유바랍니다!!

[2020-08-06 06:33] guswns1659 commented on #29
## 20.08.06 느낀점
알고리즘 문제 풀면서 아직 구현하는 능력이 부족하다는 것을 느꼈다. 구현이 가장 기본이지만 차근차근 해나가야 할 듯하다.

[2020-08-06 08:34] kses1010 commented on #31
TDD 이론은 알게 되었다. 이것을 실제 코딩에 접목시키려면 최범균의 TDD를 참고하면서 진행해야할 듯. TDD이론 정의 + 최범균 TDD 를 참고하여 실제 코드로 구현해봐야겠다.
![image](https://user-images.githubusercontent.com/49144662/89510055-0c404580-d80b-11ea-9b45-86819d44bbc8.png)

[2020-08-06 08:50] guswns1659 commented on #29
## minimal mistake 포스팅에 헤더 이미지 넣는 법

- [공식 문서 참고](https://mmistakes.github.io/minimal-mistakes/layout/uncategorized/layout-header-overlay-image/)

## 포스팅 컨텐츠 테이블 설정하는 법. 포스팅 위에 아래 설정을 붙인다.

[code]

## 월별 블로그 글을 구분하는 법
[참고글](https://danggai.github.io/github.io/Github.io-%EC%9B%94%EB%B3%84-%EA%B2%8C%EC%8B%9C%EA%B8%80-%EB%B6%84%EB%A5%98-%EC%B6%94%EA%B0%80%ED%95%98%EA%B8%B0/)

## 검색 기능 추가하는 법
- _confi

[2020-08-06 10:46] beginin15 commented on #29
## 피드백
- 커밋 메세지를 WHY로 작성하는 팁 좋네요. 코드를 읽으면 알 수 있는 내용을 커밋 메세지로 적으면 2번 설명하는 느낌이 들었는데 ㅎㅎ 이거 보고 그 날 커밋을 WHY로 작성했습니다.
- gc 관련해서 에덴, 올드, 영이라고 불리는 영역이 있다는 걸 처음 알았어요. 흥미롭네요!
- 가끔 TIL 적다보면 - 를 이용해서 들여쓰기 많이들 하시잖아요, 저는 들여쓰기가 너무 깊어지면 눈에 안들어오는 경우가 있더라구요. 그래서 TIL을 작성할 때도 들여쓰기 1단계 법칙을 적용해보려고 하고 있어요 ㅎㅎ 굉장히 쓸데없고 개인적인 생각입니다 ㅎㅎ
- 코멘트로 정보를 많이 공유해주시니 은근히 보는 재미가 쏠쏠하네요! 👍

[2020-08-06 11:39] beginin15 commented on #25
## 피드백
- 자기가 사용하는 언어에서 제공하는 자료구조, 컬렉션이 어떻게 구현되었는지 공부하는 것도 도움이 된다고 합니다. (호글님이 얘기해주신건가?)
- 자기소개서에서 ‘나는 이러한 사람이다’ 라고 작성했으면 그에 대해 뒷받침 증거가 될 만한 스토리가 꼭 있어야 한다고 하더라구요. 이력서에서 강조하고 싶은 키워드에 집착(ㅋㅋ)하게된 계기나 일화를 간단하게 소개하는 건 어떨까요? 이러한 경험이 있었고 이로 인해 수치적으로 얼마나 효과를 봤기 때문에 해당 키워드의 필요성을 충분히 알고 있는 사람이다라고 어필할 수 있으면 참 좋은데 어렵겠죠? 😿 나중에 진행된 이력서 공유해주시면 함께 고민해보아요!

[2020-08-06 12:05] beginin15 commented on #33
## 회고
### 목표 1
| 평가 | 내용 |
|:--:|:--:|
| 😄 | 익숙한 요구 사항이지만 더 좋은 설계를 위해 많이 고민했다. 설계할 땐 머리가 아프지만 오랜만에 구현하니 재밌었다. |
| 🤔 | 설계에 대해 고민은 많이 했지만 지식을 얻었다는 느낌은 적었다. (아직 리뷰를 못 받아서 그런 것 같다.) 테스트 코드와 TDD에 관련된 책을 병행하면 더욱 집중도가 높아질 것 같다. 다음 주 목표는 모두 테스트 코드와 관련된 내용으로 진행해야 겠다. |
| | 이전 단계 PR이 머지되어야 다음 단계 PR을 날릴 수 있으므로 피드백을 반영하는 시간까지 넉넉하게 잡아야 할 것 같다. |

### 목표 2
| 평가 | 내용 |
|:--:|:--:|
| 😄 | 드디어 재귀를 벗어나 정렬 파트에 들어왔다.

[2020-08-06 13:52] hsik0225 commented on #32
### 좋았던 점
알고리즘을 공부하고 나서 관련된 알고리즘 문제들을 푸니 공부할 떄 몰랐던 알고리즘들을 이해할 수 있었다

### 아쉬웠던 점
늘어져서 열심히 공부하지 않았다. 다음주부터 열심히 하자!

[2020-08-06 14:26] suhyunsim commented on #23
* 한땀한땀 잘 정리된 평가를 보니 제 마음에 평화가 옵니다...✨역시 이게 배운 사람의 디자인일까요? 한 수 배워갑니다.
* 제이가 목표를 달성했다는 소식에 저도 기뻐요! 저도 아직 저의 적당한 목표량을 모르겠어서 고민을 많이 하는데 그래도 목표를 추가하는 수정은 가능하기로 정했으니 최소한의 목표를 잡고 함께 달성하도록 해요!
* 스프링 강의를 들으셨네요. 백기선님 강의를 다들 추천하시더라고요. 이번에 들으실 때는 필기를 따로 하지 않으셨다고 하는데 저도 강의 들으면서 정리하는건 항상 딜레마인 것 같아요. 시간대비 효율이 나지 않을 때도 있고, 또 정리를 하지 않으면 기억에 남지 않기도 하고ㅠㅠ 저도 다음 주 목표를 백기선님 강의 듣는걸로 할 것 같은데 들으면서 생기는 고민들 있으면 함께 얘기해봐요! 😊

[2020-08-06 16:40] suhyunsim commented on #28
# 좋았던 점
* 부스트코스 강의를 드디어 완강했다. 알고리즘과 자료구조 내용이 있어서 기초적인 부분을 빨리 듣고 다른 책으로 공부하기 위해서 5, 6주 차 강의들을 미리 들었는데 완강 후 수료증을 받으니 뿌듯하다. 남은 과제들을 수월하게 풀기 위해 열혈 자료구조 책과 python 알고리즘 강의를 다음 목표로 삼을 예정이다.

# 아쉬운 점
* 알고리즘과 자료구조 기초를 공부하느라 자바나 스프링 공부가 뒷전이다. 다음 주 목표에 스프링 공부를 위해 인강을 수강할 예정이다.
* 이력서 초안을 풍부하게 작성하고 싶었는데 여러 번 엎기만 하고 제대로 된 초안이 나오지 않았다. 고민이 많이 필요한 부분이다.

[2020-08-07 01:57] kses1010 commented on #31
### 개인적으로 인상깊은 문구
![image](https://user-images.githubusercontent.com/49144662/89600343-c6cc5880-d89c-11ea-9f93-17842bd015f6.png)

[2020-08-07 02:13] suhyunsim commented on #28
https://www.notion.so/Poogle-43ca0519857242ad87a6b805f0096ce7

[2020-08-07 02:20] suhyunsim commented on #28
[_Poogle____....pdf](https://github.com/guswns1659/JuraJura/files/5038970/_Poogle____.pdf)

[2020-08-07 07:59] guswns1659 opened #34 "4주차 리뷰어"
잭 -> 제
푸 -> 한
써 -> 푸
에 -> 잭
제 -> 에
한 -> 써

[2020-08-07 07:59] #20 closed, assigned to suhyunsim

[2020-08-07 07:59] #21 closed, assigned to hsik0225

[2020-08-07 07:59] #23 closed, assigned to beginin15

[2020-08-07 07:59] #24 closed, assigned to kses1010

[2020-08-07 07:59] #25 closed, assigned to guswns1659

[2020-08-07 07:59] #26 closed, assigned to 102092

[2020-08-07 08:00] #27 closed, assigned to 102092, beginin15, blossun, kses1010, guswns1659, hsik0225, suhyunsim

[2020-08-07 08:26] suhyunsim opened #35 "5주차 주간 목표"
## 목표1: Hello Coding 그림으로 개념을 이해하는 알고리즘 (귤책) 완독
![image](https://user-images.githubusercontent.com/58318786/88362945-447e6780-cdb9-11ea-8141-1f9359674ccb.png)

<details>
<summary> Ch7. 다익스트라 알고리즘 </summary>

- [x]  다익스트라 알고리즘
- [x]  다익스트라 알고리즘을 사용한 물물 교환
- [x]  간선의 가중치가 음수인 경우
- [x]  구현
</details>

<details>
<summary> Ch8. 탐욕 알고리즘 </summary>

- [x]  수업 시간표 짜기 문제
- [x]  배낭 채우기 문제
- [x]  집합 커버링 문제
-

[2020-08-08 06:30] hsik0225 opened #36 "5주차 주간 목표"
##  목표 1. 자료구조 및 알고리즘
### 자료구조
- [ ] Cp9. 그래프

### 알고리즘 풀이
- [x] [정렬](https://www.acmicpc.net/step/9)
- [ ] [동적 계획법(Dynamic Programming)](https://www.acmicpc.net/step/16)

## 목표 2. 자바의 정석
- [x] Cp1. 자바를 시작하기 전에
- [x] Cp2. 변수
- [x] Cp3. 연산자(Operator)
- [ ] Cp4. 조건문과 반복문
- [ ] Cp5. 배열(Array)

## 목표 3. 스프링
- [x] Cp10. 스프링 MVC 프레임워크 동작방식
- [x] Cp11. MVC 1 : 요청 매핑, 커맨드 객체, 리다이렉트, 폼 태그, 모델

[2020-08-08 12:44] guswns1659 commented on #33
## 목표1 피드백
- TDD 과정이 아직 초반이라 많은 것을 얻은 느낌이 없을 것 같기도해요! 점차 단계가 높아지면서 어려워지겠지만 그 때는 또 성장이 있을 것 같습니다. 기대할게요!
- 매번 아쉽게 목표 달성을 못하는 것 같아요ㅜ 그래도 그 과정에서 목표를 세우는 법 등 여러가지를 배우고 있다고 생각합니다. 응원할게요!

## 목표2 피드백
- 알고리즘, 자료구조도 꾸준히 하는 모습이 보이네요! 저도 그 책을 보면서 재귀 -> 비재귀 파트를 많이 어려워했습니다 ㅜ 그래도 그 때 했던 생각들이 지금 알고리즘 문제 풀 때 도움이 되는 것 같아요. 알고리즘과 자료구조 영역은 조금씩 쌓이는 느낌이네요! 꾸준히 해야 덕을 보는 ㅎㅎ 응원할게요!!

[2020-08-08 13:00] guswns1659 opened #37 "5주차 주간 목표"
## 알고리즘 역량 강화 : 매일 2문제 or 2강의 수강, 총 12개
- [x] 1 : 공간복잡도1
- [x] 2 : 공간복잡도2
- [x] 3 : 재귀 호출1
- [x] 4 : 재귀 호출2
- [x] 5 : 재귀 호출3
- [x] 6 : SHA-256 문제
- [x] 7 : 수찾기 문제
- [x] 8 : 친구 네트워크 문제
- [x] 9 : 기본 정렬 문제
- [x] 10 : 기본 정렬 문제

## 기술면접 키워드 정리
- [x] [네트워크](https://docs.google.com/document/d/1-R94_ccPS7lvTDrkuC6VhIVnVwtkh6nlTHqpaAQxylI/edit?usp=sharing)
- [x] [자바](https://docs.google.com/document/d/1Lx1

[2020-08-08 13:13] kses1010 opened #38 "5주차 주간 목표"
## 목표는 최대 2개만 작성.

## 목표1
- 테스트 주도 개발 시작하기 읽기
![image](https://user-images.githubusercontent.com/49144662/89711111-23c22e80-d9c3-11ea-993c-e1282a237305.png)

- [x] 1. TDD 개발 준비
- [ ] 2. TDD 시작
- [ ] 3. 테스트 코드 작성 순서
- [ ] 4. TDD 기능 명세, 설계
- [ ] 5. JUnit5
- [ ] 6. 테스트 코드의 구성

## 목표2
- 실전! 스프링 부트와 JPA 활용1 - 웹 애플리케이션 개발
notion [링크](https://www.notion.so/JPA-1-f1fb743027994e2e86913d9acb8a23a1)
- [x] 애플

[2020-08-09 10:06] 102092 opened #39 "5주차 주간 목표"
## 목표는 최대 2개만 작성.

## 목표1
- 알고리즘 문제 풀이
   - [x] BFS,DFS 5문제 복습 풀이
   - [x] BFS,DFS 2문제 새로 풀이
   - [x] 재귀 강의 시청, 정리
   - [x] 참고 도서 1ch Notion 정리
- [참고 도서]( https://blog.insightbook.co.kr/2017/08/07/%EC%BD%94%EB%94%A9-%EC%9D%B8%ED%84%B0%EB%B7%B0-%EC%99%84%EC%A0%84-%EB%B6%84%EC%84%9D-189%EA%B0%80%EC%A7%80-%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D-%EB%AC%B8%EC%A0%9C%EC%99%80-%ED%95%B4%EB%B2%95/)

[2020-08-09 10:10] 102092 commented on #30
### 좋았던 점
- 어떤 도서들이 앞으로 공부하는 데 나에게 도움이 될지 아닐 지 조금 알게 된듯함.
- BFS 문제 포멧에 대해 좀 익숙해진 점.

### 아쉬웠던 점
- 목표 달성을 위해, 많이 치엻하게 못한 점. 생각보다 조금 버거웠던 측면이 있었음.
- 왜 그랬을까 생각해보니, 알고리즘 새로운 문제플 푸는 데 부담이 조금 갔었음.
- 다음 번에는, 문제 복습도 생각하여 목표를 설정하자.
- 자료구조의 중요성에 대해서는 항상 인지하고 있지만, 그 자체만 공부하려고 하니 내용이 딱딱해서 잘 숙지 되지 않는듯.
- 면접 + 자료구조 키워드로, 사용할 수 있는 자료구조 개념에 대해 배우도록 해보자
- 또한 네트워크, 인프라 책도 다음주에 끝낼 수 있도록 생각해보자
- 그리고 spring보다는 우선 java

[2020-08-09 13:18] beginin15 opened #40 "5주차 주간 목표"
## 목표는 최대 2개만 작성.

## 목표1
넥스트스텝 TDD 강의 듣기 및 PR 보내기
- [x] 자동차 경주 step2 피드백 반영
- [x] step3 PR 보내기
- [x] step2, 3 피드백 반영 (화요일 추가)

## 목표2
[테스트 주도 개발](http://www.yes24.com/Product/Goods/12246033) 단순 읽기
- [x] 1부 8장까지
- [x] 1부 끝까지 (화요일 추가)

[2020-08-09 13:22] beginin15 commented on #40
푸글의 조언을 참고하여 임의로 중간 달성일을 정하고 그 안에 할 수 있는 양을 작성합니다. 그리고 모두 달성했으면 목요일까지 수행할 양을 추가하는 방법으로 진행해보려고 합니다. 이번 주는 꼭 달성해보자~

[2020-08-10 05:54] guswns1659 commented on #37
## 코멘트 남기는 방식은 일일 목표 이슈에 남기는 걸로 대체. TIL을 원할하게 작성하기 위해서

[2020-08-10 05:58] guswns1659 commented on #40
목표 달성 아이디어 좋네요! 이번주 화이팅!!!

[2020-08-11 11:08] 102092 commented on #39
## 목표 2
- 그림으로 공부하는.. : https://www.notion.so/IT-4d35e343b2ee428180c84b60d5b7d54a
- 1% 네트워크 : https://www.notion.so/02c7e537ef4e4b8b86f9fd9c008cbe7e
- notion docs : https://www.notion.so/80eace3ef9dd497e8eadad4b34d9f4a3?v=64d52bb1dfbc4d06829c742764091493

[2020-08-12 07:28] 102092 commented on #31
## 피드백
- 노션 링크가 없네요.. ㅠㅠ 한번 살펴봤으면 좋았을 텐데..
- 테스트 주도 개발 책은 저도 재밌게 본 기억이 있습니다!. 말씀하신 것처럼 2부는 python언어로 되어있어서, 살짝 아쉬운 면이 있지만 지금이라면 해당 코드를 Java로 바꿔서 진행할 수도 있게다는 생각이 듭니다.
- 최범균님의 책도 TDD를 시작하기에 좋아보이네요. 또한 좋은 의자를 강조하는 문구가 새롭습니다. 아무래도 개발자라는 직업이 상당히 많이 앉아 있다 보니까 그런것 같은데, 건강을 항상 조심해야 겠다는 생각이 듭니다.
- 써니도 프로젝트에, 개인공부에 많은 것을 한꺼번에 진행하고 계시던 데, 잘 자고 조금씩 운동하는 것은 잊지 말으셨으면 합니당....

[2020-08-12 07:37] 102092 commented on #39
## 목표 1
- 재귀 강의 정리 : https://www.notion.so/be457de10de84c1badbb854faff3af8f
- BFS 문제 1
![image](https://user-images.githubusercontent.com/22140570/89999241-7bb1ab80-dcc9-11ea-84cc-5d7bc76ac33c.png)
- 재귀 1
![image](https://user-images.githubusercontent.com/22140570/89999294-8ff5a880-dcc9-11ea-9d6b-0ad04f25fc72.png)
- 코딩인터뷰 완전분석 정리 : https://www.notion.so/63341c6cda2a4e3d9af7bc2696ff1d5a

[2020-08-12 08:16] kses1010 commented on #31
notion링크는 의욕적으로 하려다가 할게 너무많아서 결국 안했습니다 하하하

[2020-08-12 11:52] kses1010 commented on #28
- 부스트코스 그 강의 완강 축하드립니다. 알고리즘, 자료구조에 대해선 전문가가 되겠군요!
- 아쉬운점에 자바, 스프링 공부가 뒷전이라고 하셨는데 이럴땐 사이드 프로젝트를 같이 진행하는건 어떨까요? 간단한 예제를 TDD로 만들기 라던가 이런식으로 해서 만약 자신이 자바와 스프링을 놓지 않을거면 사이드 프로젝트를 추천합니다! 옆 Jay가 TDD로 연습하고 계시니 서로 코드리뷰하면서 연습하면 더욱 실력이 늘거라 기대합니닷!
- 이력서는 이번기회에 NTS 에 넣으시면서 준비해보는건 어떨까요? 언제나 열심히하시는 푸글 응원합니다~

[2020-08-12 12:54] guswns1659 commented on #37
## 좋은점
- 알고리즘, 기술면접 준비를 병렬로 준비하고 있어서 뿌듯하다. 키워드는 정리 후에 주기를 정해서 꾸준히 보는 방식으로 할 예정
- [주라주라 방식 벤치마킹해 이슈로 일일목표 관리하는 중.](https://github.com/guswns1659/FEedback/issues) TIL 작성 단위로 잘 나눠져서 업로드를 꾸준하게 하는 중.

## 아쉬운점
- 알고리즘 2문제 목표 수정한 점. 빠르게보단 정확하게 하다보니 개수 조절을 하지 못함. 요일 별로 강의듣는 날이 정해져 있는데 스케줄을 고려하지 못했다.

[2020-08-12 21:24] hsik0225 commented on #29
### 4주차 에버 감상문
저도 이렇게 하면 더 좋겠다하고 스스로 생각해보게 되는 잭의 이슈였어요. 4주차 수고하셨습니다.

- 주간에 있었던 일 들을 해당 이슈에 댓글로 남겨서 기록해두는게 굉장히 인상깊네요!
나중에 보고 따로 블로그 같은 곳에 정리하기도 편하고, 또 저와 같이 지나가다가 '이 사람은 이런 것을 공부했구나 신기한데? 나도 공부해볼까?' 라는 공부 의욕이 생기게해주는 것 같아 정보를 공유할 때 좋을 것 같아요

- 원래 있는 블로그를 만들어주는 사이트들(벨로그, 티스토리 등등..)을 이용하지 않고 자신이 직접 코드로 블로그를 만드는 깃허브가 더 프로그래머 같이 느껴지네요. 저도 한 번 만들어봐야겠습니다

- 자신이 정리한 내용마다 자신의 생각을 적은게 눈에 띄네요. 정말 그 문제에 대해 고민

[2020-08-13 04:51] beginin15 commented on #32
## 피드백
- 알고리즘 문제는 난이도 조절에 실패하면 얼마나 시간을 소요할지 몰라서 목표로 설정하기 어려운 것 같아요. 하지만 여러 번 실패하고 조절하다보면 적절한 목표치를 가늠할 수 있게 되겠죠?! 화이팅입니다~
- 저는 매주 목표 주제가 달라지는데 에버는 꾸준하게 알고리즘과 자료구조를 공부하셨네요! 주라주라를 진행한 동안 성장한 부분이 명확해서 좋은 것 같아요 ㅎㅎ
- 저도 요새 늘어지는데 다음 목표에는 코쿼에 가기도 포함시켜야 할까봐요ㅋㅋ🧐

[2020-08-13 09:58] suhyunsim commented on #30
* 저도 요즘 자료구조를 공부하고 있는데 다양한 경로로(강의, 도서) 접해보면서 가장 잘 맞는 방법을 찾으려고 합니다. 근데 자료구조 그 자체를 '공부'하려고 하니까 지루해서 쉽지 않더라고요!ㅎㅎㅎ 그래도 한처럼 다양한 알고리즘 문제들을 접해보면서 익숙해지려고 하고, 또 면접 자리에서 직접 설명할 수 있도록 본다는 마음으로 꾸준하게 본다면 언젠가는 정복할 수 있을 거예요.💪
* 자바 자료구조 책은 저도 찾기가 쉽지 않아서 C나 파이썬으로 된 책을 위주로 보고 있네요.😥
* 한 주 동안 고생 많으셨어요~!

[2020-08-13 10:05] suhyunsim commented on #35
# 좋았던 점
* 귤책 완독! 가볍게 봤지만 알고리즘 기초 내용을 훑어볼 수 있어서 좋았다. 또 파이썬으로 자료구조 강의를 듣는 중이라 직접 코드를 따라 해본 경험이 의미있었다. 다만 코딩테스트를 파이썬으로 준비 할 예정이라 파이썬으로 공부를 하고 있었는데 자바로도 구현해보는 경험이 중요할 것 같다. 천천히 하더라도 처음부터 끝까지 내 힘으로 직접 구현해봐야겠다.
* 패캠 자료구조 파이썬 강의를 듣기 시작했는데 강의 만족도가 높다. 꼼꼼하면서도 차분히 설명해주셔서 이해하기 좋다. (근데 조금 졸리다)
* 드디어 블로그를 만들었다.

# 아쉬운 점
* 아무래도 온라인 강의는 집중력이 떨어지는 것 같아 고민이다. 한번에 여러 개를 듣기 보다는 조금씩 나눠서 들어야겠다.

[2020-08-13 14:32] beginin15 commented on #40
# 회고
## 목표 1
<img width="961" alt="스크린샷 2020-08-13 오후 11 31 01" src="https://user-images.githubusercontent.com/33659848/90148254-168bb200-ddbe-11ea-844d-b4c87de4850b.png">

| 평가 | 내용 |
|:--:|:--:|
| 😄 | TDD와 OOP는 관련이 깊은 것 같다. 진행하면 할수록 나에게 객체 지향적 사고가 부족하다는 것이 느껴진다. 객체의 역할을 구분하고, 객체화하는 연습이 필요하다. 부족한 것을 깨달으니 어떤 것을 공부해야 할 지 알 수 있어서 좋았다. (테스트 주도 개발 책을 다 읽고 나면 객체 지향과 관련된 책을 읽어야 겠다.) |
| 🤔 | 피드백을 반영하는 일이

[2020-08-14 02:01] suhyunsim commented on #35
## 블로그 시안 및 계획
* [블로그 링크](https://suhyunsim.github.io/)

![KakaoTalk_20200814_105744260_02](https://user-images.githubusercontent.com/58318786/90204197-3c946f00-de1d-11ea-97f6-48448a1dbcb8.jpg)
![KakaoTalk_20200814_105744260](https://user-images.githubusercontent.com/58318786/90204261-41592300-de1d-11ea-841a-850dd4cc1aad.jpg)

[2020-08-14 13:00] #28 closed, assigned to suhyunsim

[2020-08-14 13:00] #29 closed, assigned to guswns1659

[2020-08-14 13:00] #30 closed, assigned to 102092

[2020-08-14 13:00] #31 closed, assigned to kses1010

[2020-08-14 13:00] #32 closed, assigned to hsik0225

[2020-08-14 13:00] #33 closed, assigned to beginin15

[2020-08-14 13:00] #34 closed, assigned to 102092, beginin15, blossun, kses1010, guswns1659, hsik0225, suhyunsim

[2020-08-14 13:01] guswns1659 opened #41 "5주차 리뷰어"
잭 -> 푸
푸 -> 한
써 -> 잭
에 -> 제
제 -> 써
한 -> 에

[2020-08-15 06:51] suhyunsim opened #42 "6주차 주간 목표"
## 목표1: 패스트 캠퍼스 - 파이썬 알고리즘 강의 수강
- [x] 15 ~ 16 시간 복잡도
- [x] 17 ~ 21 해시 테이블

## 목표2: 인프런 - Java로 배우는 자료구조 강의 수강
[강의 링크](https://www.inflearn.com/course/java-%EC%9E%90%EB%A3%8C%EA%B5%AC%EC%A1%B0/dashboard)
- [x] 섹션 1. 제1-1장: 변수, 배열, 반복문
- [x] 섹션 2. 제1-2장: 메서드 호출과 프로그램의 기능적 분할
- [x] 섹션 3. 제1-3장: 문자열 다루기
- [x] 섹션 4. 제2-1장: 클래스, 객체, 참조변수

[2020-08-15 12:11] kses1010 opened #43 "6주차 주간 목표"
## 목표는 최대 2개만 작성.

## 목표1
- 오브젝트 읽기
![image](https://user-images.githubusercontent.com/49144662/90311988-b1f66180-df3b-11ea-938c-9e61212cc267.png)

- [x] 1장 객체, 설계
- [x] 2장 객체지향 프로그래밍

## 목표2
- 테스트 주도 개발 시작하기
노션 [링크](https://www.notion.so/2-TDD-40ae8c0496b34623be6229fba2bec441)
- 연습대상: [암호 검사기](https://github.com/kses1010/TDD-practice)
- [x] TDD 시작

[2020-08-15 13:03] kses1010 commented on #43
겸손하게 2챕터나 1챕터씩 진행할 예정입니다...

[2020-08-16 01:04] guswns1659 commented on #43
@kses1010 TDD시작이라는 목표가 약간 모호하네요?? 어떤 프로젝트에 어떻게 TDD를 적용할지 구체적이며 좋을 것 같습니다. 수치화가 안되어 있어서 달성여부 판단도 애매한 거 같아요

[2020-08-16 02:35] kses1010 commented on #43
챕터 이름이 tdd시작...
![20200816_114753.jpg](https://user-images.githubusercontent.com/49144662/90325419-5ddc9300-dfb6-11ea-9f54-0f52a66a169b.jpg)

[2020-08-16 04:59] guswns1659 commented on #43
이해했습니다 ㅋㅋㅋ

[2020-08-16 05:02] guswns1659 opened #44 "6주차 주간 목표"
## 자바 ORM 표준 JPA 프로그래밍 - 기본편 30강 수강
- [x] 1 ~ 6
- [x] 7 ~ 12
- [x] 13 ~ 18
- [x] 19 ~ 24
- [x] 25 ~ 30

## 알고리즘 8개 (강의 + 문제)
- [x] 1 동적계획법과 분할정복
- [x] 2 퀵정렬
- [x] 3 전체탐색
- [x] 4 전체탐색
- [x] 5 전체탐색
- [x] 6 병합정렬1
- [x] 7 병합정렬2
- [x] 8 병합정렬3
- [x] 9 병합정렬4

[2020-08-16 05:06] guswns1659 commented on #35
## 피드백

- 알고리즘과 자료구조 기초를 탄탄하게 쌓고 있는게 느껴지네요! 귤책 완독 축하드립니다! 파이썬 자료구조를 자바로 구현하는 시도는 추천드려요! 자바 언어에 대한 이해도 생기고 문법도 자연스레 익히는 것 같아요!
- 푸글의 색깔이 들어간 블로그를 만드려는 시도가 보기 좋네요! 확실히 잘 만들어진다면 경쟁력이 있을 것 같아요!! 다음주에도 기대하겠습니다!

[2020-08-16 06:34] 102092 opened #45 "6주차 주간 목표"
## 목표는 최대 2개만 작성.

## 목표1
- 면접 대비
- [x] 이력서 5번 정독
- [x] 자바 기초 정리 (키워드, JVM, 기초 자료구조)
- [x] 기본 CS 정리된 것 5번 보기

## 목표2
- [x] 도서 1% 네트워크 1ch

[2020-08-16 08:11] hsik0225 opened #46 "6주차 주간 목표"
## 목표1 : 백엔드 공부
### 1. 자바의 정석
- [x] Cp1. 자바를 시작하기 전에
- [x] Cp2. 변수
- [x] Cp3. 연산자(Operator)
- [x] Cp4. 조건문과 반복문
- [x] Cp5. 배열(Array)
- [x] Cp6. 객체지향 프로그래밍 1

### 2. Spring5
- [x] Cp13. MVC 2

[2020-08-16 13:56] beginin15 opened #47 "6주차 주간 목표"
## 목표는 최대 2개만 작성.

## 목표1
- 넥스트스텝 TDD 강의 듣기 및 PR 보내기

- [x] step3 피드백 반영
- [x] step4 PR 보내기
- [x] step4 피드백 반영 (화요일 추가)
- [ ] step5 PR 보내기 (화요일 추가)

## 목표3 (화요일 추가)
- 인프런 [스프링 프레임워크 핵심 기술](https://www.inflearn.com/course/spring-framework_core#) 섹션 2, 3, 4 정리 (지난 목표에서는 듣기만)

- [x] 섹션 2
- [x] 섹션 3
- [x] 섹션 4

[2020-08-18 16:39] suhyunsim commented on #42
### 목표2 내용 수정
* 강의 소개에 `Java 사용 경험이 있지만 클래스, 객체 등의 개념을 다시 학습하고 싶은 경우: 2장에서 시작` 이라는 설명을 듣고 뒷 부분부터 들으려고 했는데 앞 부분 내용에도 기초적인 알고리즘 문제들이 있어 처음부터 수강하기 위해 목표를 변경한다.
* 강의가 나쁘지 않아서 완강하는게 좋을 것 같다고 판단했다.

[2020-08-19 12:18] hsik0225 commented on #46
자바와 스프링을 공부하기 위해선 프로젝트를 진행하면서 공부하는 것이 좋겠다고 생각되었다.
동시에 자료구조를 공부하는 것은 무리라고 생각되어 목표를 수정하였다.

목표 : 자료구조 삭제

[2020-08-19 16:00] beginin15 commented on #47
## 목표 수정
화요일에 추가한 목표3이 더 중요한 것 같아서 목표2([테스트 주도 개발](http://www.yes24.com/Product/Goods/12246033) 단순 읽기)는 제외시켰습니다.

[2020-08-20 00:51] guswns1659 commented on #44
## 좋은점
- JPA 기본편 강의를 빠르게 수강하고 있다. 기존에 프로젝트를 진행한 경험이 있기 때문에 기술 자체에 대한 어려움은 없지만 원리를 이해할 수 있어서 뿌듯하다. 빠르게 활용편까지 수강하고 프로젝트를 진행할 예정이다.

## 아쉬운점
- 매일 공부하고 있지만 방향을 제대로 잡고 가고 있나? 하는 걱정들이 슬슬 올라온다. 수료하고 2달이 지났는데 얼마나 성장했는지와 취업을 위한 노력의 결과는 어떤지 점검하는 시간이 필요할 것 같다.

[2020-08-20 02:44] kses1010 commented on #37
## 피드백
- 알고리즘을 매일 공부하는게 확실히 좋군요. 오히려 2문제씩 목표수정한게 전 좋은 판단이었다고 생각합니다.
- 이슈로 일일목표 관리하는걸 확인했습니다. 해당 주제 이슈에 comment로 정리하신 모습 보기 좋군요. 이건 단순한 제생각이지만 만약 이슈를 closed했을 때 과연 내가 볼 수 있을까라고 생각 되더군요. 그건 어떻게 정리하시나요?
- 기술면접 키워드를 문서로 정리하여 나중에 프린터로 달달 외우는게 정말 좋은 아이디어 군요. 단, 자바에서 스트림, 람다 등은 블로그글을 대체하지말고 하나의 문서로 만드는게 더 괜찮지 않을까 생각합니다.

### 목표달성 꾸준히 하시는 모습 대단하십니닷!!

[2020-08-20 02:48] kses1010 commented on #43
## 오브젝트를 읽으면서 생각한 독서법 구분하기 (도서: 소프트웨어 장인 참고)
### 1. 프로그래밍언어, 프레임워크 등등 기술도서
- 1회차로 읽기
- 기술도서는 코드가 많다. 해당 코드를 따라 치면서 같이 정리 할 것. (그 뒤엔 다시는 안펴기)

### 2. 이론, 프로그래밍 철학 (클린코드, TDD 등등)
- 1회차로 가볍게 읽기
- 2회차는 내용을 정리하면서 읽기 (기록)

[2020-08-20 04:51] 102092 commented on #45
## 목표 1
- 이력서를 계속 읽다보니, 조금 이상한 부분이 눈에 들어온다.
- 이 부분을 수정했었으면 좋았을듯.
- 기본 CS는 https://github.com/WeareSoft/tech-interview 를 참고했음.

[2020-08-20 04:51] 102092 commented on #45
## 목표 2
- https://www.notion.so/1-02c7e537ef4e4b8b86f9fd9c008cbe7e

[2020-08-20 04:54] 102092 commented on #36
## 피드백
- 몸이 좋지 않다고 들었습니다. 건강 조심하시길 바랍니다 ㅠㅠ
- 알고리즘 꾸준히 연습하시고 푸는 모습이 보기 좋습니다. 저 같은 경우, 조금조금씩 까먹고 그러더라구요.. 그래서 이제까지 푼 것들을 다시 한번 정리하고 깃헙 레포도 한번 정리해볼 생각입니다!

[2020-08-20 04:56] 102092 commented on #39
## 좋았던 점
- 알고리즘 문제를 복습하면, 확실히 좀 더 이해하는데 도움이 되는 듯함.
- 그리고 BFS 이후 부터는 풀어야할 문제들이 많기 때문에, 시간이 많이 걸리는듯.
  - 백준 뿐만 아니라, 프로그래머스도 한번 도전해보면 좋을듯
- 1% 네트워크 책은 정말 괜찮은듯. 다소 깊게 파고드는 감이 없지 않아 있지만, 확실히 네트워크 통신 동작을 전반적으로 이해하는데는 도움이 되고 있음.

[2020-08-20 04:57] 102092 commented on #39
## 아쉬운 점
- 알고리즘, 도서 , 프로젝트, 이력서 까지 동시에 하려다 보니 생각보다 어느 하나에 집중하기가 어려움
- 특히 알고리즘은 공부하고, 문제푸는 그 시간에 집중이 필요한데 이 부분이 만족스럽지가 않다.
- 추후, 인강도 들어야할 텐데... 음.. 어떻게 시간을 분배해야할지 생각을 해봐야겠다
- 체력, 주 3일 오전에 30~40분정도 뛰는 시간을 가져야겠음.

[2020-08-20 08:05] beginin15 commented on #43
## 피드백

- 저번에 켄트 백의 TDD 책 읽으시고 쉽게 써져있다고 말씀해주셔서 저도 그 책을 읽어봤습니다. 간단하게라도 책 감상을 남겨주시니 읽어보고 싶다는 생각이 들더라구요!ㅎㅎ 그리고 이번에 선정된 오브젝트 역시 아직 읽어보지 않아서 써니의 감상이 궁금하네요! 금요일에 기대하겠습니다 ㅎㅎ
- 개인적으로 프로그래밍 철학과 관련된 책은 처음 읽을 때는 잘 이해되지 않는 부분들이 많은 것 같아요. 아마도 경험이 부족해서 그런건 아닐까 종종 생각했습니다. 여러 프로젝트를 통해 경험하면서 시간이 흐른 뒤에 다시 읽어보면 처음 읽을 때보다 훨씬 많은 부분이 와닿을 것 같아요. 이런 책들은 간격을 두고 꾸준히 읽는 것도 나쁘지 않은 것 같습니다. ㅎㅎ 그냥 개인적인 의견이었습니다~!
- 여담으로 책 이름 때문에

[2020-08-20 08:29] beginin15 commented on #38
## 피드백
- (실수로 6주차에 달았던 피드백과 비슷한 내용이지만) 켄트 백의 TDD책이 유명한건 알았지만 너무 추상적인 내용일까봐 선뜻 읽어보지 못했는데 써니가 쉽게 써져있다고 말씀해주셔서 저도 읽어보게 되었어요. 앞으로도 괜찮은 책들 많이 공유해주세요!
- 백기선님 스프링 프레임워크 강의가 좋아서 다음에도 백기선님 강의를 들으려고 했는데 김영한님 강의도 괜찮을 것 같아요. 꼼꼼한 정리가 인상 깊었습니다!
- 프로젝트랑 병행하면서 공부하는게 생각보다 쉽지 않은 것 같아요. 프로젝트를 마치시고 책이나 인강을 통해 배운 내용을 리팩토링 차원으로 적용해보시는 것도 좋을 것 같아요!

[2020-08-20 09:08] kses1010 commented on #38
2부는 솔직히 안읽어도 될듯. 파이썬위주이고 xUnit내용이 많아서 전 가볍게 읽고 넘겼습니당

[2020-08-20 11:11] hsik0225 commented on #40
### 5주차 피드백
- 해당 주의 목표를 달성하고 끝내는 것이 아닌 회고까지 하는게 인상깊네요. 한 주를 되돌아보는 시간을 갖는 것도 중요한 것 같네요.
-  TDD, OOP를 공부하며 깨닫는게 많은 것 같아요. 공부 열심히 하시는 모습이 보기 좋네요 ^^

[2020-08-20 13:33] suhyunsim commented on #42
# 좋았던 점
* 파이썬과 자바로 자료구조 기초에 대해서 공부하고 있다. 특히 자바 기초를 다시 복습하는 겸 인프런의 자료구조 강의를 듣고 있는데 강의 질이 좋다. 다만 해당 강의가 연결리스트에서 끝나서 연결리스트 이후로는 같은 강사님 인강인 `영리한 프로그래밍을 위한 알고리즘 강좌` 강좌를 이어서 들을 계획이다. 자료구조와 알고리즘 공부는 지금처럼 **패캠 파이썬 강의**와 **인프런의 권오흠 교수님 자바 강의**로 공부할 생각이다. 어느정도 익숙해지면 문제 풀이도 병행해야겠다.

# 아쉬운 점
* 졸업 스냅 촬영, 핸드폰 고장 등 변명거리가 유난히 많던 한 주였다. 코로나와 더위로 마음이 붕 떠 있는데 너무 많이 풀어진 것 같다. 적당한 긴장과 스트레스가 필요한 시점이다.

[2020-08-20 14:34] suhyunsim commented on #39
* 한의 전담 피드백러(?) 푸글입니다.😎 자꾸만 겹치는 만큼 알찬 피드백을 드리고 싶네요!
* 한은 스터디 시작 때부터 꾸준히 알고리즘 문제를 풀어오고 있네요. 저는 많이 안 풀어봤지만 백준이랑 리트코드에서 풀었는데 알고리즘 문제 사이트마다 성격이 다 다르다고 하더라고요. 전에 특강 해주신 분들이 BOJ는 골드3까지, 프로그래머스는 레벨3까지, leetcode는 medium까지가 적당하다고 하니 여러 사이트에서 많이 풀어보는게 좋을 것 같아요. 저도 항상 모르고 -> 답보고 -> 다시 풀면 -> 또 모르고의 연속이라 다시 보기가 싫던데ㅎㅎ 복습 하는 것도 대단합니다.👍
* 1퍼센트 책 항상 추천이 많던데 이번에 면접 준비 하면서도 도움이 많이 되었겠네요! 저도 시간 내서 꼭 읽어보려고요.
* 챙겨야 할 것

[2020-08-20 14:42] guswns1659 commented on #37
@kses1010 피드백 감사합니다. 질문에 답변을 하자면

1. 매일 일일 목표 이슈의 코멘트로 TIL를 업로드 중이고, 각 지식 카테고리 별로 원고를 옮겨서! closed 이슈를 다시 볼 필요는 없어져요!
2. 네네 기술면접 키워드도 확실하게 정리가 필요할 듯 합니다.

[2020-08-20 15:05] beginin15 commented on #47
# 회고
## 목표 1
![스크린샷 2020-08-20 오후 11 58 33](https://user-images.githubusercontent.com/33659848/90789043-63810280-e341-11ea-8ca4-c3b18434ea97.png)

| 평가 | 내용 |
|:--:|:--:|
| 😄 | 내가 보기 좋은 것은 남에게도 보기 좋다. 피드백을 반영한 구조가 깔끔해졌다고 생각했는데 리뷰어도 같은 반응을 보이셨다. (반대로 구현하는 내내 찝찝한 느낌이 든다면 구조에 문제가 있다는 의미인 것 같다.) |
| | 저번 주에는 피드백을 반영하는 일이 시간이 많이 들고 어렵다고 느껴졌지만 이번 주는 피드백을 반영하는데 큰 어려움이 없었다. 구조가 좋아지니 변경 사항을 반영하기 수월했다. |
|

[2020-08-21 02:25] kses1010 commented on #43
스프링 시큐리티 공부
노션 [링크](https://www.notion.so/OAuth2-52090255b7ee4efc8b5d9f097165a8ac)

[2020-08-21 02:54] #35 closed, assigned to suhyunsim

[2020-08-21 02:54] #36 closed, assigned to hsik0225

[2020-08-21 02:54] #37 closed, assigned to guswns1659

[2020-08-21 02:54] #38 closed, assigned to kses1010

[2020-08-21 02:54] #39 closed, assigned to 102092

[2020-08-21 02:54] #40 closed, assigned to beginin15

[2020-08-21 02:54] #41 closed, assigned to 102092, beginin15, blossun, kses1010, guswns1659, hsik0225, suhyunsim

[2020-08-21 02:55] guswns1659 opened #48 "6주차 리뷰어"
잭 -> 한
푸 -> 잭
써 -> 제
에 -> 써
제 -> 에
한 -> 푸

[2020-08-21 05:38] beginin15 opened #49 "7주차 주간 목표"
## 목표는 최대 2개만 작성.

## 목표1
- [x] 인프런 [스프링 프레임워크 핵심 기술](https://www.inflearn.com/course/spring-framework_core#) 섹션 5 듣기

## 목표2
- [x] 부스트코스 final 미션 제출

[2020-08-21 05:59] hsik0225 opened #50 "7주차 주간 목표"
## 목표 : 자바 공부
### 1. 자바의 정석
- [x] Cp7. 객체지향 프로그래밍 2
- [x] Cp8. 예외처리
- [x] Cp9. java.lang 패키지와 유용한 클래스
- [x] Cp10. 날짜와 시간 & 형식화
- [x] Cp11. 컬렉션 프레임워크
- [x] Cp12. 지네릭스, 열거형, 에너테이션
- [x] Cp13. 쓰레드(thread)
- [x] Cp14. 람다와 스트림(Lambda & Stream)

[2020-08-22 12:31] 102092 opened #51 "7주차 주간 목표"
## 목표는 최대 2개만 작성.

## 목표1
- the java 8 2ch 깃헙에 정리
- [x] 1ch
- [x] 2ch

## 목표2
- 1% 네트워크 1ch 노션에 정리
- [x] 1ch

[2020-08-23 01:45] guswns1659 opened #52 "채용공고"
# 상시모집
- [[동영상플랫폼] 채용연계형 인턴십 모집](https://recruit.navercorp.com/naver/job/detail/developer?annoId=20003170&classId=&jobId=&entTypeCd=004&searchTxt=&searchSysComCd=)
- [당근마켓 백엔드](https://www.notion.so/07ca1fda22584d60a48ef43a8cf9bab0)
- [카카오 [AI검색플랫폼] 서버 개발자 모집 (경력/신입)](https://kakaoenterprise.recruiter.co.kr/app/jobnotice/view?systemKindCode=MRS2&jobnoticeSn=17209)
- [docswave](https://www.notion.s

[2020-08-23 02:52] guswns1659 opened #53 "7주차 주간 목표"
## 자바, 네트워크 기술면접 키워드 외우기
- [x] 자바
- [x] 네트워크

## 자바 ORM 표준 JPA 프로그래밍 - 활용편 20강
- [x] 1 ~ 4
- [x] 5 ~ 8
- [x] 9 ~ 12

[2020-08-23 03:03] kses1010 opened #54 "7주차 주간 목표"
## 목표는 최대 2개만 작성.

## 목표1
- 오브젝트 읽기
- [x] 03. 역할, 책임, 협력
- [x] 04. 설계 품질과 트레이드 오프

## 목표2
- TDD
- [x] 04. 테스트 코드 작성 순서

[2020-08-23 08:57] suhyunsim opened #55 "7주차 주간 목표"
## 목표1: 패스트 캠퍼스 - 파이썬 알고리즘 강의 수강
- [x] 22 ~ 29 트리
- [x] 30 ~ 33 힙

## 목표2: 인프런 - Java로 배우는 자료구조 강의 수강
[강의 링크](https://www.inflearn.com/course/java-%EC%9E%90%EB%A3%8C%EA%B5%AC%EC%A1%B0/dashboard)
- [x] 섹션 5. 제2-2장: 메서드와 생성자
- [x] 섹션 6. 제2-3장: static 그리고 public

## 목표3: 부스트코딩 뉴비 챌린지
- [x] 7주차 과제 제출

[2020-08-26 09:11] 102092 commented on #51
## 목표 1
- https://github.com/102092/java-study

[2020-08-26 10:50] guswns1659 commented on #53
# 목표 수정
- 동아리 프로젝트와 함께 활용편을 수강 중인데 계획한 목표를 무작정 듣기는 것보다 프로젝트 진도에 맞춰서 하는 게 맞다는 판단에 목표 수정.

[2020-08-27 01:56] guswns1659 commented on #53
# GOOD
- 8월에 어떤 공부를 했을까 고민을 했었는데 JPA의 원리에 대해서 확실하게 이해할 수 있었다. 그동안 프로젝트에 손을 못 댄 이유가 객체지향, 클린코드를 반영하려면 JPA가 필수적이라서 건드리지 못했다. 이제 원리를 이해하고 내 프로젝트 하나둘씩 리팩토링해서 완성시켜야겠다!!

# BAD
- 요즘 멍한 느낌. 공채도 모집하고 시간은 흘러가는데 뭔가 손에 안 잡히는 마음이었다. 여러가지 이유가 있지만 아직도 부족하다는 생각이 든다. 이제는 멍한 걸 깨워야할 시기..!!

[2020-08-27 02:01] guswns1659 commented on #45
# 피드백

- 면접 준비로 심신이 지칠 수 있을텐데 체력 관리 잘하시길 응원하겠습니다. 어떤 결과가 나올지 모르지만 혹여나 잘 안되더라도 경험삼아 다른 기회가 있을거에요! 혹 합격했다면 다시 새로운 마음으로 성장하는 개발자가 되시길 바라겠습니다!
- 큰 양이 아니더라도 꾸준하게 네트워크를 공부하시는 모습이 좋네요. 응원하겠습니다!

[2020-08-27 05:20] 102092 commented on #51
## 목표 2
- https://www.notion.so/1-02c7e537ef4e4b8b86f9fd9c008cbe7e

[2020-08-27 05:29] 102092 commented on #42
## 피드백
- 푸글 전담? 리뷰어가 된 한입니다. 😮
- `Java로 배우는 자료구조 강의 수강` 의 경우, 저도 알차게 들었던 기억이 납니다. 중간중간 교수님이 코드로 과제같은 것도 내주셨던 것 같은데, 저같은 경우에는 넘겼지만 혹시 시간이 괜찮으시다면 한번 작성해보시는 것도 추천해드립니다.
- 자료구조와 알고리즘은 항상 고민이 되는 파트인 듯 합니다. 둘 중 어디를 초점을 맞춰야할지, 어느정도 수준까지 해야할지 같은 것도 많이 고민이 되실 것 같네요.
- 하지만 어느 부분이라던지 한번 완강하는 건 필요한 것 같네요..ㅠㅠ 전 못했습니다......
- `좋았던 점` 에서도 언급하셨지만, 자료구조, 알고리즘 공부와 함께 적절한 문제풀이가 병행된다면 좀 더 동기부여가 되지않을까 생각합니다!

## 그 외
-

[2020-08-27 05:33] 102092 commented on #51
## 좋았던 점
- the java8 강의, java8 docs를 기반으로 가볍게 설명해주는 강의임.
- [모던 자바 인 액션](https://www.aladin.co.kr/shop/wproduct.aspx?ItemId=200069290) 책을 보기전에 해당 강의를 보면 좋을 것 같다
- 책으로 시작하긴 책이 너무 내용이 많고 살짝 어려운듯

[2020-08-27 05:34] 102092 commented on #51
## 아쉬웠던 점
- 아무래도 면접이 껴있다 보니, 이번주는 많이 집중을 못했다
- 자료구조 + 알고리즘 , 인터뷰 키워드, 이펙티브 자바등을 추후 어떻게 공부해야할지 정리해봐야할 듯

[2020-08-27 07:41] hsik0225 commented on #50
## GOOD
- 스프링을 공부하면서 잘 몰랐던 자바 용법들을 알 수 있었다. 예를 들어, 인스턴스 초기화 블럭이나, 어노테이션 등 등
- 의식해서 **집중하자**고 생각하니 집중이 잘 되고 집중하는 시간도 늘고 있는 것 같다

## BAD
- 생활 패턴이 이상하다. 어떤 날은 2시간자고 어떤 날은 14시간 자고 막 왔다갔다 하고 있다. 몸이  잘 적응 못하고 있다. 규칙적으로 살아야 겠다.

[2020-08-27 08:32] hsik0225 commented on #43
## 피드백
- 읽은 책을 노션에 정리하는 습관이 좋은 것 같아요. 저도 노션에 정리하면서 읽는데 그냥 눈으로만 읽는 것보다 더 집중도 잘되고 기억에 남더라고요
-  책을 읽고 자신의 생각을 남기는 모습이 보기 좋네요. 저도 보고 배워야 할 부분인 것 같습니다 ㅎㅎ

[2020-08-27 09:53] kses1010 commented on #47
## 피드백
- 볼 때마다 재밌네요. 이펙티브 자바가 결국 모든걸 해결해주는거 같아요. 오브젝트읽으면서 이펙티브자바와 느낌이 비슷하더라구요. 평가, 내용 나뉜거 보면서 재미나네요.
- 훈수 한마디: 목요일날 제일 많은 양을 처리하려는건 아마 양이 너무 많아서 그렇지 않을까요? 확실하게 목표를 작게 만드는게 가장 중요하다고 생각합니다. 한주 정도 목표가 작다고 생각해서 늘려버리면 이번 목표처럼 컨디션이 왔다갔다할 때 달성하기가 어렵다고 하네요. 작은 목표로 3~4주(약 한달) 정도 하셨다가 익숙해지면 차차 늘려봐요.

[2020-08-27 09:54] kses1010 commented on #47
### ps
- 평가와 내용도 한번에 모아서 정리하면 좋지않을까 생각합니당

[2020-08-27 10:56] suhyunsim commented on #55
# 좋았던 점
* 패캠과 인프런 강의 분량이 좀 많았는데 결국 다 들었다. 비슷한 분량으로 한 달정도 꾸준히 들으면 완강할 수 있을 것 같다. 알고리즘 문제 풀이도 병행해야 할 듯!
* 뉴비챌린지 마지막 과제를 내고 마무리했다. C언어 기초를 조금이나마 알 수 있는 기회였다.

# 아쉬운 점
* 이번 주는 주로 인강을 듣는 거에만 집중했다. 그래도 이제 하루 소화할 수 있는 인강 분량을 알았으니 플젝이나 스프링 공부를 병행해야 할 것 같다.
* 코로나 때문에 정말 집에만 있었는데 집중이 되는 것 같으면서도 하루 종일 앉아있으니 눈도 자세도 피로하다. 이따금씩 환기가 필요하다!

[2020-08-27 11:11] suhyunsim commented on #44
* 알고리즘 강의...! 함께 듣고 있는데 저도 이번 주에 드디어 챕터 1을 끝냈습니다ㅎㅎㅎ 같이 듣기로 한 게 도움이 많이 된 것 같아요. 일주일에 들을 수 있는 날을 나눠놓으니 농땡이 피우면 목표 달성이 어렵겠더라고요! 저는 이제 막 자료구조 이론 파트를 끝냈는데 개념은 이해가 됐지만 또 막상 문제를 풀려니 모르는 게 많을 것 같아요. 파이썬으로 공부하고 자바로도 구현해본다고 들었는데 저도 그렇게 공부해봐야겠어요.😎
* 플젝과 병행하면서 JPA 인강을 들으면 바로 바로 적용해볼 수 있다는 점에서 도움이 많이 될 것 같네요. 그나저나 30강이라니ㄷㄷㄷ 대단합니다. 저는 인강을 들으면 자꾸 졸려서 많이 듣는 게 쉽지 않더라고요👍
* 옆에서 본 잭의 가장 큰 장점은 성실함이라고 생각해요. 공부엔 왕도가 없으니

[2020-08-27 12:17] beginin15 commented on #49
# 회고
- 이번 주는 휴가로 인해 목표량을 많이 줄였다.
- 슬슬 기술 면접 대비와 서류 준비를 병행해야할 것 같다.

[2020-08-27 12:27] beginin15 commented on #46
## 피드백
- 어떤 프로젝트를 하고 있는지 궁금하네요!
- 요새 스프링 인강 들으면서 새롭게 알게되는 기능들 중에 이전 코드스쿼드 프로젝트에 적용할 수 있는 부분들이 있더라구요. 예를 들면 특정 컨트롤러에서 호출되는 대부분의 메소드에서 로깅을 찍고 싶어서 인터셉터를 활용하려다가 실패한 적이 있었습니다. 인강을 듣고 나니 스프링 AOP에서 제공하는 ‘@Aspect’와 ‘@Around’를 사용하면 굳이 인터셉터로 복잡하게 구현할 필요가 없었을 것 같아요. 요즘 같은 시기가 공부와 함께 병행하면서 프로젝트를 진행하기 좋은 것 같아요. 공부한 내용을 적용해보시면서 구현해보시길! (물론 프로젝트 기간이 빡세다면 예외) 화이팅입니다!

[2020-08-27 15:00] #42 closed, assigned to suhyunsim

[2020-08-27 15:00] #43 closed, assigned to kses1010

[2020-08-27 15:00] #44 closed, assigned to guswns1659

[2020-08-27 15:00] #45 closed, assigned to 102092

[2020-08-27 15:00] #46 closed, assigned to hsik0225

[2020-08-27 15:00] #47 closed, assigned to beginin15

[2020-08-27 15:00] #48 closed, assigned to 102092, beginin15, blossun, kses1010, guswns1659, hsik0225, suhyunsim

[2020-08-29 05:23] guswns1659 opened #56 "7주차 리뷰어"
잭 -> 제
푸 -> 써
써 -> 에
에 -> 푸
제 -> 한
한 -> 잭

[2020-08-29 05:28] guswns1659 commented on #49
# 피드백

- 내 시간을 측정하고 달성할 수 있는 목표를 세우는 역량을 쌓고 있는 것 같아 좋네요! 물론 매주 달성하기 쉬운 목표가 세워지는 건 문제지만 목표 설정이 근거가 있다면 문제될 건 없습니다 ㅎㅎ 화이팅!!
- 좋네요! 개발자 채용은 갑자기 뜨는 경우가 많아서 미리 준비하는 사람이 기회를 얻는 것 같아요. 특히, 시간이 오래걸리는 기술면접이나 알고리즘은 당장 취업 욕심이 없어도 준비하는 게 좋은 것 같습니다. 물론 시간 분배는 잘해야겠죠. 다음 주라주라 모임에서는 취업을 위한 시너지가 나오면 좋겠네요!!

[2020-08-29 10:08] 102092 commented on #53
## 피드백
- 마지막 피드백입니다 🙇
- 기술적인 강의를 들을 때, 프로젝트와 같이 하는 게 도움이 많이 될 것 같다는 생각이 듭니다! 적절한 목표 수정이었다고 생각이 되네요.
- 프로젝트 리팩토링은, 저도 한번 도전해볼 생각을 가지고 있던 주제 였습니다. 그리고 잭이 클린 코드를 메인 토픽으로 삼고있는 만큼, 해당 능력을 드러낼 수 있는 좋은 방향이라고 생각이 되네요!
- 저의 경우에도 구직기간은 싱숭생숭한 기간이었어요. 공부하는 거에 집중하지도 못하고, 제대로 쉬지도 못하고.. 잭 처럼 멍한 느낌인게 이상한 점은 아닐듯 싶어요
- 그렇지만 지금까지 하신바를 잘 준비하시면, 원하시는 곳에 갈 수 있을 거라 생각합니다 👍

## 그 외
- 깜짝 케익 준비해주셔서 감사합니다. 정말 놀랐습니다... 😭
- 그

[2020-08-30 07:05] hsik0225 commented on #55
## 피드백
집에서도 늘어지지 않고 열심히 공부하시는 것 같아요! 저도 조금 본받아야 겠네요😅
피드백은 제가 요즘 공부하면서 배운점과 느낀점 위주로 적었어요. 저의 생각이니 푸글과 안맞는다 싶으면 넘어가주세요.
코로나 조심하시고 건강한 모습으로 다음에 봬요🖐

- 강의가 엄청 많은데 끈기있게 다 들으셨다니 축하드려요! 듣고 공부한 내용을 어떻게 사용할지, 어떻게 프로젝트에 적용할지 생각해보는건 어떨까요?
- 저는 두께가 조금 있는 책들을 읽다보면 점점 공부가 아니라 책을 끝내는 것이 목표가 되더라고요. 혹시 강의를 끝내는 것이 목표가 되어 뒷부분을 소홀히 하지 않았는지 생각해보면 좋을 것 같아요
- 자료구조를 적용해서 알고리즘 문제를 풀어보고 싶으면 [백준 단계별로 풀어보기](https://www.acmic

[2020-08-30 08:35] suhyunsim commented on #54
# 피드백
* 두 달의 시간 동안 써니가 목표로 하셨던 책 읽기를 잘 마치셨는지 궁금하네요! 책 읽으면서 공부하는 것들을 노션에 정리하신다고 들었는데 좋은 습관이라고 생각해요. 한 가지 궁금한 점이 있는데요, 써니는 뭔가를 정리하고 나면 그 기록들을 혹시 다시 보시는 편인가요? 저는 적고 나니까 사실 그 기록을 다시 보는 일은 많지 않아서 쌓아두는 기분이 들더라고요. 그게 나쁜 건 아니지만 결국 다시 펴지 않을 기록이라면 기록에 의미가 없는 건 아닐까 하는 생각이 들어서요. 써니는 어떤 식으로 활용하시는지 궁금합니다.
* 프로젝트로 굉장히 바쁜 일주일을 보내신 것 같은데 스터디 시간에도 말했듯이 그 내용도 함께 기록해 주시면 좋을 것 같아요! 써니가 말씀하신 대로 정량적 수치가 명확하지 않을 수는 있지만 스

[2020-08-30 12:06] beginin15 commented on #51
## 피드백
- 깃헙과 노션을 이용해서 꾸준히 정리해온 것이 눈에 보여서 좋네요! 비록 도중에 끊기는 부분이 있더라도 기록을 남기는 것이 취업활동에 도움이 된다는 걸 느끼는 요즘입니다.
- 저는 백기선님 더 자바 강의 중에 어노테이션과 프록시 파트 부분 들어볼 예정이었어요! 스프링에서 많이 활용되는 문법과 기술인데 개념과 원리를 제대로 알면 좋을 것 같더라구요. 람다 파트도 필수적으로 들으면 좋을 것 같네요!
- 처음이자 마지막 피드백이 되겠군요...아쉬우면서도 기쁜 일입니다~ 주라주라 첫  탈출(?) 성공 축하드립니다! 한의 좋은 기운 받아서 다들 원하는 결과 얻어갔으면 좋겠네요 :)

[2020-08-31 03:01] kses1010 commented on #50
## 피드벡
- 자바 공부가 제일 중요하다고 백기선님이 말씀하셨죠. 스프링보다 자바를 더욱 공부하라고 했는데 그걸 이행하고 있다니 고생이 많으십니다. 저도 한번 자바 정리한적 있었는데 내용이 엄청많더라구요. 그렇다고해서 대충하는 것보다 하나씩 꾸준히 해나가는것이 좋다고 생각합니다.
- 혹시 연습문제도 혹시 푸시나요? 자바의 정석 쓰신 남궁성님 카페가면 연습문제도 있더라구요. 저는 본격적으로 알고리즘 시작하면 남궁성 카페에 들어가서 연습문제도 풀 생각입니다. 한이 실제 라이브 코딩할 때 notepad로 했다고 하니 연습문제를 통해 자바를 본격적으로 알아 가는걸 추천 드립니다.

### 남궁성 카페
- [카페링크](https://cafe.naver.com/javachobostudy)

[2020-08-31 03:06] kses1010 commented on #54
@suhyunsim 좋은 피드벡 감사합니다.
- 기록을 자주보거나 하는 편은 아닙니다. 사실 기록이란게 나중에 필요할 때 보는거라 저는 무조건 기록합니다. 비록 지금은 기록을 다시보는 일이 적더라도 적절한 시기에 언젠간 기록을 다시 볼 날이 있다고 생각합니다. 예를 들어, 지금은 CI/CD하고 있지만 취직하고나서 하지 않다가 갑자기 저에게 CI/CD를 맡겼을 때 그때 제가 기록한 notion을 검색할 거 같아요. 다시 펴지 않을 기록은 없다. 언젠가는 보게 된다. 저의 결론입니다.
- 프로젝트에 대한 기록도 다음 기수 스터디에 포함해보겠습니다. 프로젝트 하면서 어떤일을 겪었고, 어떤 문제에 부딪혀 해결하는지도 알려드릴게요. 감사합니다. 이건 생각 못했는데 다음에 써야겠군요!

[2020-08-31 03:25] #49 closed, assigned to beginin15

[2020-08-31 03:26] #51 closed, assigned to 102092

[2020-08-31 03:26] #53 closed, assigned to guswns1659

[2020-08-31 03:26] #54 closed, assigned to kses1010

[2020-08-31 03:26] #55 closed, assigned to suhyunsim

[2020-08-31 05:16] #50 closed, assigned to hsik0225

[2020-08-31 05:16] #56 closed, assigned to 102092, beginin15, blossun, kses1010, guswns1659, hsik0225, suhyunsim

[2020-09-04 01:54] guswns1659 opened #57 "1기 회고"
# 참여인원
잭, 한, 솔라, 써니, 푸글, 제이, 에버

![1기사진](https://user-images.githubusercontent.com/55608425/92191320-73025e80-ee9e-11ea-9185-a8f7b139c6b8.jpg)

## 1주차 각오
![1주차각오](https://user-images.githubusercontent.com/55608425/92191395-a47b2a00-ee9e-11ea-978b-c939da75322f.jpg)

## 4주차 회고
![4주차 회고](https://user-images.githubusercontent.com/55608425/92191400-a80eb100-ee9e-11ea-849e-08fdc201ae97.jpg)

# 회고

## 애자

[2020-09-04 02:08] guswns1659 opened #58 "2기 회고"
# 참여인원

잭, 솔라, 써니, 푸글, 제이, 에버

![주라주라2기](https://user-images.githubusercontent.com/55608425/98458313-87324700-21d2-11eb-8a56-4571ec2df6a4.jpg)

# 2기 목표

![주라주라2기 목표](https://user-images.githubusercontent.com/55608425/98454225-8505c380-21a5-11eb-8a4f-a3a202acbe8b.jpg)

# 회고

# 잭 : 커리어 시작을 위한 준비 기간 - 서류지원 20회!

## 피드백
- 총 18회 정도 지원했고 1곳 최종합격해서 목표를 달성했다.
- 준비도 물론 열심히 했지만 더불어 운?(내가 통제할 수 없는 환경 및 기회)도

[2020-09-04 02:08] #57 closed, assigned to 102092, beginin15, blossun, kses1010, guswns1659, hsik0225, suhyunsim

[2020-09-04 02:08] #58 closed, assigned to 102092, beginin15, blossun, kses1010, guswns1659, hsik0225, suhyunsim

[2020-09-06 05:31] guswns1659 opened #59 "8주차 주간 목표"
## 네이버 공채 자소서 문항 3개 완성
- [x] 1 2번 문항
- [x] 2 3번 문항
- [x] 3 4번 문항

## 포크 프로젝트
- [x] 회원가입 API 개발

[2020-09-06 12:35] blossun opened #60 "8주차 주간 목표"
## 자료구조
- [윤성우의 열혈 자료구조]
- [x] 05. 연결리스트
- [x] 06. 스택
- [x] 07. 큐
- [x] 08. 트리

## 스프링
- [스프링 부트 개념과 활용]
- [x] 프로파일
- [x] 로깅 1부: 스프링 부트 기본 로거 설정
- [x] 로깅 2부: 커스터마이징
- [x] 테스트
- [x] 테스트 유틸
- [x] Spring-Boot-Devtools

[2020-09-06 12:40] kses1010 opened #61 "8주차 주간 목표"
## 목표는 최대 2개만 작성.

## 목표1: 윤성우 자료구조
- [x] 1. 자료구조와 알고리즘의 이해
- [x] 2. 재 귀
- [x] 3. 연결 리스트 1
- [ ] 4. 연결 리스트 2
- [ ] 5. 연결 리스트 3

## 목표2: 프로젝트에서 공부했던 기술 문서화하기
- [ ] 스프링 시큐리티를 이용한 OAuth2
- [ ] Route53, S3, CloudFront를 이용한 배포

[2020-09-06 13:16] suhyunsim opened #62 "8주차 주간 목표"
## 목표1: Github 정리
- [x] Github 프로필 작성 및 정리
- [x] Github 블로그 테마 편집 후 적용 완료
- [x] 블로그에 소개 포스트 업로드
- [x] 알고리즘 공부 Repository 정리 후 문제 풀이 업로드

## 목표2: 패스트 캠퍼스 - 파이썬 알고리즘 강의 수강
- [x]  05. Ch 12. 기본 정렬 알고리즘 - 04. 삽입 정렬
- [x]  06. Ch 12. 기본 정렬 알고리즘 - 06. 참고, 공간복잡도
- [x]  07. Ch 12. 기본 정렬 알고리즘 - 07. 참고, 공간복잡도2
- [x]  01. 기본 자료구조 - 01. 기초 문제풀이
- [x]  02. 기본 자료구조 - 02. 핵심 유형 문제풀이

## 목표3: 인프런 - 자바 자료구조 강의 수강

[2020-09-06 14:19] beginin15 opened #63 "8주차 주간 목표"
## 목표는 최대 2개만 작성.

## 목표1
- 넥스트 스텝 TDD 로또 진행
  - [x] step2 피드백 반영
  - [x] step3 PR 보내기
  - [x] step3 피드백 반영

## 목표2
- 인프런 [스프링 프레임워크 핵심 기술](https://www.inflearn.com/course/spring-framework_core#) 남은 섹션 듣고 정리
  - [x] 섹션 5
  - [x] 섹션 6
  - [x] 섹션 7

[2020-09-06 16:25] hsik0225 opened #64 "8주차 주간 목표"
## 프로젝트
###  회원 가입 구현
- [x] 이용 약관 출력
- [x] 회원 가입 양식 작성으로 회원가입
- [x] 회원 가입 양식 작성 시 유효성 검증

### 로그인 OAuth, JWT 구현
- [ ] OAuth를 이용한 로그인
- [ ] AOP, JWT를 이용한 로그인 검증

[2020-09-07 09:17] guswns1659 commented on #59
# 알고리즘
- [바킹독 유튜브](https://www.youtube.com/watch?v=ftOmGdm95XI&list=PLtqbFd2VIQv4O6D6l9HcD732hdrnYb6CY&index=11&t=487s)를 통해 BFS 익히는 중인데 언어는 달라도 설명이 좋아서 이해가 잘된다. 어려웠던 DFS문제도 점점 익숙해지는 중

## BFS 유형
- 시작점이 여러곳인 경우 -> 이중 반복문으로 시작점을 정해야하거나, 모든 시작점을 큐에 넣고 시작하는 방법이 있다. 둘 다 똑같나??
- 시작점으로부터 거리를 측정하는 경우

## 알고리즘 풀이

![image](https://user-images.githubusercontent.com/55608425/92728515-c8150780-f3ab-11ea-8c72-

[2020-09-08 03:34] guswns1659 commented on #59
## 2020 네이버 공채 자소서

![image](https://user-images.githubusercontent.com/55608425/92318846-feb9ed80-f04c-11ea-84ff-592394801eec.png)

![image](https://user-images.githubusercontent.com/55608425/92318855-12655400-f04d-11ea-8058-cca7868979d4.png)

[2020-09-09 13:11] kses1010 commented on #61
스택항목 삭제

[2020-09-10 12:35] guswns1659 commented on #59
# 회고

## 좋았던 점
- 자소서에 대한 두려움이 줄어들었다. 과거에는 경험이 없어서 어떻게 쓰지 걱정만 했다면 이제는 쓸 경험은 있으니 줄어든 것 같다. 아침에 1~2시간 정도 배정해서 작성했는데 매일 하다보니 점점 시간을 단축되고 있다. 그리고 너무 글의 완벽함을 추구하려는 마음을 내려놓으니 오히려 편안하게 잘 써진다. 중요한 건 코딩테스트이기 때문에...
- 동아리 프로젝트 개발을 우여곡절 끝에(?) 시작했다. 출시를 목표로 들어갔던 동아리라 출시를 너무 하고 싶었는데 클라이언트 개발자와 마찰이 있었지만 의견조율이 되서 프로젝트를 시작하고 있다. JPA를 기반으로 클린코드, TDD 기반 프로젝트를 잘 꾸려봐야겠다.
- 알고리즘를 꾸준히 풀다보니 확실히 문제 해결 역량은 늘어나는 느낌이다. 이번주 카

[2020-09-10 12:37] blossun commented on #60
## 잘한점
처음 목표설정 했을 때는 약간 부족한듯 싶어서 달성 후 추가목표를 세울까 했었는데 마감날까지 적당한 긴장감으로 목표달성을 해나갔다. 의미없이 보내는 시간이 줄어서 좋았다.
등하원시간에 김영한님JPA 기초강의를 듣는데 따로 정리없이 듣기도 좋았고, 이전에 프로젝트를 하면서 고민했던 내용이 담겨있어서 강의 내용이 아주 만족스럽다.
규칙적인 생활을 하려고 노력한 한 주였다.

## 아쉬운 점
스프링 강의 정리에 너무 많은 시간을 쏟아서 효율이 안나온다. 적당히 정리하고 속도를 좀 더 내서 완강을 해야겠다. 자료구조를 하나하나 직접 구현한 부분도 있고 눈으로 읽고 이해하고 넘어간 부분도 있는데 어떤 방법이 좋을지는 고민이다. C로 구현해서 나중에 자바로 다시 구현해볼 필요는 있을 것 같다.
하루에 알고

[2020-09-10 12:37] suhyunsim commented on #62
# 푸글의 일주일
![image](https://user-images.githubusercontent.com/58318786/92727481-2640eb00-f3aa-11ea-8b11-9b7ed0e2a32f.png)
* 9/2 ~ 9/10까지 하루 빼고는 모두 TIL을 작성함
* 미뤄왔던 블로그 템플릿 편집을 금요일부터 시작해서 TIL을 쓰지 못한 월요일 새벽 6시까지 달림😱
* 그 여파로 월요일은 😇 저 세상에 있었으나 뿌듯한 결과를 주라주라 1주 차에 가져올 수 있었음
* 블로그 진행 상황은요? (jekyll의 tale 템플릿을 활용해 nav-카테고리 & 태그 기능, footer-컨택 아이콘, 댓글 기능 등 직접 편집)
* 자랑거리:
    * [Github 프로필](https://github.com/s

[2020-09-10 15:43] beginin15 commented on #63
# 회고
## 목표 1

<img width="837" alt="스크린샷 2020-09-11 오전 12 39 42" src="https://user-images.githubusercontent.com/33659848/92756228-9ad65280-f3c7-11ea-9f7e-762df24d47e9.png">

| 평가 | 내용 |
|:--:|:--:|
| 😄 | 객체 지향 생활 체조 원칙들, 객체의 역할 구분, 일급 컬렉션, Stream API를 잘 활용하는 방법에 대한 내용이 반복적으로 나온다. </br> 이번 로또 미션은 설계의 큰 변동없이 처음부터 잘 짜여진 것 같다. 성장한걸까? |
| 🤔 | TDD 강의가 끝나고 배운 내용을 적용하거나 심화시킬 수 있는 방법을 찾아봐야겠다. (코드스쿼드 프로젝트를

[2020-09-11 01:32] guswns1659 opened #65 "8주차 리뷰어"
제 -> 솔
솔 -> 써
써 -> 잭
잭 -> 에
에 -> 푸
푸 -> 제

[2020-09-11 01:51] guswns1659 commented on #59
# 이력서 피드백 (언제든 환영)

[손현준_이력서](https://www.notion.so/guswns2012/0f03713261dc448aa8904f4b2ab0fa94)

[2020-09-11 03:45] guswns1659 opened #66 "[2기] 2차 주간 목표"
## 목표는 최대 2개만 작성.

# 채용
- [x] 네이버 공채
- [x] 네이버 예약 플랫폼 인턴 (지원 가능 시)

# 알고리즘 총 8문제!
- [x] 1 https://github.com/guswns1659/Java-Algorithm/issues/32
- [x] 2 https://github.com/guswns1659/Java-Algorithm/issues/33
- [x] 3 https://github.com/guswns1659/Java-Algorithm/issues/34
- [x] 4 https://github.com/guswns1659/Java-Algorithm/issues/35
- [x] 5 https://github.com/guswns1659/Java-Algorithm/issues/36
- [

[2020-09-11 04:10] blossun opened #67 "[2기] 2차 주간 목표"
## 자료구조
- [x] 09_우선순위 큐(Priority Queue)와 힙(Heap)
- [x] 10_정렬(Sorting)
- [ ] 11_탐색(Search) 1
- [ ] 12_탐색(Search) 2
- [ ] 13_테이블(Table)과 해쉬(Hash)

## 스프링
- [x] 스프링 웹 MVC 1부: 소개
- [x] 스프링 웹 MVC 2부: HttpMessageConverters
- [ ] 스프링 웹 MVC 3부: ViewResolve

[2020-09-11 09:35] hsik0225 opened #68 "[2기] 2차 주간 목표"
### 로그인 OAuth, JWT 구현
- [x] OAuth를 이용한 로그인
- [ ] JWT 구현
- [ ] AOP를 이용한 로그인 검증

[2020-09-11 16:13] beginin15 opened #69 "[2기] 2차 주간 목표"
## 목표는 최대 2개만 작성.

## 목표1
- [Do it! 자료구조와 함께 배우는 알고리즘 입문 자바 편](http://www.yes24.com/Product/Goods/60547893) 정렬 챕터
  - [x] 06-1
  - [x] 06-2
  - [x] 06-3
  - [x] 06-4
  - [x] 06-5
  - [x] 06-6
  - [x] 06-7
  - [x] 06-8
  - [x] 06-9

## 목표2
- [x] 자바 기술 면접 질문 목록 정리하기

## 목표3
- 넥스트 스텝 TDD 사다리 미션 진행
  - [x] step1
  - [x] step1 피드백 반영
  - [ ] step2
  - [ ] step2 피드백 반영

[2020-09-13 11:56] kses1010 opened #70 "[2기] 2차 주간 목표"
## 목표는 최대 2개만 작성.

## 목표1
### 윤성우의 자료구조
- [x] 04. 연결리스트 2
- [x] 05. 연결리스트 3
- [x] 06. 스택
- [x] 07. 큐
- [x] 08. 트리

## 목표2
- 프로젝트 문서화 하기

[2020-09-13 13:20] suhyunsim opened #71 "[2기] 2차 주간 목표"
## 목표1: 패캠 파이썬 알고리즘 강의 듣고 문제 풀기
- [x]  03. 고급 자료구조 - 03. 핵심 유형 문제풀이
- [x]  04. 기본 정렬 알고리즘 - 기초 문제풀이
- [x]  05. 기본 정렬 알고리즘 - 02. 핵심 유형 문제풀이
- [x]  08. Ch 13. 재귀 용법 - 01. 알고리즘 해결에 중요한 재귀 호출 이해
- [x]  09. Ch 13. 재귀 용법 - 02. 알고리즘 해결에 중요한 재귀 호출 예제와 실습 - 1
- [x]  10. Ch 13. 재귀 용법 - 03. 알고리즘 해결에 중요한 재귀 호출 예제와 실습 - 2

## 목표2: 인프런 자바 자료구조 강의 완강
- [x]  섹션 14. 제4-3장: 연결리스트와 Iterator
- [x]  섹션 15. 제4-4장: 이중연결

[2020-09-14 11:11] beginin15 commented on #69
### 목표 수정
- TDD 강의가 끝나기 전까지(~09.23) 남은 미션을 최대한 완수하기 위하여 계획을 변경합니다.
- 다음 주까지는 TDD 강의와 미션을 중점으로 목표를 세우고 나머지 기간동안 2차 모임 목표(자료구조 책 끝내기, 자바 기술면접 대비)를 중심으로 수행할 예정입니다.
- *중간에 건너뛴 챕터가 있어서 수정했습니다.*

[2020-09-14 16:45] suhyunsim commented on #71
_이전 목표 내용과 중복 부분이 있는 부분 삭제_

[2020-09-15 00:26] guswns1659 commented on #69
빠른 목표 수정 좋네요!! 내가 사용할 수 있는 시간을 파악하고 목표 우선 순위 잡는 모습이 좋습니다.

[2020-09-16 03:20] kses1010 commented on #70
[보안 및 시큐리티 정리](https://www.notion.so/OAuth2-52090255b7ee4efc8b5d9f097165a8ac)
[프로젝트 OAuth2 적용방법](https://www.notion.so/OAuth2-c9e924629a424548a2fe9d5d31dd0213)

[2020-09-16 11:04] kses1010 commented on #70
[Nginx에서 Let's Encrypt를 이용한 SSL 설정하기(https)](https://www.notion.so/HTTPS-Let-s-Encrypt-39eb1b19963c414b904df50a61637348)

[2020-09-17 06:05] beginin15 commented on #60
## 피드백
- 저도 솔라처럼 인강 들으면서 정리하는데 시간을 많이 쓰는 편이라 많이 공감됩니다. 😿 그래도 블로그 조회수가 높은걸 보니 그만큼 남들이 보기 좋게 정리하신다는 의미인데 이 또한 의미있는 일인것 같습니다. ㅎㅎ

- 김영한님 기초 강의가 정리없이 듣기에 좋다고 하니 저도 한번 들어봐야겠어요! 저번에 솔라가 들었던 강의를 따라 들어봤는데 정말 좋았어요. 좋은 강의 추천 많이 해주세요!

- 개인적인 생각이지만 알고리즘 문제를 본격적으로(?) 풀기 전 단계라면 자료구조는 한번씩 직접 구현해보는게 좋은 것 같아요. 대기업 같은 코딩 테스트가 아니더라도 대표적인 자료구조를 직접 구현하거나 손코딩 시키는 회사들도 꽤 있더라구요. 아예 경험이 없는 것보단 한번 구현해보는게 좋을 것 같다는 생각을 했었습니

[2020-09-17 07:58] guswns1659 commented on #66
# 알고리즘
- 알고리즘 문제를 이슈로 만들어서 라벨로 구분하고 복습하기 용이함.

![image](https://user-images.githubusercontent.com/55608425/93437399-e5dff080-f906-11ea-9f7f-4dcb2307de1b.png)

[2020-09-17 09:15] guswns1659 commented on #64
# 피드백
- 개인 프로젝트를 진행하고 있어서 보기 좋네요! 속도를 신경쓰지 말고 에버만의 속도로 잘 구현하길 바라겠습니다.
- 요즘 알고리즘도 꾸준히 푸는 걸로 알고있는데 좋은 것 같아요! 프로젝트를 하더라도 하루에 꾸준히 알고리즘은 풀어야 나중에 채용 준비 시 급하게 알고리즘 공부할 필요가 없는 것 같아요!! 당장 취업하는 게 아니라도 수학 문제 푸는 거 좋아한다고 했으니 꾸준히 진행하길 바랄게요!

[2020-09-17 10:37] kses1010 commented on #59
### 피드백
- 자소서에 대한 두려움이 없어져서 다행이네요. 역시 자소서는 양으로 밀어붙여야하는가...
- 프로젝트를 드디어 시작했군요. 프로젝트하면 의외로 배울점이 많아서 좋더라구요. 이번기회에 예외처리에 대해서 엄청 많이 배웠습니다. 이번기회에 토비의 스프링 3.1 도 사서 볼 생각이에요.
- 프로젝트하면서 느낀점은 시큐리티 같은 신기술에 욕심부리다 같은팀 일정에 영향을 주면 안된다는걸 깨달았습니다. 신기술은 혼자 사이드 프로젝트할 때나 써야겠어요.
- 지난번 식사할 때도 말씀하셨지만 알고리즘은 정말 꾸준히 해야할거 같네요. 코딩테스트는 통과할 수 있을만큼. 한발자국씩 딛다보면 꼭 해낼겁니다.

[2020-09-17 12:44] suhyunsim commented on #71
# 피드백
## 목표1: 패캠 파이썬 알고리즘 강의 듣고 문제 풀기
![image](https://user-images.githubusercontent.com/58318786/93469443-7af4e080-f92b-11ea-8cb3-fdeb57dac60e.png)
* Java와 Python으로 문제 풀이 후 노션에 정리중
* 지난 주 스터디 때 피드백 받은걸 토대로
    * 깃헙에는 레포에 md 파일로 정리해서 코드만 올리기 (-> 잭의 목표 달성 현황을 보고 이슈 라벨로 관리하는 것도 좋을 것 같다는 생각이 들었다)
    * 전반적인 사고과정을 담은 내용은 블로그 포스트로 올리기
* 이번 주에 다른 일정들로 다소 빡빡하게 진행하다 보니 깃헙과 블로그에는 정리하지 못했다. 주말을 이용해서 업로드 할 예

[2020-09-17 12:53] suhyunsim commented on #63
* 그 물음에 대한 제 답은 Yes...😎
* 인프런 스프링 강의 중 어떤 걸 들을까 고민하다가 주라주라 멤버들 목표에 있는 강의를 한 번 쓱 훑어봤는데요. 제이 정말 포기하지 않고 끝까지 다 듣고 정리까지 해냈군요! 크 멋져요. 제이도 쏠라도 백기선님 강의를 수강한 걸 보고, 또 매번 좋은 피드백과 정리를 남겨줘서 저에게도 좋은 추천이 되었어요. 제가 그 강의를 들을 때 너무나 필기가 하기 싫다면 참고하고 싶을 정도로...! ㅎㅎ
* TDD강의가 제이에게 큰 도움이 된 것 같아요. 지난 주 고민이 많아 방황하는 중이라고 들었는데 그럼에도 탈주하지 않고 끝까지 해내고 있군요.ㅎㅎ 새로운 프로젝트를 TDD로 만들 생각이 있다면... 또 누군가와 협업할 생각이 있다면... 저에게 넌지시 윙크를...🤤😉

[2020-09-17 13:31] hsik0225 commented on #68
## 회고
### 잘한 점
### 잘못한 점
- 이번 주 내내 너무 놀기만 했다. 다시 마음을 다잡아야 할 필요가 있다
- 알고리즘 문제 푸는데 너무 오래 걸린다. 시간을 조금 더 정해놓고 하는게 좋을 것 같다

[2020-09-17 13:57] hsik0225 commented on #62
### 피드백
- 목표들을 세분화해서 작성해놓으니 해야할 일들 명확히 알 수 있어서 참 좋은 것 같네요. 저는 크게 `로그인 구현` 처럼 해놓아서 자꾸 해야할 일들이 생기더라고요😨
- 깃허브 블로그와 프로필을 봤어요. 정말 깔끔하게 잘 만들어진 것 같아요! 폰트부터 레이아웃까지 세심하게 신경쓰려고 노력한 모습이 보이네요. 테마 적용 잘 안되고 디자인이 맘처럼 되지 않아 힘들으셨을텐데 고생 많으셨습니다👍
- 일주일 간 고생많으셨습니다. 집에서도 항상 호학불권(好學不倦 )의 마음으로 화이팅하시기 바랍니다😃

[2020-09-17 13:58] beginin15 commented on #69
# 회고
## 목표 1

| 평가 | 내용 |
|:--:|:--:|
| 😄 | - 매일 정해진 분량을 공부했다. </br> - 책에 있는 코드 설명이 부족하면 유튜브의 강의를 찾아보면서 최대한 이해하려고 노력했다. |
| 🤔 | 중간 중간 실습 문제가 있는데 정렬 과정을 출력하는 문제는 간혹 귀찮아서 안 풀었다. 개념 설명은 나름 만족하는데 풀기 싫게? 재미없게? 생긴 문제들이 많다. |

## 목표 2

| 평가 | 내용 |
|:--:|:--:|
| 😄 | 이를 토대로 2기 개인 목표인 자바 기술 면접 공부를 위한 가이드라인을 만들 것이다. |
| 🤔 | 다른 목표를 수행하느라 정말 러프하게만 정리했다. 계속해서 업데이트해야 한다. |

## 목표 3

| 평가 | 내용 |
|:--:|:--:|
| 😄 |

[2020-09-17 14:57] guswns1659 commented on #66
# 피드백

# GOOD
- 네이버 공채, 네이버 인턴 지원 완료했다. 자소서가 있는 지원이라서 시간을 넉넉히 잡고 진행하니 목표달성할 수 있었다. 무엇보다 완벽한 자소서에 대한 기대치를 낮추니 쉽게 작성할 수 있었다. 이번달은 10개 목표로 지원 중이며 3주차 현재 5개 지원 완료!
- 알고리즘 풀이를 매일 꾸준히 했다. 강점과 약점을 파악할 수 있었다. 기초적인 DFS는 풀 수 있으나 조금 응용된 문제, 주로 골드 3~5 문제는 어려워하는 모습.
구현 문제는 아직 어려워한다. 코테를 보니 구현 문제는 반드시 맞혀야할 것 같다. 꾸준히 도전!
- 요즘 뭐랄까 개발이 재밌다. 좋은 문화 가진 팀에서 성장하고 싶다는 생각도 많이 든다. 하루를 정신없을 정도로 빨리 지나간다.

# Bad
- 동아리 프로젝트 진

[2020-09-17 14:59] blossun commented on #61
* 저는 윤성우 자료구조 정렬까지 진도를 나갔는데 후반부 설명이 앞부분 보다는 적지만 저는 꽤 만족하면서 공부했습니다~ 문제를 하나하나 다 풀어보면서 진행했는데 확실히 풀어보는게 도움이 꽤 되는 것 같아요.
* 특히나 놓칠 수 있는 부분을 알려줘서 좋았던 것 같습니다. (코드 구현 시 반복문의 탈출 조건 등등..)
* 자바로 구현한다고 하셨는데 저도 자바로 다시 구현해봐야겠네요 🙂
* 프로젝트를 진행하면서 사용했던 기술을 문서화하는 작업이 귀찮기도 하지만 나중에 많은 도움이 되는 것 같아요~~ 저도 되도록이면 기록으로 남기려고 합니다. 보통 노션만 이용하시나요?? 블로그로 게시해주시는 것도 좋을 것 같습니다.👍👍

[2020-09-17 15:04] blossun commented on #67
* 자료구조 진도를 빠르게 끝내려고 했는데 너무 지루하다. 다른 공부랑 병행해서 해야겠다.
* 빠듯하게 달성할 수 있는 목표였지만 주말과 월화를 놀아서 실패....
* 자료구조 스프링을 조금씩 진도나가고 플젝 리팩토링을 먼저 해볼까 싶기도 하다 🤔

[2020-09-18 02:01] #59 closed, assigned to guswns1659

[2020-09-18 02:01] #60 closed, assigned to blossun

[2020-09-18 02:01] #61 closed, assigned to kses1010

[2020-09-18 02:01] #62 closed, assigned to suhyunsim

[2020-09-18 02:01] #63 closed, assigned to beginin15

[2020-09-18 02:01] #64 closed, assigned to hsik0225

[2020-09-18 02:01] #65 closed, assigned to 102092, beginin15, blossun, kses1010, guswns1659, hsik0225, suhyunsim

[2020-09-18 04:46] suhyunsim opened #72 "[2기] 3차 주간 목표"
## 목표1: 패캠 파이썬 알고리즘 강의 듣고 문제 풀기
- [x]  11. Ch 14. 동적 계획법과 분할 정복 - 01. 동적 계획법과 분할 정복
- [x]  12. Ch 15. 고급 정렬 알고리즘 - 01. 퀵 정렬
- [x]  13. Ch 15. 고급 정렬 알고리즘 - 02. 병합 정렬 - 1
- [x]  14. Ch 15. 고급 정렬 알고리즘 - 03. 병합 정렬 - 2
- [x]  15. Ch 15. 고급 정렬 알고리즘 - 04. 병합 정렬 - 3
- [x]  16. Ch 15. 고급 정렬 알고리즘 - 05. 병합 정렬 - 4
- [x]  07. Chapter.05 고급 정렬 알고리즘 - 핵심 유형 문제풀이

## 목표2: 인프런 스프링 입문 - 김영한
* [강의 링크](https://www.in

[2020-09-18 06:12] hsik0225 opened #73 "[2기] 3주차 주간 목표"
## 목표 1 - 로그인 구현
- [ ] JWT 쿠키 발행
- [ ] 메인페이지 디자인
- [ ] 개인정보 수정(쿠키를 갖고 있는 사람만)
- [ ] 로그인 창
- [ ] 아이디, 비밀번호 찾기(가장 기억에 남는 장소는? 같은 질문에 답하는 방식)

## 목표2 - 알고리즘
- [ ] 매일 2문제씩. 바쁘면 그 다음날에 이어서!

매일 3문제씩 하는게 빡세서 매일 2문제 푸는 것으로 수정

[2020-09-20 05:24] guswns1659 opened #74 "2차 리뷰어"
제 -> 써
솔 -> 잭
써 -> 에
잭 -> 푸
에 -> 제
푸 -> 솔

[2020-09-20 10:47] kses1010 opened #75 "[2기] 3차 주간 목표"
## 목표는 최대 2개만 작성.

## 목표1
- 윤성우의 자료구조
-  [x] 트리

## 목표2
- 1% 네트워크 원리 문서화하기

[2020-09-20 11:01] guswns1659 opened #76 "[2기] 3차 주간 목표"
# 포크 프로젝트
- [ ] 메인 화면 API 구현

# 알고리즘 8문제 정리
- [x] 1 https://github.com/guswns1659/Java-Algorithm/issues/40
- [x] 2 https://github.com/guswns1659/Java-Algorithm/issues/41
- [x] 3 https://github.com/guswns1659/Java-Algorithm/issues/42
- [x] 4 https://github.com/guswns1659/Java-Algorithm/issues/43
- [x] 5 https://github.com/guswns1659/Java-Algorithm/issues/44
- [x] 6 https://github.com/guswns1659/Jav

[2020-09-20 12:46] blossun opened #77 "[2기] 3차 주간 목표"
## 자료구조
윤성우의 열혈 자료구조
- [x] 11. 탐색 1
- [x] 12. 탐색 2
- [x] 13. 테이블(Table)과 해쉬(Hash)

## 자바 웹 프로그래밍 Next step
- [x] 1장. 첫 번째 양파 껍질 벗기기
- [x] 2장. 문자열 계산기 구현을 통한 테스트와 리팩토링
- [ ] 3장. 개발 환경 구축 및 웹 서버 실습 요구사항
- [ ] 4장. HTTP 웹 서버 구현을 통한 HTTP 이해하기

[2020-09-20 13:53] beginin15 opened #78 "[2기] 3주차 주간 목표"
## 목표는 최대 2개만 작성.

## 목표1
- [x] [Do it! 자료구조와 함께 배우는 알고리즘 입문 자바 편](http://www.yes24.com/Product/Goods/60547893) 7장

## 목표2
- 넥스트 스텝 TDD 미션
  - [x] step2
  - [x] step2 피드백 반영
  - [x] step3
  - [x] 볼링 step1 맛보기

[2020-09-21 05:32] blossun commented on #77
자료구조 chapter 명을 잘못적어서 수정

[2020-09-21 06:19] hsik0225 commented on #73
- 9/18(금)[ 1 문제] : 10844
- 9/21(월)[ 7 문제] : 2156, 11053, 11054, 2565, 9251, 1912, 12865
- 9/22(화)[ 2 문제] : 1931, 11047

[2020-09-22 07:30] beginin15 commented on #59
이력서 잘 봤습니다! 깔끔해서 읽기 좋았어요 ㅎㅎ 개인적으로 느낀 점 간단하게 남길게요.ㅎㅎ

최근 코쿼 백엔드분들이 공유해주신 이력서들 보면 패턴이 조금 비슷하더라구요. 아무래도 서로 공유한 내용들이 비슷해서 그런걸수도 있겠어요. 그런데 대부분 이직용 이력서를 참고하신 것 같더라구요. 이러한 템플릿이 과연 신입 이력서로서 매력있는가?라는 의문이 종종 들어요. (물론 신입은 이력서에 적을만한게 많이 없어서 고민되는 부분이죠. 😿)

어차피 자율 양식인데 *자기 소개* 부분에 잭의 매력을 어필할만한 요소를 모험적으로(?) 넣어보는건 어떨까요?

제가 잭에게 굉장히 인상 깊었던 부분은 평상시에 애용하시는 플래너 다이어리입니다. 잭의 아이덴티티를 물건에 빗대어 표현하라고 하면 항상 사용하시는 그 플래너라고 생각해

[2020-09-23 03:29] blossun commented on #77
[교재 저장소](https://github.com/slipp/jwp-book)
[실습 저장소](https://github.com/blossun/java-web-next-step)

[2020-09-24 04:50] beginin15 commented on #70
## 피드백
- 역시 정리왕 써니군요! 링크들 모아두었다가 나중에 토이 프로젝트할 때 많이 도움받을 것 같습니다. 미리 감사 인사를...🙇‍♀️
- 저번 모임 때도 나왔던 얘기지만 깃헙 저장소나 블로그에 업로드하는 것도 굉장히 좋을 것 같아요. 언젠가...기대하겠습니다.ㅎㅎ
- 윤성우 자료구조 책에 대해서 의견이 많이 갈린다고 하더라구요. 🤔 시간적 여유가 된다면 같은 주제에 대한 다양한 책을 접하는 게 가장 좋은 것 같아요. 반복적으로 읽다 보면서 개념이 익숙해지기도 하고, 여러 가지 방법 또는 견해를 접할 수 있어서요! 그렇게 하면 잘못된 부분을 판단할 수 있는 식견도 생길 것 같아요. 말은 참 쉽지만 정말 관심 있는 것이 아니면 같은 분야의 책을 많이 읽는 것은 어렵긴 하겠죠. (그래서 저의 자료구조

[2020-09-24 04:52] kses1010 commented on #70
감사합니다. 자료구조 책에 대해선 디온과 한번 이야기를 나눴는데 자료구조같은경우 책을 한권 끝낸다는걸 의미를 집중하는게 좋다고 하더군요. 그래서 좋든 안좋든 일단 자료구조 책은 하나 마무리 지으려고 합니다. 좋은 피드백 감사해요~~

[2020-09-24 04:55] kses1010 commented on #68
### 피드백
고생하셨습니다. 사실 로그인이 쉬워보이지만 어려운 분야인듯 합니다. 괜히 보안이 높은 연봉을 받는게 아닌가 싶습니다.
한단계 씩 나아가면 로그인에 대해서 이해할 거라 생각합니다. 저는 아예 4주동안을 로그인만 공부했습니다 하하하
알고리즘은 너무 성급하게 풀지 않아도 될 듯합니다. 긴 시간 보다는 최대 1시간을 잡고 풀다가 안되면 답변 보시고 다시 풀어보는건 어떨까요?

[2020-09-24 04:56] kses1010 commented on #75
[01. 웹 브라우저가 메시지를 만든다.](https://www.notion.so/01-dd8300875e05437eae8e43fd4d8cc765)

[2020-09-24 04:57] kses1010 commented on #75
프로젝트 문서화
- [S3 웹 호스팅 설정하기](https://www.notion.so/S3-30f78587912e4f0da7ca904bf75eb86b)
- [Route53 설정하기](https://www.notion.so/Route53-658dc848f29544af8f6e3c9b793de2e7)
- [CloudFront 연결하기](https://www.notion.so/CloudFront-S3-Route53-57b553b3b6a643f1a233e76b12cdc0da)

[2020-09-24 05:07] guswns1659 commented on #76
# 알고리즘
- SQL 시험을 보는 코테가 있어 갑자기 생겨서 프로그래머스 SQL 문제 풀이
- 프로그래머스 문제 난이도가 생각보다 높지 않아서 이정도로만 나와도 좋을 것 같다..

![image](https://user-images.githubusercontent.com/55608425/94103298-3f986b80-fe6f-11ea-87d8-b769705c9609.png)

[2020-09-24 05:10] guswns1659 commented on #76
# 포크 프로젝트
- [2번의 P.R 코드리뷰](https://github.com/Titanic-fork/fork-server/pull/16)

## 느낀점
- 개발은 혼자하지만 코드 리뷰를 통해 다른 사람의 시각을 얻을 수 있어서 좋다. 고여있지 않은 느낌. 특히 써니가 서비스의 역할이 많아지는 걸 항상 피드백해주는데 객체지향적 사고를 생각하는데 도움이된다.

## 7개 API 구현
- [x] 일일, 주간 달성률 API ~goal/{goal-id}/achievement?today-time=30&weekly-time=30
- [x] 로그인 API
- [x] 목표 등록 API
- [x] 누적포인트, 사용가능 포인트, GET ~/point/{goal-id}
- [x] 8월 적립된 포인트 조회,  GET ~/po

[2020-09-24 11:50] guswns1659 commented on #76
# 회고

## 아쉬운점
- 목표를 막연하게 세웠기에 오히려 달성해야할 목표가 세분화될수록 많아진 느낌. 메인 화면 내에 8개 API가 존재하는데 단순히 메인 API 구현으로 너무 추상화했다.
- 코딩테스트를 볼 기회가 계속 생기는데 프로젝트가 있어서 집중이 안되는 상황.. 프로젝트를 하겠다 선택을 했으니 책임을 지는 건 맞는 것 같다. 하지만 아쉬울따름.. 그래도 프로젝트를 진행하면서 객체지향 설계, JPA에 대한 이해도가 높아지고 있어서 좋다.

## 좋은점
- 코딩테스트 덕분에 SQL 문제도 한번 풀어보고 다시 다지는 시간을 가져서 좋았다.
- 프로젝트를 진행하면서 JPA, 객체지향 설계에 대한 고민이 깊어지고 있다. 조금씩 역량이 상승하는 중
- 코드리뷰 문화를 통해서 고여있지 않고 새로운 자극을 받

[2020-09-24 11:56] guswns1659 commented on #71
# 피드백

- 푸글의 구체적인 목표 설정이 매 주 목표 달성을 이끄는 것 같습니다. 목표를 수치화하는 역량이 쉽게 얻어지지 않는데 꾸준하게 하는 걸보니 멋집니다!! 응원합니다.
- 알고리즘도 강의 수강하면서 점차 역량이 향상되는 게 느껴지네요! 알고리즘은 정말 꾸준히 푸는 방법밖에 없는 것 같습니다. 지금 하는 노력들이 차곡차곡 쌓여서 효과를 발휘할 거라 믿어요!!
- 인프런 자료구조 강의도 꽤나 많았을텐데 목표 달성 축하드립니다. 뿌듯함이 느껴지네요!! 코쿼를 다니면서 들었다면 좋았겠지만 지금도 늦지 않았다 생각해요 ㅎㅎ

[2020-09-24 12:55] blossun commented on #66
* 알고리즘 저장소에 이슈로 관리하는게 좋아보여요! 태그로 파악하기 좋고, open되어있는 이슈를 보면 풀어야겠단 생각이 들 것 같아요ㅎㅎ 꾸준히 풀기 어려운데 저도 이런식으로 해봐야겠네요!!
* 특히 핵심 아이디어랑 어려운점도 바로 파악돼서 나중에 비슷한 문제 풀 때 많이 도움될 것 같아요 👍
* 잭은 통과한 문제에 대해서 다른 사람의 코드도 보나요??
 가끔 쉽게 풀고 넘어간 문제도 다른 사람 코드를 보면 새로 배우는 것들이 많더라구요!

프로젝트 마감 전에 호눅스가 하신 말씀이 일단 기능이 돌아가게 하는게 1순위라고 하셨는데 데드라인이 촉박하다면 일단 기능 구현을 완성하는 것도 나쁘지 않은 것 같아요~! 하지만 TDD는 짱..! 프로젝트 화이팅하세요👍

[2020-09-24 13:03] blossun commented on #77
## 회고
### 자료구조
* 자료구조 탐색 부분 설명이 줄고 코드로 이해하느라 시간이 비교적 걸렸다.
* 코드 분석은 하고 직접 구현은 하지 않아서 반복주기를 가지고 자바로 구현해봐야겠다.
* 지루했던 자료구조 공부였지만 목표를 지켜서 공부를 했다.
### 자바 웹 프로그래밍 Next step
* 4장까지 전에 눈으로 봤던 내용이라 빠르게 나갈 수 있을 거라 생각하고 목표 설정을 했는데 큰 오산이었다.
* 약간 속도를 내서 실습을 해야겠지만 요구하는 실습은 되도록 전부 진행하면서 진도를 나가야겠다.
* TDD와 리팩토링의 중요성을 알게해준 책이다.

</br>

* 오고가는 길에 인강을 들으니깐 시간을 알차게 쓴 것 같은 기분이다. 계속해서 김영한님 JPA 강의 듣는중
* 알고리즘을 남는 시간에 풀려고 하

[2020-09-24 13:52] beginin15 commented on #78
# 회고
## 목표1
- 자료구조 책이 얼마 남지 않았다.
- 재미가 없다. 이 책이 재미없는 거겠지...? 알고리즘 문제 풀기는 이것보단 재밌겠지...?

## 목표2
- 넥스트 스텝 미션은 피드백이 언제 올지 모르기 때문에 목표를 정하기 어려웠다. 목표에 `볼링 step1 맛보기`라고 적어놨지만 현재 step1 PR을 보내고 피드백까지 반영해서 step1을 완료한 상황이다. 중간에 목표를 추가하려고 했지만 피드백 변수가 있어서 섣불리 변경할 수 없었다.
- `step3`의 경우, 아직 step2 피드백 반영한 것에 대한 리뷰가 없어서 일단 따로 브랜치를 파서 구현했다.

  ![스크린샷 2020-09-24 오후 10 55 46](https://user-images.githubusercontent.com/

[2020-09-24 14:56] suhyunsim commented on #72
# 목표1: 패캠 파이썬 알고리즘 강의 듣고 문제 풀기
* 동적 계획법, 분할 정복, 퀵 정렬, 병합 정렬 개념 정리
* 정렬 관련 문제 풀이
![Screenshot from 2020-09-24 23-52-51](https://user-images.githubusercontent.com/58318786/94161883-1ef90180-fec1-11ea-8332-90871928a8cd.png)
* 이번 주는 문제 풀이 보다는 개념 정리에 집중했다.
* 알고리즘 문제 풀이한 내용을 정리해야 하는데 자꾸만 미뤄서 아쉽다. 다음 주 목표에 등록할 예정

# 목표2: 인프런 스프링 입문 - 김영한
* 인프런 강의를 수강 중인데 해당 내용을 TIL Repository에 저장하고 있다.
    * [TIL 링크](htt

[2020-09-24 14:59] suhyunsim commented on #67
* 목표 달성할 내용도 만만치 않았는데 42서울 시험까지 준비하느라 고생이 정말 많았어요! 시험이 일찍 끝난 덕분에 쏠라와 함께 즐거운 시간을 보낼 수 있던 건 덤으로 기쁘네요ㅎㅎ🤓🤓
* 저도 지금 파이썬으로 자료구조 내용 기초를 공부하고 있는데 마침 정렬 공부를 3차에 진행했어요. 개념 공부할 때는 이해가 되던 내용이 또 알고리즘 문제를 풀면서 접하려니 쉽지 않더라고요. 특히 풀 수 있는데 시간 제한이나 메모리 제한으로 다시 제출해야 하는 경우가 많았는데 쏠라도 자료구조 공부를 하면서 알고리즘 문제를 풀어보는 것도 추천해요! (라고 쓰고 보니 매일 알고리즘 풀기라고 코멘트가 있었네요 히히 어떤 문제 풀었는지 함께 공유해용💪) Big O 공부도 겸사겸사 되더라구요~
* 플젝 리팩토링은 영원한 숙제... 우리

[2020-09-24 15:04] guswns1659 commented on #78
저도 지금 고민을 많이 하고 있는 데, 비슷한 고민인 것 같습니다. 과도한 서비스의 역할을 줄이기. ㅎㅎ

[2020-09-24 15:40] beginin15 commented on #78
@guswns1659
[리팩토링 이전](https://github.com/next-step/java-bowling/blob/master/src/main/java/qna/service/QnAService.java) => [리팩토링 이후](https://github.com/next-step/java-bowling/blob/javajigi-qna/src/main/java/qna/service/QnAService.java)
제가 회고에서 언급한 코드를 자바지기님이 리팩토링하신 부분입니다. **master** 브랜치가 리팩토링 이전 레거시 코드이고, **javajigi-qna** 브랜치가 리팩토링 이후입니다. 도메인 클래스와 테스트 코드 부분을 중점으로 보시면 좋습니다. 도움이 되셨으면 좋겠네요!

[2020-09-24 17:17] hsik0225 commented on #69
### 피드백
늦게 피드백을 드려서 죄송합니다. 한 주간 고생하셨어요😀
- 알고리즘이나 자료 구조등을 공부할 때, 흥미가 떨어지지 않게 재밌는 문제들만 푸는 것도 좋은 것 같아요. 안그래도 매일 하기 어려운 파트라서 조금의 재미라도 없으면 지속하기 힘들더라고요.
- 기술 면접 키워드들을 잘 정리해놓으셨네요! 잭도 저번에 기술 면접 공부하고 있던데 같이 얘기해보는 것도 괜찮을 것 같아요
- 인터페이스를 사용하여 조금 더 객체 지향적으로 짤 수 있게 되었군요. 좋은 공부였던 것 같아요! 저도 나중에 꼭 한 번 강의를 들어봐야 겠어요. 저는 인터페이스는 Repository를 정의할 때 말고는 사용해 본 적이없는 것 같네요😂

[2020-09-25 05:50] hsik0225 opened #79 "[2기] 4주차 주간 목표"
## 목표 1 - 개발 동아리 프로젝트 개념 및 사용법 공부
- [x] svn
- [x] Maven
- [x] BootStrap
- [x] MyBatis

## 목표2 - 알고리즘
- [ ] 매일 2문제씩. 바쁘면 그 다음날에 이어서!

[2020-09-25 05:51] hsik0225 commented on #73
### 피드백
공부를 하지 못했다.. 컴퓨터를 본가에 갖다 두기로 결정,

[2020-09-25 06:15] #66 closed, assigned to guswns1659

[2020-09-25 06:15] #67 closed, assigned to blossun

[2020-09-25 06:15] #68 closed, assigned to hsik0225

[2020-09-25 06:15] #69 closed, assigned to beginin15

[2020-09-25 06:15] #70 closed, assigned to kses1010

[2020-09-25 06:15] #71 closed, assigned to suhyunsim

[2020-09-25 06:15] #74 closed, assigned to 102092, beginin15, blossun, kses1010, guswns1659, hsik0225, suhyunsim

[2020-09-25 06:17] guswns1659 opened #80 "[2기] 3주차 리뷰어"
제 -> 잭
솔 -> 에
써 -> 푸
잭 -> 제
에 -> 솔
푸 -> 써

[2020-09-26 04:07] hsik0225 commented on #77
### 피드백
- 자료구조를 공부하면서 특히 느꼈던 건 끝으로 갈수록 책을 끝내고 싶은 마음에 분명 중요한 부분일테도 책을 훅훅 넘기게 되더라고요. 지금 내가 공부가 아닌 책의 완독을 목표로 하고 있는건 아닌지 확인하면서 공부하면 도움이 될 거에요😃
- 개념과 원리 위주로 공부하고 계시는군요. 프로젝트를 하지 않고 있으니 더욱 지겹게 느껴질 것 같아요. 하지만, 지금 지루함을 참고 이겨내시면 나중에 더 큰 재미로 돌아올 거에요. 지치지 말고 화이팅!
- (솔라 교재 저장소가 신경쓰여요🤣)

[2020-09-26 14:44] blossun commented on #77
ㅋㅋㅋㅋㅋ감사합니다 언제 저렇게 썼지,,,ㅎㅎ 오타 수정!

[2020-09-26 15:22] blossun commented on #73
* 저는 하루종일 놀면서 보내는 날이 종종있는데 이미 지난 시간은 리프레쉬한 시간으로 생각하고 다시 시작하면 또 집중이 잘 되더라구요~~ 하지만 너무 늘어지는 날이 많아지면 환경을 바꾸는 것도 좋은 방법인 것 같아요!
에버는 그래도 코쿼에서 집중을 잘하지 않나요? 이미 잘 나오고 있지만 집에서 안되면 주 5일 코쿼 출석은 어떨까요??🙂 ㅎㅎ

* 알고리즘에 빠져서 하루에 많이 푸는 것도 좋아보여요~ like 알고리즘데이!!
매일 2문제 * 5일을 목표로 세웠다면 10개를 푼 것도 저는 달성한 것 아닐까 싶네요🧐  ㅋㅋ
* 비밀번호 질문으로 찾기 구현이 기대되네요!! 다음 주차도 화이팅 합시다~~

[2020-09-27 06:33] kses1010 commented on #75
## 회고
### 목표 1. 윤성우의 자료구조
- 트리구조가 많이 어려웠다. 문제는 구현하기 보다는 어떻게 돌아가는가 그림그리기, 정리만해서 아쉽다.
- 다음에는 실제 구현하고 그에 관련된 간단한 문제를 하나풀면서 자료구조를 파악해야겠다.

### 목표2. 1% 네트워크 원리 문서화하기
- 네트워크 원리 책이 이전 http&network basic과 내용이 비슷하여 집중이 잘 되지 않았다.
- 그래서 프로젝트 문서화에 좀 더 신경을 썼는데, 이젠 취업을 생각해서 재미가 없더라도 면접 준비 공부를 각잡고 해야겠다.

[2020-09-27 11:37] kses1010 opened #81 "[2기] 4차 주간 목표"
## 목표는 최대 2개만 작성.

## 목표1
### 파이썬 공부하기
- [x] 나동빈 강의 - 파이썬 강의 완강

## 목표2
- 이력서 쓰기

[2020-09-27 12:39] suhyunsim commented on #75
* 자료구조는 확실히 문제를 반복해서 풀 때 더 익숙해지더라고요! 또 개념 공부만 할 때는 좀 지루하던 것들이 문제를 풀면서 재밌어지는 느낌도 있고, 제출 통과했을 때 쾌감이 있어요.ㅎㅎ 주라주라 하면서 다들 비슷하게 진도 나가니까 함께 문제를 공유해도 좋을 것 같아요💪
* 저도 요즘 네트워크 책들을 조금씩 읽고 있는데 한 번에 많은 내용을 정리하려고 하면 눈에 잘 안 들어오더라고요. 조금씩 꾸준히 보는 것도 방법인 것 같아요! 또 저는 이미 익숙하게 알고 있다고 생각했던 것들도 빈 종이에 관련 내용을 적어내려가다 보면 놓친 것들이 분명히 있어서 그 부분만 따로 정리하는 편이에요. 이런 방법도 추천드려요!👍

[2020-09-27 13:47] beginin15 commented on #76
## 피드백
- 잭이 처음으로 목표를 달성하지 못한 걸 보면 정말 바쁜 한 주였을 것 같습니다. 고생 많으셨습니다!
- 프로젝트 API를 목표로 삼으려고 한다면 어렵겠지만 기능 목록을 먼저 쭉 작성해보는 것도 좋을 것 같네요. 마치 TDD 처럼요 ㅎㅎ
- 코딩 테스트를 합격하지 못하면 면접의 기회조차 없지만, 좀 더 멀리 보면 지금 함께 하고 있는 프로젝트가 잭한테 더 좋은 경험일 것 같아서 참 아이러니한 상황이네요. 고민이 느껴집니다. 🤔
- 코쿼 끝나고 나서 벌써 2번째 프로젝트를 하고 있는 모습을 보면 개발에 대한 열정을 엿볼 수 있어서 좋습니다. 언젠가 면접 자리, 혹은 그 이후에 이러한 자세가 좋은 인상, 좋은 기회를 가져다 줄 것이라고 믿습니다. (코드 리뷰도 짱짱)

[2020-09-28 05:43] hsik0225 commented on #79
- 9/28(월)[ 2 문제] : 11399, 1541

[2020-09-30 02:41] guswns1659 commented on #78
# 피드백

- 자료구조 책을 꾸준히 읽는 모습이 좋네요! 자료구조 공부가 많이 지루할거에요! 내가 배우는 이 개념이 실제로 알고리즘에서 어떻게 적용되는지 감이 안 잡힐 수도 있을 것 같아요! 저도 그랬던터라. 하나 추천드리고 싶은 건 자료구조 공부가 지루하기 때문에 알고리즘 문제를 조금씩 병행하는 게 어떨까 싶습니다. 저도 자료구조를 들은 후에 알고리즘 문제를 풀었는데, 병행을 안하니 다시 자료구조가 희미해지더라구요..
- 최근에 저도 관심이 많이 가는 주제들에 대해 고민하고 계신 것 같습니다. 개인적인 대화에서도 많이 나눴지만 DDD, OOP, JPA, TDD, 클린코드까지.. 마치 하나의 세트처럼 서로 영향을 주는 개념들인 것 같습니다. 과거 코쿼 과정 다닐 때 DDD에 대해서 관심이 생겨서 책(최범균

[2020-09-30 02:44] #73 closed, assigned to hsik0225

[2020-09-30 02:44] #75 closed, assigned to kses1010

[2020-09-30 02:44] #76 closed, assigned to guswns1659

[2020-09-30 02:44] #77 closed, assigned to blossun

[2020-09-30 02:44] #78 closed, assigned to beginin15

[2020-09-30 07:46] kses1010 commented on #72
## 피드백
- 공지를 너무 늦게 봤군요. 피드백을 이제서야 해서 죄송합니다.
- 패캠 알고리즘을 푸실 때 파이썬 -> 자바 이렇게 푸는 걸로 알고 있습니다. 속도는 모르겠지만 철저히 배울 수 있어 좋겠네요. 다만 그게 너무 손이 많이 가는 작업이라 중간에 지치지 않을까 걱정입니다. 너무 힘들면 조금만 줄여서 매일매일 꾸준히 풀 수 있도록 해봐요~
- 김영한님 강의는 저도 오늘 샀습니다. 백기선님의 강의와 무엇이 다른지 궁금하네요. 이러한 강의도 좋지만 스프링에 대한 철학 (전략 패턴, 프록시, 싱글턴 등등) 을 공부하고 싶을 땐, 토비의 스프링을 추천합니다.
- 서블릿, 컨테이너 등등 이러한 개념적 공부엔 토비의 스프링을 보면서 error 페이지에 대해 공부하는데 크게 도움이 되었어요.

### 저의 피드

[2020-09-30 07:48] kses1010 commented on #75
빈 종이에 적기! 메타 공부법이군요. 제일 효과적이지만 제일 하기싫은 공부법. 이젠 진행해봐야겠네요 피드백 감사해용.

[2020-10-01 03:35] #72 closed, assigned to suhyunsim

[2020-10-01 03:35] #80 closed, assigned to 102092, beginin15, blossun, kses1010, guswns1659, hsik0225, suhyunsim

[2020-10-04 06:18] suhyunsim opened #82 "[2기] 4차 주간 목표"
## 목표1: 인프런 스프링 입문 - 김영한 완강
* [강의 링크](https://www.inflearn.com/course/%EC%8A%A4%ED%94%84%EB%A7%81-%EC%9E%85%EB%AC%B8-%EC%8A%A4%ED%94%84%EB%A7%81%EB%B6%80%ED%8A%B8/dashboard)

 **스프링 DB 접근 기술**
  - [x]  스프링 통합 테스트
  - [x]  스프링 JdbcTemplate
  - [x]  JPA
  - [x]  스프링 데이터 JPA

 **AOP**
  - [x]  AOP가 필요한 상황
  - [x]  AOP 적용
  - [x]  다음으로

## 목표2: 패캠 파이썬 알고리즘 강의 듣고 문제 풀기
- [x]  08. Ch.06 기본 탐색 알고리즘 - 기초

[2020-10-04 06:32] guswns1659 opened #83 "[2기] 4주차 주간 목표"
## 네트워크 1%의 원리 ch2까지 정리
- [x] STORY 4 | 서버에서 연결을 끊어 소켓을 말소한다.
- [x] STORY 5 | IP와 이더넷의 패킷 송수신 동작

## 알고리즘 4문제 풀이
- [x] 1 https://github.com/guswns1659/Java-Algorithm/issues/21
- [x] 2 https://github.com/guswns1659/Java-Algorithm/issues/61
- [x] 3 https://github.com/guswns1659/Java-Algorithm/issues/62
- [x] 5 https://github.com/guswns1659/Java-Algorithm/issues/63
- [x] 6 https://github.com/guswns16

[2020-10-04 12:13] blossun opened #84 "[2기] 4주차 주간 목표"
## 자바 웹 프로그래밍 Next Step
- [x] 4장 실습

## 알고리즘 4문제
- [x] 1
- [x] 2
- [x] 3
- [x] 4

[2020-10-04 14:46] beginin15 opened #85 "[2기] 4주차 주간 목표"
## 목표는 최대 2개만 작성.

## 목표1
- [Do it! 자료구조와 함께 배우는 알고리즘 입문 자바 편](http://www.yes24.com/Product/Goods/60547893)
  - [x] 8장 마무리
  - [x] 9장
  - [x] 10-1

## 목표2
- [더 자바, 코드를 조작하는 다양한 방법](https://www.inflearn.com/course/the-java-code-manipulation/dashboard)
  - [x] 섹션 0 정리(JVM 관련 공부)
  - [x] 섹션 1
  - [x] 섹션 2

## 목표3
- [ ] TDD 볼링 Step2 미션 구현

[2020-10-04 15:00] beginin15 commented on #78
피드백 감사합니다 :)
- 참고로 자료구조 책이 곧 끝날 것 같아서 그 다음으로 이어서 알고리즘 문제 풀이를 시작하려고 합니다. 그때는 말씀해주신 것처럼 자료구조 공부도 함께 병행할 수 있는 방법을 찾아봐야 할 것 같네요! 👍
- 잭 덕분에 강의에 대해 흥미를 갖게된 것 같네요. 고마워요~😇

[2020-10-06 14:48] kses1010 commented on #81
이력서 [notion](https://www.notion.so/Java-9bef27a945b04c15b17f3ff4dacae22c)

[2020-10-08 01:21] guswns1659 commented on #83
# 회고

## GOOD
- 네트워크 책을 읽으면서 단편적으로 알고 있던 네트워크 지식이 체계가 갖춰지는 느낌이다. 전에는 OSI 7계층만 공부하니 실제 네트워크가 어떻게 동작하는 지 이해가 안됐다. 이 책을 읽으니 브라우저에서 서버까지 각 계층에서 어떻게 동작하는지 이해할 수 있었다.
- 알고리즘 공부에 정체기(?)가 왔었다. 푼다고 계속 푸는 데 실력이 늘지 않는 느낌을 받았다. 그러던 와중 디온에게 공부법을 물어보고 조언을 얻었다. 하루에 1\~2문제씩 꾸준히 푸는 것보다 일주일 단위로 시간을 크게 쏟는게 실력 향상에 도움이 된다고 느꼈다고 한다. 이 말 듣고 기존 공부법에서 바꿔서 하루에 5~6시간 정도 하나의 주제를 정해서 푸니까 훨씬 이해가 잘됐다.

## BAD
- 뱅크샐러드 과제 전형 진행 중

[2020-10-08 14:45] suhyunsim commented on #82
# 진행 상황
## 목표1: 인프런 스프링 입문 - 김영한 완강
* [TIL 정리](https://github.com/suhyunsim/TIL/issues/20)
* 추석 주 주간에 완강이 목표였는데 컨디션이 좋지 않아 조금 미뤄졌다.
* 스프링 공부는 이어서 `스프링 부트 개념과 활용 - 백기선님` 강의를 들을 예정이다.
[code]
* 인프런 강의는 저런 순서로 들을 예정인데 나름의 기준으로 JPA 기본편까지는 듣고 공부해야 이력서에 기술 스펙이라고 적을 수 있을 것 같았다. 개인적으로 김영한 님 강의 스타일이 잘 맞아서 로드맵을 따라서 진행하려고 한다.
* 또 위 내용과 `스프링 부트와 AWS로 혼자 구현하는 웹 서비스(이동욱님 보라색책)`, `부스트코스 - 웹 프로그래밍(BE)`(무료 리뷰권이 있는

[2020-10-08 14:57] blossun commented on #84
### 회고
- 자바 웹 프로그래밍 Next Step : [실습저장소](https://github.com/blossun/java-web-next-step/tree/master/web-application-server-master)

* 3장, 4장은 기존에 알았던 내용을 다시 복습하고, 정리하는 실습이었다. 다음 5장 부터 리팩토링과 서블릿 내용을 다룬다. 재밌을 것 같다.
* a 방법으로 구현할 수 있다는 걸 알았지만 b 방법으로 구현하고 싶어서 시간을 너무 오래 썼다. 주요사항이 아니었어서 다음에는 일정 시간 내에서 끝내도록 해야겠다.
* 알고리즘을 갯수 채우기 위해 푸는 느낌이 있었다. 차라리 하루 알고리즘 데이를 정해서 풀어야겠다.
* Jack이 알고리즘 문제를 이슈로 관리해서 푸는 방식을 참고해서

[2020-10-08 15:29] beginin15 commented on #85
# 회고
## 목표 1
| 평가 | 내용 |
|:--:|:--:|
| 😄 | 이번 주 내로 (지겨운) 자료구조 책을 끝낼 것이다. |
| | 다음 주부터는 문제 풀이를 중점으로 진행할 계획이다. </br> 알고리즘을 풀면서 자료구조 공부도 틈틈이 하면 좋을 것 같다는 잭의 피드백을 받고 자료구조를 어떻게 공부할지 고민 중이다. 일단 기본적인 자료구조는 일정 간격으로 구현하는 연습을 하려고 한다. |
| 🤔 | 지금 보고 있는 책은 자료구조는 비교적 자세하게 설명되어 있는데 뒤로 갈수록 알고리즘 설명이 굉장히 빈약하다. 대충 코드 던져주고 '이해했지?' 이런 느낌. 그래서 책에 나온 KMP나 Boyer-moore 알고리즘은 외부 자료를 참고했고, 이해하는 데 시간이 오래 걸렸다. 심지어 Boyer-moore는

[2020-10-09 01:05] guswns1659 opened #86 "[2기] 4주차 리뷰어"
제 -> 에
솔 -> 푸
써 -> 제
잭 -> 솔
에 -> 써
푸 -> 잭

[2020-10-09 01:31] kses1010 commented on #81
## 회고
- 파이썬이 자바코드와 상이하게 다르다보니 많이 헷갈려서 힘들었다. 특히, 메서드가 축약되어있어서 많이 어려웠다. 빨리 익숙해지는게 포인트. 코드를 많이 보는게 중요할 듯하다.
- 파이썬 알고리즘 인터뷰를 따라 알고리즘 푸는데 너무 어렵다. 원래 목표는 토요일날 데브매칭까지 알고리즘 다 푸는 거였는데 하루에 2개씩 푸는걸 보고 장기적인 관점을 가지게 됐다.
- 이력서를 썼는데 아직 어떻게 작성해야할지 모르겠다. 추후에 피드백 받고 수정을 해야겠다.

[2020-10-09 05:02] kses1010 commented on #85
## 피드백
### 목표1
- 알고리즘 문제에 대해서 여러 가지 유튜브, 책을 읽어봤는데 거기서 하는 이야기 대부분 자료구조 하나끝내고 알고리즘 시작하는 것이 아닌 알고리즘을 병행 더 나아가 그냥 쌩으로 알고리즘 풀면서 자료구조이론을 익혀라고 하네요. 저도 지금 자료구조 스터디는 그대로하고 파이썬 자료구조 알고리즘을 풀고 있습니다.
- 저도 알고리즘이 최우선이 아니라고 생각했는데 막상 프로그래머스 데브매칭이 다가오니 알고리즘 소홀히 했던게 엄청 후회됩니다. 매일매일 두개씩이라도 꼭 푸는걸 추천합니다. (당장 내일인데 이미 조진듯)

### 목표2
- 백기선님도 스프링 프레임워크보다는 자바 언어 자체를 공부많이 하라고 하셨습니다. 저도 프로젝트는 후순위를 두고 자바언어 공부를 열심히 해야겠습니다.
- 이펙티브

[2020-10-09 05:09] kses1010 commented on #85
### 유튜브 추천
- [알고리즘 코딩테스트 공부방법. [삼성 카카오 네이버 스타트업] 회사별 시험 _스타일](https://www.youtube.com/watch?v=MpuOYsmDKeg&t=341s&ab_channel=%EA%B0%9C%EB%B0%9C%EB%82%A8%EB%85%B8%EC%94%A8)
3:14부터 보시면 됩니다.

### 나동빈 코딩테스트에 대한 공부 순서 유튜브 정리
1. 프로그래밍 언어 때기. (C# / 파이썬 / 자바 등)
- 동빈나(본인)은 C++ / 파이썬을 추천. 파이썬으로 시작해도 불이익이 크지 않다. 미래를 위해 C++도 좋다.
2. 코드업 기초 100제 공부.
3. 백준 온라인 저지 알고리즘 공부.
- 그리디 알고리즘
- 탐색 알고리즘 (완전탐색 / BFS /DFS)
-

[2020-10-09 12:01] hsik0225 commented on #79
### 회고
- 추석 때부터 너무 늘어져 버렸다. 다시 마음잡고 시작해야겠다
- 혼자하면 안하게 되는 것 같아 다른 사람들과 프로젝트를 시작하기 위해 OKKY에서 사이드 프로젝트를 찾아 시작하게 되었다

[2020-10-09 18:07] suhyunsim opened #87 "[2기] 5주차 주간 목표"
## **목표1: 인프런 스프링 부트 개념과 활용 - 백기선**
* [링크](https://www.inflearn.com/course/%EC%8A%A4%ED%94%84%EB%A7%81%EB%B6%80%ED%8A%B8/dashboard)
- **2부 스프링 부트 시작하기**
- [x]  스프링 부트 소개
- [x]  스프링 부트 시작하기
- [x]  스프링 부트 프로젝트 생성기
- [x]  스프링 부트 프로젝트 구조
- **3부 스프링 부트 원리**
- [x]  의존성 관리 이해
- [x]  의존성 관리 응용
- [x]  자동 설정 이해
- [x]  자동 설정 만들기 1부: Starter와 AutoConfigure
- [x]  자동 설정 만들기 2부: `@ConfigurationProperties`
- [x]

[2020-10-10 15:02] suhyunsim commented on #83
* 1% 책으로 네트워크를 공부하고 있군요! 같은 책으로 전에 한도 읽고 정리하는걸 주라주라 목표에 넣으셨던데, 네트워크 지식은 플젝 하면서나 코드스쿼드 과정 중에 단편적으로 접하고 넘어가서 꼭 다시 정리를 해야겠더라고요. 한층 더 취업에 가까워지고 있는 잭이네요. 잭도 정리한 내용이 있다면 함께 공유해주세요! 😎
* 알고리즘 정체기... 그게 저한테도 이번 주에 왔는데 말입니다.ㅎㅎ 저 같은 경우에는 개념이해가 덜 된 상태에서 함께 듣고 있는 강의의 문제를 풀려다보니 난이도가 조금만 높아지면 전혀 적용을 못하겠더라고요. 근데 그렇다고 쉬운 문제만 골라 풀자니 일단 강의를 완강하고 싶은 욕심에 눈이 가질 않더라고요. 그래서 고민을 하다가 아무리 어려운 문제라도 한 문제 당 1시간 이상은 절대 투자하지 말고

[2020-10-11 03:54] guswns1659 opened #88 "[2기] 5주차 주간 목표"
# 네트워크 1% chap.3의 STORY 02까지 정리
- [x] STORY 01 | 케이블과 리피 터, 허브 속을 신호가 흘러간다.
- [x] STORY 02 | 스위칭 허브의 패킷 중계 동작

# 알고리즘 6문제
## 개념 : 트리, 그래프
- [x] 1 https://github.com/guswns1659/Java-Algorithm/issues/67
- [x] 2 https://github.com/guswns1659/Java-Algorithm/issues/68
- [x] 3 https://github.com/guswns1659/Java-Algorithm/issues/69
- [x] 4 https://github.com/guswns1659/Java-Algorithm/issues/70
- [x] 5 ht

[2020-10-11 07:07] kses1010 opened #89 "[2기] 5주차 주간 목표"
## 목표는 최대 2개만 작성.

## 목표1
- 정보처리기사 시험 준비 -> 이번주 토요일 시험

## 목표2
- 파이썬 알고리즘 인터뷰 문제 풀기
- 추가적으로 풀 때마다 링크 걸어놓기
- 노션
  - [배열](https://www.notion.so/07-5022bd81bb264aeba3e653347d0f36ce)
  - [연결 리스트](https://www.notion.so/08-d90162e7374a4bed9a284f24efd7968a)

[2020-10-11 12:46] blossun opened #90 "[2기] 5주차 주간 목표"
## 자바 웹 프로그래밍 Next Step
- [x] 5강 웹 서버 리팩토링, 서블릿 컨테이너와 서블릿의 관계

## 알고리즘
- [x] 1
- [x] 2
- [x] 3
- [x] 4
- [x] 5
- [x] 6

[2020-10-11 14:56] hsik0225 opened #91 "[2기] 5주차 주간 목표"
## 목표1 - 프로젝트
- [x] 프로젝트 찾기 및 시작
스프링으로 카카오톡 클론 만들기!

## 목표2 - 알고리즘
- [x] 매일 1문제씩. 바쁘면 그 다음날에 이어서!

[2020-10-11 15:01] beginin15 commented on #79
## 피드백
- 커뮤니티에서 프로젝트를 찾는 행동력 멋집니다! 👍 스스로를 약간 부담되는 환경에 노출시키는 것도 동기부여 방법 중 하나라고 하더라구요.
- 목표 1번이 구체적으로 어떤 내용인지 궁금해지네요! 다음 모임 때 기대하겠습니다.ㅎㅎ
- 알고리즘 공부에 관련해서 써니가 저에게 피드백을 남겨주셨는데 에버도 한번 참고해보시는 것도 좋을 것 같아요! (제가 좋은 피드백을 남기지 못해 미안합니다...ㅎㅎ) [피드백](https://github.com/guswns1659/JuraJura/issues/85#issuecomment-705970882)

[2020-10-11 15:05] beginin15 opened #92 "[2기] 5주차 주간 목표"
## 목표는 최대 2개만 작성.

## 목표1
- [Do it! 자료구조와 함께 배우는 알고리즘 입문 자바 편](http://www.yes24.com/Product/Goods/60547893) 마무리
  - [x] 10장 마무리
  - [x] 11장

## 목표1
- [바킹독 실전 알고리즘 강좌](https://blog.encrypted.gg/919) 강의 (연습문제는 그룹 가입이 승인된 이후에 업데이트할 예정)
  - [x] 0x00강 - 오리엔테이션
  - [x] 0x01강 - 기초 코드 작성 요령 I
  - [x] 0x02강 - 기초 코드 작성 요령 II
  - [x] 0x03강 - 배열
  - [ ] 0x04강 - 연결 리스트

## 목표2
- [더 자바, 코드를 조작하는 다양한 방법](https:/

[2020-10-11 15:08] beginin15 commented on #85
@kses1010 이번 주에 알고리즘 때문에 살짝 스트레스를 받았는데, 피드백 남겨주신 것 보고 동기부여가 되는 것 같습니다. 감사합니다! 👍

[2020-10-13 02:29] hsik0225 commented on #91
- 10/13(화)[4 문제] : [3036](https://www.acmicpc.net/problem/3036), [11050](https://www.acmicpc.net/problem/11050), [11051](https://www.acmicpc.net/problem/11051), [9375](https://www.acmicpc.net/problem/9375)
- 10/15(목)[2 문제] : [1676](https://www.acmicpc.net/problem/1676), [2004](https://www.acmicpc.net/problem/2004)

[2020-10-15 02:13] guswns1659 commented on #84
# 피드백

- 리드미에 단계별로 차곡차곡 문서화가 잘 되어 있어서 좋네요! 이전 공부가 자료구조, 알고리즘이어서 그런지 웹서버 공부는 즐겁게 하는 게 느껴져서 보기 좋네요 ㅎㅎ 진짜 재밌으면 어렵더라고 하게되는 것 같아요!!
- a 방법으로 구현해도 되지만 b 방법으로 구현을 시도해서 시간을 쓴 점은 아쉬우면서 필요한 경험같아요! 시도를 해보고 시간이 너무 오래 걸릴 것 같으면 적당히 잘라내는 것(?)도 중요하고, 그래도 시도를 해보는 것도 중요한 것 같아요!! 응원합니다 !!
- 알고리즘.. ㅜㅜ 참 피하고 싶지만 피할 수 없는 영역이네요. 저도 요즘 제일 만나기 싫은 녀석이라 일부러 더 만나려고 노력하는 것 같아요.  매일 조금씩보다는 하루를 길게 잡고 쭉하는 게 알고리즘 유형 파악하는데는 더 좋은 것

[2020-10-15 10:38] guswns1659 commented on #88
- [네트워크 1% 정리](https://www.notion.so/guswns2012/1-f0965f0db35c49ba84eccf1252f6097d)

# 회고

## GOOD
- 주라주라 목표에는 없었지만 뱅크샐러드 과제를 진행하면서 객체지향프로그래밍과 TDD에 대해 깊이 고민해보고 적용할 수 있어서 좋았다. 간단한 요구사항이었지만 내가 어떻게 구현을 하느냐에 따라 노력의 정도가 달라지는 과제였다. 처음에는 2일이면 끝나겠다 싶었지만 예외처리, 변경 가능성에 대해 고민하니 시간이 오래걸렸다. 오랜 시간 몰입해서 피로감은 있었지만 뿌듯함도 함께 남았던 과제!
- 눈에 확 띄진 않지만 알고리즘 역량을 조금씩 쌓아가는 게 느껴진다. 특히, 재귀 파트는 절차적인 사고로 이해할 때 정말 어려웠는데 수학적 귀납법적인

[2020-10-15 10:49] hsik0225 commented on #81
### 피드백
- 이력서를 정말 잘 만드셨어요! 보면서 저도 이렇게 만들어야겠다고 생각했네요. 저한테 많은 도움이 될 것 같습니다😀
- 이력서에 SKill에 `K`가 대문자로 되어있네요. 이력서라 사소한게 눈에 띌까 걱정되어 슬쩍 말해봅니다
- 제가 이력서 관련 팁을 볼 때, 이력서를 보는 사람들은 코드를 보고 싶어하니 자신의 소개보단 프로젝트를 먼저 쓰고, 그 뒤에 자신의 소개를 쓰라고 했던 게 인상이 깊어 기억에 남아있는데요. 만약 저라도 자신의 소개보단 빨리 이 사람의 코드를 보고 싶어 소개를 건너뛰고 프로젝트를 볼 것 같아요. 써니도 소개 위에 프로젝트를 써보는 건 어때요?

[2020-10-15 11:06] kses1010 commented on #89
## 피드백
### 목표1
정보처리기사문제가 너무 지엽적이고, 이거까지 알아야하는가 하는 문제가 많아 힘들었다. 다음에 이걸 노릴 땐 좀 더 쌓인 후에 기출문제만 보는게 제일 좋을 듯.

### 목표2
- 파이썬 알고리즘 인터뷰가 너무 어려워서 고통스럽다. 5시간을 시간부어도 2문제 풀까 말까 그중에 결국 못풀어서 답지보는 문제가 많다. 디온말대로 답지 보는건 상관없고 1시간안에 못풀면 답지보고 다시푸는 방향으로 잡자.
- 하루에 한문제 이상 풀기 + 커밋, 푸시가 꾸준히 지속하고 있어서 만족스럽다. 이대로 꾸준히 하자.

[2020-10-15 11:10] kses1010 commented on #81
오타 감사합니다 고쳐보도록 하겠습니다. 프로젝트 먼저냐, 소개 먼저냐는 여러 이력서를 보면서 해야겠네요. 이동욱님, 워니님 및 한, 디온 등의 이력서를 보고 만들었는데 대부분 소개가 먼저 있어서 소개를 넣었거든요. 고민해봐야겠네요 피드백감사합니다!~~~

[2020-10-15 11:31] suhyunsim commented on #87
# 목표1: 인프런 스프링 부트 개념과 활용 - 백기선
* [TIL repository 링크](https://github.com/suhyunsim/TIL/issues/26)
* 프로젝트 진행하면서 도움이 되기 위해 스프링 강의를 수강하기 시작했다. 개인적으로는 강의 자료가 자세하지 않아 실습 과정을 따라하기에 조금 어려움이 있었지만 하다보니 스프링 부트에 대한 이해도가 훨씬 높아지고 있는걸 느꼈다. 또 기존 코쿼 플젝을 진행하면서 아주 잠깐 `@Bean`설정에 대한 부분을 접할 수 있었는데 그 때는 마냥 외계어 같던 내용이 어떤 것이었는지 드디어 알게 된 것 같아 뿌듯했다.

# 목표2: 패캠 파이썬 알고리즘 강의 듣고 문제 풀기
![image](https://user-images.githubusercont

[2020-10-15 13:27] beginin15 commented on #92
# 회고
## 목표 1
| 평가 | 내용 |
|:--:|:--:|
| 😄 | 드디어 알고리즘 책을 끝냈다. 소박한 목표였지만 2기 목표 중 하나는 끝났다. |
| 🤔 | 이후 자료구조 공부의 방향을 결정해야 할 것 같다. |

## 목표 2
| 평가 | 내용 |
|:--:|:--:|
| 🤔 | 강의가 C/C++로 되어있는 점. 초반부는 크게 영향을 받지 않지만, 이후에는 어떨지 모르겠다. 속도상 이점 때문에 코딩테스트에서 C/C++을 많이 사용하는 것 같은데 앞으로 연습을 C++로 해보는 건 어떨까 고민이 들었다. 그러나 나는 대기업 스타일의 코딩 테스트보다는 면접에서 마주칠 테스트를 대비한다는 것에 의미를 두기 때문에 그냥 자바로 계속해야 할 것 같기도... |
| | 다음 주부터는 다른 동료들의 알고리즘

[2020-10-15 13:36] blossun commented on #82
* 강의 분량이 많은데 꾸준히 목표한 만큼 듣는 푸글 너무 대단해요 푸글짱🌟👍
* 확실히 커밋마다 내용을 정리해놓으니 내용을 확인하기 좋네요!! 따로 노션에 또 정리하고 있다면 해당 커밋 url만 링크 걸어두면 좋더라구요! (이미 하셨을 것 같지만 ㅎㅎ)
* 어려운 알고리즘 고민하면 1시간은 후딱 가는 것 같아요... 저는 더 고민하고 싶지만 지금은 시간이 한정적이니 한시간만 고민하는 것도 좋은 방법이라고 생각해요. 저도 한시간을 데드라인으로 잡으려고 합니다! 그리고 너무 안풀리는 문제로 무력해질땐 쉬운문제 하나 찾아서 풀면 그래도 다시 의욕이 생기는 것 같아요 😂 sql 문제 풀어서 1초만에 기분 좋아지기..!! ㅎㅎ

[2020-10-15 14:45] blossun commented on #90
### 자바 웹 프로그래밍 Next Step
* [실습 저장소](https://github.com/blossun/web-application-server/issues)

먼저 리팩토링해야할 내용에 대한 힌트를 제공하고, 그에 맞춰 리팩토링한 뒤 부족했던 부분을 보강하는 식으로 진행하였다.
리팩토링해야할 부분을 찾는 연습과 방법을 공부할 수 있어서 좋았다.
- [다형성을 활용해 클라이언트 요청 URL에 대한 분기 처리를 제거](https://github.com/blossun/web-application-server/commit/835ce892375f87e82859f49d4dc897456d1af9ea)
- [Docs](https://github.com/blossun/web-application-server/wi

[2020-10-16 01:57] #79 closed, assigned to hsik0225

[2020-10-16 01:57] #81 closed, assigned to kses1010

[2020-10-16 01:57] #82 closed, assigned to suhyunsim

[2020-10-16 01:57] #83 closed, assigned to guswns1659

[2020-10-16 01:57] #84 closed, assigned to blossun

[2020-10-16 01:57] #85 closed, assigned to beginin15

[2020-10-16 02:02] #86 closed, assigned to beginin15, blossun, kses1010, guswns1659, hsik0225, suhyunsim

[2020-10-17 02:11] kses1010 opened #93 "[2기] 6주차 주간 목표"
## 목표는 최대 2개만 작성.

## 목표1
### 파이썬 알고리즘 인터뷰 알고리즘 문제풀기
- [09. 스택, 큐](https://www.notion.so/09-ecf2ea42974c4054834df5c7f09bb428)

## 목표2
### 김영한의 스프링 핵심 기본 원리 인강 듣기

1. 객체지향 설계와 스프링 [노션링크](https://www.notion.so/1-618703b765c046c485bd75d199b4ec8a)
2. 예제 만들기 [노션링크](https://www.notion.so/2-4bb749ad07de4194862606277f51d9ca)

[2020-10-17 02:11] guswns1659 opened #94 "[2기] 5주차 리뷰어"
제 -> 푸
솔 -> 제
써 -> 솔
잭 -> 써
에 -> 잭
푸 -> 에

[2020-10-17 07:43] hsik0225 opened #95 "[2기] 6주차 주간 목표"
## 목표 1 - 프로젝트
### Diagram
[draw.io]() 를 이용
- [x] Class Diagram
- [x] Entity Relationship Diagram

### API Documnet
- [x] Spring REST Docs 공부
[Spring REST Docs](https://www.notion.so/Spring-REST-Docs-da6235aca9164731a8c56ae7c5438f25)

## 목표2 - 알고리즘
- [ ] 매일 1문제씩. 바쁘면 그 다음날에 이어서!

[2020-10-17 07:44] hsik0225 commented on #95
## Diagram
### Class Diagram
![ClassDiagram](https://user-images.githubusercontent.com/56301069/96331419-ee5b5080-1097-11eb-8ac7-987858c92709.jpg)

### ERD
<img width="1792" alt="스크린샷 2020-10-22 오후 11 23 11" src="https://user-images.githubusercontent.com/56301069/96885732-d469a580-14bd-11eb-8d5d-66453ec9a147.png">

[2020-10-17 08:00] hsik0225 commented on #91
### 회고
- 네트워크, I/O에 대해서 조금 공부를 했었다. 공부할 땐 책이 그렇게 어렵지 않은 내용이었어서 대충 넘어갔었다. 하지만, 직접 클론 프로젝트로 만들어보니 고생이 이만저만이 아니다. **개구리를 해부만 하지 말고 직접 개구리를 만들어라!** 라는 말이 실감이 간다. 더 공부를 해야겠다는 생각이 든다
- 알고리즘을 푸는게 흥미가 떨어져서 매일 1문제씩 푸는 것이 어려웠다. 하지만 몰아서 알고리즘을 푸는 것이 더 정신적으로 고통이었다. 알고리즘 **공부**가 목표이어야 하는데, 오늘 분량을 끝내는 것이 목표가 되어 주객전도가 되었다. 나중의 나를 위해 앞으로는 최대한 하루에 1문제씩 풀어야 겠다

[2020-10-18 04:47] suhyunsim opened #96 "[2기] 6주차 주간 목표"
## 목표1 - 인프런 자바 ORM 표준 JPA 프로그래밍 기본편 강의 수강 - _김영한_

**JPA 소개**

- [x]  SQL 중심적인 개발의 문제점
- [x]  JPA 소개

**엔티티 매핑**

- [x]  객체와 테이블 매핑
- [x]  데이터베이스 스키마 자동 생성
- [x]  필드와 컬럼 매핑
- [x]  기본 키 매핑
- [x]  실전 예제 1 - 요구사항 분석과 기본 매핑

**연관관계 매핑 기초**

- [ ]  단방향 연관관계
- [ ]  양방향 연관관계와 연관관계의 주인 1- 기본
- [ ]  양방향 연관관계와 연관관계의 주인 2 - 주의점, 정리
- [ ]  실전 예제 2 - 연관관계 매핑 시작

**다양한 연관관계 매핑**

- [ ]  다대일 [N:1]
- [ ]  일대다 [1

[2020-10-18 09:09] guswns1659 opened #97 "[2기] 6주차 주간 목표"
# 뱅샐 면접 준비
- [x] 네트워크 키워드 정리
- [x] DB 키워드 정리
- [x] 롬복
- [x] Webflux 정리

# 알고리즘 6문제 -> 4문제 (수정)
- [x] 1 https://github.com/guswns1659/Java-Algorithm/issues/61
- [x] 2 https://github.com/guswns1659/Java-Algorithm/issues/73
- [x] 3 https://github.com/guswns1659/Java-Algorithm/issues/74
- [x] 4 https://github.com/guswns1659/Java-Algorithm/issues/75

[2020-10-18 14:13] beginin15 opened #98 "[2기] 6주차 주간 목표"
## 목표는 최대 2개만 작성.

## 목표1
### [바킹독 실전 알고리즘 강좌](https://blog.encrypted.gg/919)
- [x] 0x04강 - 연결 리스트
- [x] 0x05강 - 스택
- [x] 0x06강 - 큐

## 목표2
### [자바 ORM 표준 JPA 프로그래밍 - 기본편](https://www.inflearn.com/course/ORM-JPA-Basic/dashboard)
- [x] 섹션 3
- [x] 섹션 4
- [x] 섹션 5
- [x] 섹션 6

## 목표3
### 자바 키워드 1차 정리
- 키워드는 [자바의 정석](http://www.yes24.com/Product/Goods/24259565) 1권 범위에 등장하는 개념
- 이번에는 새로운 방법을 시도해볼 예정

[2020-10-18 14:25] blossun opened #99 "[2기] 6주차 주간 목표"
## 목표1
- [바킹독 실전 알고리즘 강좌](https://blog.encrypted.gg/919) 강의 수강 및 문제 풀기
- [x]  [0x00강 - 오리엔테이션](https://blog.encrypted.gg/921)
- [x]  [0x01강 - 기초 코드 작성 요령 I](https://blog.encrypted.gg/922)
- [x]  [0x02강 - 기초 코드 작성 요령 II](https://blog.encrypted.gg/923)
- [x]  [0x03강 - 배열](https://blog.encrypted.gg/927)
- [x]  [0x04강 - 연결 리스트](https://blog.encrypted.gg/932)
- [x]  [0x05강 - 스택](https://blog.encrypted.

[2020-10-20 07:43] guswns1659 commented on #97
# 목표 수정 이유
- 면접 라이브 코딩 대비해서 새로운 문제 풀기 보단 기존 문제 복습하는 게 낫다는 판단해서 2개 줄임.

[2020-10-21 14:00] kses1010 commented on #90
## 피드백
### 자바 웹 프로그래밍 Next Step
- 웹 서버 만들면서 실질적으로 디자인 패턴, 네트워크를 동시에 공부하니 일석이조군요. 정말 대단합니다. 직접 웹 서버 만든다면 왜 스프링을 쓰는지에 대해서 확실히 공부해서 좋군요.
- Docs도 읽어봤는데 내용이 정말 좋습니다. 이 내용도 혹시 블로그에 올라가나요? 블로그에 올라가도 괜찮을 듯!
- 다형성에 대해서 공부한다면 SOLID 원칙을 제대로 마주하겠네요. 김영한님 강의에서도 SOLID 원칙을 설명하시면서 SOLID원칙을 제대로 준수하기 위해 스프링의 IoC, DI를 썼다는 내용이 나오더군요. 다형성 공부하시면서 SOLID 원칙 기억하셨다가 스프링 공부할 때 크게 도움이 될 듯!

### 알고리즘
- 프로그래머스 1단계 저도 열심히 풀고 있습

[2020-10-22 03:01] guswns1659 commented on #89
피드백

- 정보처리기사 시험 준비하시느라 수고하셨습니다! 개정된 후 기출도 많이 없어서 난이도가 어렵다고 하는데 실제로도 지엽적인 문제가 많았나보네요. 시험은 시험대로만 준비하고 나한테 필요한 정보만 잘 추려서 저장하는 방식이 좋겠네요!
- 알고리즘.. 참 어렵습니다. 정말 꾸준히 푸는 수밖에 답이 없지 않을까하는 생각이 드네요. 꾸준히 하다보면 정말 점진적으로 (눈에 확 띄진않지만) 실력이 향상된 게 보이더라고요. 그 때는 또 성취감이 느껴져서 재밌습니다. 지금 충분히 잘하고 계시니 꾸준히 하시면 될 거 같습니다. 응원합니다!

[2020-10-22 10:06] guswns1659 commented on #97
- [DB 기술면접 정리](https://docs.google.com/document/d/1jb0AtWWv21oICOvWBBUxCm8wrOI7_xvQ1EHI0vBBg08/edit?usp=sharing)
- [네트워크 기술면접 정리](https://docs.google.com/document/d/1-R94_ccPS7lvTDrkuC6VhIVnVwtkh6nlTHqpaAQxylI/edit?usp=sharing)

# 피드백

## GOOD
- 면접 준비로 정신이 없던 한주다. 먼저 면접을 볼 수 있다는 것 자체가 기쁜 상황이다. 이번에 면접을 준비하면 떨어지더라도 다른 면접에 그대로 활용하면 되니까 합불에 상관없이 많은 것을 얻을 수 있는 기회라 생각이 든다.
- 라이브 코딩 테스트는 일반 코딩테스트와 다르게 비교

[2020-10-22 11:19] kses1010 commented on #89
감사합니다!! 정처기는 결과를 불문하고 취업하기전에는 지원안할듯합니다. 개발자에게 정처기는 입력값에 비해 출력값이 너무 안나오는듯 ㅠㅠ 가성비가 안나온다 하더군요. 취직하고 나서 따도 된다고 글을 여러개 본지라 그럴 생각입니다.

[2020-10-22 11:25] kses1010 commented on #93
## 피드백
### 목표1
- 스택, 큐 문제부터 이전 자료구조에서 많이 봤던 거라 그리 어렵지는 않았다. leetcode에서 easy문제는 그리어렵게 풀지만, medium부터는 운이 좋으면 풀고, 그 외에는 전혀 풀지 못해서 아쉽다. 아무튼 양치기로 알고리즘을 많이 풀어보자.

### 목표2
- 현재까지는 대부분 내가 아는 사항이라 쉽게 쉽게 넘어갔다. 제대로 정리하지 않은 SOLID 원칙을 예제와 함께 공부하니 원칙을 이해할 수 있어 좋았다. interface를 이용한 다형성을 꼭 기억하자.
- 하루에 섹션 한개 씩 진행하여 진도를 빠르게 진행해보도록 하자!

[2020-10-22 14:30] hsik0225 commented on #95
### 회고
- 저번 프로젝트를 할 때는 하던 것들만 하여 지치고 재미없었다. 그래서 이번 프로젝트를 할 때는 새로운 것들을 적용해보자는 마음을 갖고 시작하였고, 그것이 프로젝트에 활기를 넣어주는 것 같아 잘된 것 같다
- 아직 프로젝트가 많이 진행되지 않아 ERD가 외로워 보인다. 빨리빨리 구현해야 겠다
- 프로젝트를 진행하는게 재밌어서 알고리즘에 손도 못댔다. 남는 시간에 풀 수 있도록 하자!
- UML을 그리거나 API 문서를 작업하는 등 무언가 꾸미는게 재밌고 시간도 잘 가는 것 같다. 시간이 남으면 프론트나 iOS를 해보고 싶다😀

[2020-10-22 14:34] blossun commented on #99
* 파트별로 문제가 나누어져있어서 해당 자료구조를 사용해 풀어보기 좋았다. 그런데 연결리스트 파트에 들어가있는 문제여서 풀었더니 풀이는 맞는데 시간초과가 계속 나와서 스택으로 해결한 문제도 있었음... 아직 구현전에 시간복잡도를 생각해보지 않았는데 구횬 전에 먼저 고려해볼 필요가 있을 것 같다.
* 하루에 몰아서 문제를 푸니깐 탄력받아서 더 좋은 듯 하다!
* 책을 아직 Part1만 읽었는데 상당히 만족스럽다! 객체지향 규칙을 알아도 레거시 코드에서 변경하기 쉽지 않았는데 어떻게 접근해야하는지 코드로 보면서 알아갈 수 있었다.

[2020-10-22 14:35] blossun commented on #99
* https://github.com/blossun/oodp/issues
책 내용을 따로 정리하다가 의미가 없는 것 같아서 3장부터 정리는 하지 않았다. 정리할지 고민중...

[2020-10-22 14:46] beginin15 commented on #87
# 피드백
항상 목표량이 압도적으로 많은데 모두 달성하시는 모습을 보면서 본받고 싶다고 생각했습니다. 시간 관리를 정말 잘하시는 것 같아서 부럽습니다...!

## 목표1
프로젝트를 통해 경험을 쌓고나서 관련 강의를 보니 이해가 잘 되기도 하고 기억에도 더 남는 것 같아요. 저도 많이 느끼는 부분입니다.ㅎㅎ 그래서 요새 스프링이나 JPA 강의 듣는 맛이 있어요! 반대로 경험이 부족한 부분을 강의로 처음 접했을 때 어려웠던 점도 있었어요. 예를 들면 강의 내용이 바이트 코드를 조작하는 내용이었는데 최근에 강의 들으면서 제일 답답했던 것 같아요...ㅋㅋㅋ

## 목표2
푸글이 주라주라 2기 동안 알고리즘 공부하는거 보면서 패캠 강의를 살까 많이 고민했어요. (사실 강의보다도 푸글처럼 꾸준하게 공부하는게 더 중요

[2020-10-22 15:03] beginin15 commented on #98
# 회고
## 목표1
<img src="https://user-images.githubusercontent.com/33659848/96888800-f6b0f280-14c0-11eb-82ba-8128c48b266d.png" width=500/>

- 잠들어있던 알고리즘 문제 풀이 레포지토리를 다시 부활시켰다.
- 잭의 이슈 활용법이 좋아보여서 (완전) 따라했다.

- 알고리즘을 하루에 몰아서 푸는 것이 좋다는 조언을 참고해서 매일 조금씩 풀지 않고 알고리즘만 푸는 날을 정해서 수행했다. 아직 큰 효과를 느끼지 못했지만, 집중이 잘되는 것 같다.
- 주라주라를 통해 동료들로부터 얻는 노하우와 팁들이 많아서 좋다. 주라주라의 순기능인것 같다.

## 목표2
- 프로젝트를 하고 나서 강의를 보니 내용 이해도 잘되고

[2020-10-22 15:06] suhyunsim commented on #96
* 프로젝트를 진행하면서 JPA 강의를 수강하고 있는데 ERD를 설계하고 매핑하는데 도움이 되고 있다. 막연하게 생각하고 넘어갔던 부분들을 짚어볼 수 있어서 좋았다.
* 프로젝트 진행 과정에서 기획에 많은 시간을 쏟지 않으려고 했는데 어쩔 수 없이 거의 한 주가 지나버렸다. 자연스럽게 개발도 한 주 더 미뤄져서 조금 조급함이 있었는데 함께하는 팀원 역시 시간 부족을 너무 느껴서 함께 기간을 한 주 더 연장했다. 기간을 연장했다는 마음에다가,  플젝을 오랜만에 해서 버벅거리는 시간이 많았던 한 주였다. 다행히 Mock 서버까지 배포는 완료했으나 역시나 에러 투성이 터미널을 마주하느라 시간이 생각보다 오래걸렸다. -> 기간 조정을 월요일에 해서 화요일까지 주라주라 목표를 수정할 수 있었는데 괜히 끝낼 수 있을거

[2020-10-22 15:13] suhyunsim commented on #91
* 저도 프로젝트를 진행하고 있는데 공부하면서 그 내용을 적용하기는 쉽지 않은 것 같아요. 어쨌든 마감해야 하는 스케쥴이 있고 그 내에 구현하려니 예전과 같은 이상한 코드로 구현하게 되기도 하고... 그래도 코쿼 과정보다는 좀 더 여유로워서 최대한 공부를 해보면서 하려고요! 카카오톡 클론코딩을 한다니 웹소켓 같은 네트워크와 관련된 부분을 많이 공부해야겠네요! 화이팅입니다. 코쿼 밤마다 이뤄지는 의견공유 아주 재밌어요ㅎㅎ 함께 의논 많이 해봐요!
* 에버가 알고리즘 문제 푸는게 지겨워졌다니 역시 에버도 사람이었어. 에버봇이 아니라는걸 인증했네요. 저는 알고리즘 문제를 하루에 몰아서 풀면 시간이 너무 많이 소비되더라고요... 지겹기도 하고😢 그래서 처음엔 아주 조금씩만 맛보고 나중에 다시 풀 때 한 유형의 문제

[2020-10-23 00:20] #87 closed, assigned to suhyunsim

[2020-10-23 00:20] #89 closed, assigned to kses1010

[2020-10-23 00:20] #90 closed, assigned to blossun

[2020-10-23 00:20] #91 closed, assigned to hsik0225

[2020-10-23 05:51] beginin15 opened #100 "[2기] 7주차 주간 목표"
## 목표는 최대 2개만 작성.

## 목표1
### [바킹독 실전 알고리즘 강좌](https://blog.encrypted.gg/919)
- [x] 0x07강 - 덱
- [ ] 0x08강 - 스택의 활용
- [ ] 0x09강 - BFS (실버 위주)
- [x] 0x0A강 - DFS

## 목표2
### [자바 ORM 표준 JPA 프로그래밍 - 기본편](https://www.inflearn.com/course/ORM-JPA-Basic/dashboard)
- [x] 섹션 7
- [x] 섹션 8
- [x] 섹션 9
- [x] 섹션 10

## 목표3
### 자바 키워드 `객체 지향`  뽀개기
[개발자가 반드시 정복해야 할 객체 지향과 디자인 패턴](http://www.yes24.com/Product/Goods/

[2020-10-23 09:10] blossun commented on #92
* 알고리즘 책 완독 축하드려요!!! 저도 제일 끝내기 힘들었던 책인데 한 번 완독한 것도 의미가 있는 것 같아요. 이후에 저도 바킹독으로 하고 있는데 빠르게 개념을 훑고 문제 풀어보기 좋더라구요. 화이팅!!!
* 목표2는 저와 같은 고민이네요 ㅎㅎ 모임에서 말했던 내용을 지금 리뷰하면서 생각해봤는데 파이썬처럼 기본으로 제공해주는 함수들을 자바로 미리 구현해두고 테스트에 필요하다면 가져다 쓸까 하는 생각이 들었어요 ㅎㅎ 결국 저도 자바로 할 것 같네요!
* 공부 그자체만 하려는 건 저도 지루해서 힘들더라구요ㅠㅠ 그래도 완강하신 것도 대단해요 멋짐!!👍👍

[2020-10-23 15:13] hsik0225 commented on #88
### 피드백
- 꾸준히 알고리즘을 풀던게 효과가 나는 것 같아 정말 다행이네요! 지루함을 참고 이겨낸 만큼 좋은 결과가 있을 거에요
- 잭이 처음에 목표로 하던 OOP와 TDD를 메인으로 하는 개발자에 점점 다가가고 있는 것 같아요. 잭이 원하는 개발자가 되기 까지 화이팅입니다!
- 이번 주 면접때문에 많이 바쁘셨는데 한주간 고생많으셨습니다! 열심히 준비한 만큼 좋은 결과가 있을 거에요. 면접 화이팅입니다😀

[2020-10-24 01:23] #88 closed, assigned to guswns1659

[2020-10-24 01:23] #92 closed, assigned to beginin15

[2020-10-24 01:23] #94 closed, assigned to beginin15, blossun, kses1010, guswns1659, hsik0225, suhyunsim

[2020-10-24 01:24] guswns1659 opened #101 "[2기] 6주차 리뷰어"
제 -> 솔
솔 -> 써
써 -> 잭
잭 -> 에
에 -> 푸
푸 -> 제

[2020-10-24 14:59] suhyunsim opened #102 "[2기] 7주차 주간 목표"
## 목표1 -  Photo Tag 프로젝트 진행
### 노트 관련 API
- [x] 노트 생성
- [x] 노트 수정
- [x] 노트 삭제
- [x] 노트 상세
### 태그 관련 API
- [x] 홈 화면 - 태그 카테고리(Tags)
- [x] 태그 별 노트 목록(#TagName)
- [x] 태그 목록 관리
- [x] 태그 활성화 관리

## 목표2 - 블로그 관리
- [x] Search 기능 추가
- [x] 카테고리 페이지 수정
- [x] 프로젝트 개발 기록 포스트 업로드 (프로젝트 소개 및 계획 / trouble shooting / 고민거리 - JPA, Spring Security)

[2020-10-24 17:30] hsik0225 opened #103 "[2기] 7주차 주간 목표"
## 프로젝트
- [x] 로그인, 회원가입 모든 레이어 테스트 코드 작성
- [x] OAuth 구현 및 테스트 코드 작성
- [x] API 문서화
[API Document](http://3.34.117.168:8080/docs)

[2020-10-24 18:31] hsik0225 commented on #96
### 피드백
- 저도 이슈트래커에서 ERD를 짤 때, JPA 공부를 한 것이 많은 도움이 됐던 기억이 나네요! 저는 최범균씨의 DDD START! 를 보고 많은 도움을 받았습니다. 나중에 한 번 읽어보시면 설계하는데 많은 도움을 받을 수 있을거에요. 내용도 좋고 글을 잘 쓰셔서 재밌게 읽었습니다 😄
- 배포할 때 에러가 나면 고치는데 시간이 오래 걸리는 경우가 정말 많죠. 인터넷에서 해당 에러를 찾아보면 댓글은 `good for me!` 라고 되어있는데 내꺼에 적용해보면 안되고.. EC2는 멈추고.. 지금 생각해보면 배포는 프로그래밍보다 이번엔 제발 되길 기도하는 민속신앙 같았네요.  하지만 내가 만난 오류는 코드스쿼드 사람들도 만난 경우가 많더라고요. 며칠을 고민해도 잘 안된다면 같이 고민하면서 풀어봐요

[2020-10-25 04:33] kses1010 opened #104 "[2기] 7주차 주간 목표"
## 목표는 최대 2개만 작성.

## 목표1
### 파이썬 알고리즘 인터뷰
- [x] 9. 스택, 큐 - [노션링크](https://www.notion.so/09-ecf2ea42974c4054834df5c7f09bb428)
- [x] 10. 데크, 우선순위 큐 - [노션링크](https://www.notion.so/10-b5a9467adcef49dc96d821e013c54ce9)

## 목표2
### 김영한 스프링 강의 듣기
- [x] 4. 스프링 컨테이너와 스프링 빈 - [노션링크](https://www.notion.so/4-90cf65e60f1b453cbcd4e1c3cd19a290)

[2020-10-25 04:42] kses1010 commented on #97
## 피드백
### 뱅샐 면접 준비
- DB 기술면접 정리에서 액세스 거부되어서 어떤지 모르지만 정리를 잘 되어있을거라 믿습니다. DB에선 트랜잭션을 많이 물어본다고 하니 열심히 공부하는것도 나쁘지 않겠군요. 다음주 면접 잘되시길 바랍니다!!
- 네트워크 면접에서 간혹 CORS에러에 대한 질문도 하더군요. CORS 에러에 대한 정의와 그걸 해결하는 법(`WebConfigurer` 구현하여 addCorsMappings 메서드를 재정의했다 등)을 이야기 하는것도 나쁘지 않겠어요!

[2020-10-25 13:27] blossun opened #105 "[2기] 7주차 주간 목표"
## 목표1
- [바킹독 실전 알고리즘 강좌](https://blog.encrypted.gg/919) 강의 수강 및 문제 풀기
- [x] 0x07강 - 덱
- [x] 0x08강 - 스택의 활용(수식의 괄호 쌍)

## 목표2
- [개발자가 반드시 정복해야할 객체 지향과 디자인 패턴](http://www.kyobobook.co.kr/product/detailViewKor.laf?mallGb=KOR&ejkGb=KOR&barcode=9788969090010)
Part 02 설계 원칙 / DI와 서비스 로케이터
- [x] 5장: 설계 원칙: SOLID
- [x] 6장: DI와 서비스 로케이터

[2020-10-25 13:49] guswns1659 opened #106 "[2기] 7주차 주간 목표"
# 면접 후회없이 보고오기
- [x] 이력서, 과제 검증
- [x] C.S 지식 암기(DB, 운영체제, 네트워크)
- [x] 자료구조/알고리즘 구현
- [x] 컬쳐면접 준비

[2020-10-26 12:21] guswns1659 commented on #95
# 피드백

- 자기가 하고 싶은 프로젝트를 하며 즐거워하는 모습이 보기 좋네요! 기존에 사용하던 기술말고 새로운 기술을 적용한다는 건 설레면서 긴장이 되는 일 같아요! 괜히 시간 낭비하는 것은 아닌가 싶기도 하고. 하지만 개발자라면 반드시 필요한 역량이라 생각합니다! 응원할게요!
- 알고리즘은 한눈 팔면 어느순간 멀어지는 친구같아요! 생각날 때 바로 잡아서 도망 못 가게 하는 방법이 좋은 것 같습니다! 알고리즘도 화이팅하세요!

[2020-10-27 08:21] beginin15 commented on #100
## 목표 수정
- 일요일을 포함한 목표까지 적어놨지만 당일에 충분한 양을 소화하지 못했다.
- 알고리즘 문제를 풀다가 이해가 안되는 부분이 있어서 해결하고 넘어가려다가 많은 시간을 소요했다.

[2020-10-29 07:46] guswns1659 commented on #106
# 피드백

- 과제 전형부터 면접까지 많은 피드백을 얻었던 시간. 과제 전형을 진행하며 객체지향 프로그래밍과 TDD에 대해 깊은 이해를 할 수 있었다. 면접 전형을 준비하면서 나에 대해 알아가는 시간과 지식을 다시 정리할 수 있었다. 어떤 결과가 나올지 모르지만 많은 것을 남긴 시간임에 틀림없다.

[2020-10-29 07:47] guswns1659 opened #107 "[2기] 7주차 리뷰어"
제 -> 써
솔 -> 잭
써 -> 에
잭 -> 푸
에 -> 제
푸 -> 솔

[2020-10-29 08:29] kses1010 commented on #104
## 회고
### 파이썬 알고리즘 인터뷰
- 스택, 큐는 꾸준히 자료구조했던 항목이라 쉬울줄 알았으나, 정작 문제 풀때는 제대로 활용하지 못함. 확실히 이런건 문제 양치기를 해야하겠다는게 철저하게 느꼈다.
- 데크, 우선순위큐: 데크는 스택, 큐의 장점만 뽑은거라 그렇게 어렵지 않았다. 단, 우선순위 큐는 힙을 알아야하기 때문에 너무 어려웠다. 힙 공부할 때 다시 한번 우선순위 큐를 확인해보자.

### 김영한 스프링 강의 듣기
- 스프링 컨테이너와 스프링 빈 : 마지막 강의 Spring Bean Definition부터 스프링에 전반적인 중요한 점이 나왔다. 여기서부터 제대로 공부하고 부족하면, 토비의 스프링을 읽어보자.

[2020-10-29 11:31] blossun commented on #105
### 피드백
아직 실버문제만 풀어서 그런지 재밌어서 이틀동안 알고리즘만 풀었다. 통과하지 못하는 반례를 못찾아서 런타임에러로 두시간 넘게 걸린 문제도 있었지만 로직찾는 재미가 쏠쏠... (BFS랑 재귀만나면 다를지도 ㅠㅠ) 어떤 자료구조를 쓰면 되는지 카테고리 분류가 되어있어서 좀 더 수월했다.
그리고 몇몇 문제는 다름 사람의 풀이를 보면서 동일한 로직이지만 더 깔끔하게 작성한 코드를 보면서 가독성도 좋고 실수를 줄일 수 있는 코드를 배웠었다. 다른 사람 풀이도 종종 보면서 배우는 것도 좋은 것 같다.
![image](https://user-images.githubusercontent.com/35985636/97562462-01b9d480-1a25-11eb-916b-e46276c56d7a.png)

변경에

[2020-10-29 12:25] beginin15 commented on #99
## 피드백
- 어쩌다보니 저도 솔라랑 똑같은 콘텐츠들로 공부하고 있네요! 특히 객체지향 책 같은 경우에는 저번 주라주라 모임 때 솔라가 이 책의 어떤 점이 좋았는지 공유해줘서 지금 저에게 필요한 내용일 것이라고 생각했기 때문에 저도 이번 주 목표에 포함시켰어요 ㅎㅎ 객체 지향의 특징을 정리하면서 추상적이라고 느껴지는 표현들을 실제 예제 코드와 상황으로 접할 수 있어서 좋았습니다. 👍
- 바킹독 알고리즘 문제를 풀다가 시간 내에 풀지 못해서 풀이를 참고해서 다시 풀어본 적이 있었어요. 그런데 풀이를 참고해서 구현했는데도 계속 틀렸다고 해서 원인을 알고 싶어서 3시간 넘게 투자했던 것 같아요. 알고보니 로직 자체는 문제가 없었는데 제가 문제를 오해해서 특정 상황에 대한 출력 결과를 엉뚱한 걸로 찍고 있었더라구

[2020-10-29 13:23] blossun commented on #93
* 김영한님 JPA 강의가 정말 좋았어서 스프링 강의도 듣고 싶었는데 후기가 좋은 것 같네요 ㅎㅎ 저도 [개발자가 반드시 정복해야할 객체 지향과 디자인패턴] 책으로 예제코드와 함께 SOLID 원칙을 공부하였는데 확실히 코드로 적용시킨 예시를 보는게 많은 도움이 된 것 같아요.
추상화를 통해 변경에 유연한 코드로 만드는 것이 중요하다는 것을 많이 배웠습니다 :)
* 저도 알고리즘 문제를 본격적으로 풀기 시작했는데 확실히 비슷한 유형들을 모아서 푸니깐 좀 더 수월해지는 것 같아요. 저도 양치기 열심히 하려고 합니다 ㅎㅎ 화이팅하세요!!👍👍

[2020-10-29 13:26] blossun commented on #99
저도 문제 오해한 적이 있어서 허탈한 적이 있어요 ㅋㅋ큐ㅠㅠ 특히 예제가 하나인 경우에 빨리 풀려고 더 그랬던 것 같아요... 문제를 차분히 읽어보려고 노력하고 있습니다 ㅠㅠ
반례는 ... 저도 반례를 생각하는 습관이 중요한 것 같긴한데 빨리 풀고 싶어서 그냥 해당 문제 반례를 구글링하면서 풀고있어요 ^_ㅠ 이게 맞는지 모르겠지만, 지금은 반례를 생각하는데 많은 시간을 쓰고 싶지 않은 것 같아요...ㅎㅎ
책이 좋았다니 뿌듯하네요!! ㅎㅎ 저도 도움을 많이 받아서 앞으로도 좋았던 거 많이 공유할게요 화이팅!!

(코멘트 달려다가 닫아버렸습니다...ㅎㅎ)

[2020-10-29 13:26] #99 closed, assigned to blossun

[2020-10-29 14:52] suhyunsim commented on #102
### 목표1 - Photo Tag 프로젝트 진행
* 노트와 태그(1:N, N:1 양방향 관계), 노트와 사진(1:N 단방향 관계), 유저와 노트(1:N 단방향 관계)로 매핑하다보니 노트 생성 api를 구현하는 것만으로도 전체 엔티티를 모두 다뤄야하는 어려움이 있었다.
* 가장 큰 문제로 오래 고민한 부분이 있었는데 주라주라 스터디에서도 논의해보고 싶다.
    * 노트 생성 시 PostNoteRequestDTO로  노트(사진+메모)의 정보를 받아온다.
    * 메모 내용 속에는 카테고리처럼 쓰일 수 있는 태그들이 들어있다.
    * 태그들을 정규식을 사용해 뽑아서 리스트에 저장한다.
    * **Spring Data JPA를 사용해서 noteRepository의 `void save(Note note)

[2020-10-29 14:56] beginin15 commented on #100
# 회고
## 목표 1
- 목표 수정할 때 알고리즘 목표량을 과감하게 줄이지 못했다.
- 참고로 이번 DFS 챕터에는 문제가 정해지지 않아서 강의만 들었다.
<img width="800" alt="스크린샷 2020-10-29 오후 11 54 04" src="https://user-images.githubusercontent.com/33659848/97590502-08a31000-1a42-11eb-8196-0b23cd70fde1.png">

## 목표 3
- 솔라가 저번 주라주라 모임 때 책 내용을 소개해줬는데 마침 자바 키워드 중 `객체 지향`을 정리할 타이밍이라 읽게 되었다.
- 객체 지향의 특징 중 `캡슐화`, `다형성`, `추상화` 등등 추상적인 개념과 표현들을 어떻게 정리할지 고민이었는데 책에서 구체

[2020-10-29 14:58] #93 closed, assigned to kses1010

[2020-10-29 14:58] #95 closed, assigned to hsik0225

[2020-10-29 14:58] #96 closed, assigned to suhyunsim

[2020-10-29 14:58] #97 closed, assigned to guswns1659

[2020-10-29 14:59] suhyunsim commented on #98
* 주라주라의 순기능! 맞아요. 제가 지금 공부하고 있지 않는 부분들이더라도, 결국 백엔드 개발자라면 필요한 소양들을 서로가 갖춰나가고 있어서 모두의 지난 목표들을 자주 확인해보게 되더라고요. 또 다들 공유하기 위해 기록들을 자세하게 남겨줘서 선한 영향력들을 미치고 있는 것 같아요! 지금은 취업 관련한 내용들을 주로 다루고 있지만 개인적으로 이런 모임을 지속해서 다양한 공부들을 함께 해보고 싶은 욕심이 있답니다🥰🥰
* 저도 김영한님의 `자바 ORM 표준 JPA 프로그래밍 - 기본편`을 수강하고 있는데 JPA는 알고 쓰는거랑 모르고 쓰는건 정말 다르네요.😂 그때는 이렇게 모르고서 어떻게 구현했지 싶긴 한데 또 그때 그렇게 실습을 하고 나서 강의를 들어서 '아 저거 저번에 써본건데!' 이해가 잘 되기도 하더라고

[2020-10-29 15:26] hsik0225 commented on #103
## 회고
### 프로젝트
- 써보지 않은 기술인 REST Docs를 사용해보니 신기하고 재밌었다. 특히 마크다운과 비슷한 마크업 언어인 `asciidoctor`가 인상깊었다. 마크다운에 비해 유용한 기능들이 많았기 때문이다. 예를 들어, 다음과 같이 여러 경고 표시를 출력시킬 수 있다.
![image](https://user-images.githubusercontent.com/56301069/97589389-c9c08a80-1a40-11eb-9096-77a591c820b1.png)

- 이번에 REST Docs를 사용하면서 읽기의 중요성을 느꼈다. 여태까지 사용법을 보고 따라치다 보니 이렇게 하면 되는구나 라고만 알고 있는 것이 많았다. 이건 특히 어노테이션에 많았는데, 아직도 `@SpringBootTes

[2020-10-30 00:28] #98 closed, assigned to beginin15

[2020-10-30 01:49] #101 closed, assigned to beginin15, blossun, kses1010, guswns1659, hsik0225, suhyunsim

[2020-10-30 01:56] guswns1659 commented on #106
- [후기](https://docs.google.com/document/d/16QbzHFwRQIlAkTFMFtjt0bKNzktEbLlJPaxBbqEDbbM/edit?usp=sharing)

[2020-10-30 02:55] kses1010 commented on #104
[알고리즘 저장소](https://github.com/kses1010/algorithm)

[2020-10-30 11:36] blossun opened #108 "[2기] 8주차 주간 목표"
## 목표1
* 바킹독 실전 알고리즘 강좌 강의 수강 및 문제 풀기
- [x]  [0x09강 - BFS](https://blog.encrypted.gg/941)
- [x]  [0x0A강 - DFS](https://blog.encrypted.gg/942)
- [x]  [0x0B강 - 재귀](https://blog.encrypted.gg/942)

## 목표2
* 자바 웹 프로그래밍 Next Step
- [x] 6장 6.1 ~ 6.3

[2020-10-30 11:37] kses1010 opened #109 "[2기] 8주차 주간 목표"
## 목표는 최대 2개만 작성.

## 목표1
### 파이썬 알고리즘 인터뷰
- [x] 11장. 해시 테이블 - [노션](https://www.notion.so/11-057fb81dae324092851ca1b7d2d1bceb)
- [x] 12장. 그래프 - [노션](https://www.notion.so/12-4cddd1f4a50f4d6da8d83f5ddf67d98d)

## 목표2
### 스프링 김영한 강의 듣기
- [ ] 섹션5. 싱글톤 컨테이너
- [ ] 섹션6. 컴포넌트 스캔

## 추가목표
### Toggl Track - 하루에 4시간 씩 채우기
- 월 ~ 목 까지 4시간 이상 공부했다는 증거 찍기

[2020-11-01 04:49] guswns1659 opened #110 "[2기] 8주차 주간 목표"
# BFS/DFS 알고리즘 4문제

- [x] 1 https://github.com/guswns1659/Java-Algorithm/issues/22
- [x] 2 https://github.com/guswns1659/Java-Algorithm/issues/24
- [x] 3 https://github.com/guswns1659/Java-Algorithm/issues/25
- [x] 4 https://github.com/guswns1659/Java-Algorithm/issues/32

# 스프링 핵심원리 - 기본편
- [x] 스프링 핵심 원리 이해1 - 예제 만들기 : 총 8강
- [x] 스프링 핵심 원리 이해2 - 객체 지향 원리 적용 : 총 9강

[2020-11-01 12:23] hsik0225 opened #111 "[2기] 8주차 주간 목표"
## NextStep
- [x] 자동차 경주 Step3
- [x] 자동차 경주 Step4

[2020-11-01 13:43] suhyunsim opened #112 "[2기] 8주차 주간 목표"
## 목표1 -  Photo Tag 프로젝트 진행

- [x] API 구현 1차 마무리
- [x] 코드리뷰 신청 및 리팩토링

## 목표2 - 블로그 관리
- [x] 프로젝트 개발 기록 포스트 업로드 (trouble shooting)

[2020-11-01 14:58] beginin15 opened #113 "[2기] 8주차 주간 목표"
## 목표는 최대 2개만 작성.

## 목표1
### [바킹독 실전 알고리즘 강좌](https://blog.encrypted.gg/919)
- [x] 0x08강 - 스택의 활용
- [x] 0x09강 - BFS (실버 위주)
- [x] 0x0B강 - 재귀

## 목표2
### 자바 키워드 `객체 지향`  뽀개기
- [개발자가 반드시 정복해야 할 객체 지향과 디자인 패턴](http://www.yes24.com/Product/Goods/9179120) 참고해서 객체 지향 관련 키워드를 예제 코드와 함께 정리
  - [x] Ch 5
  - [x] Ch 6

- [스프링 핵심 원리 - 기본편](https://www.inflearn.com/course/%EC%8A%A4%ED%94%84%EB%A7%81-%ED%95%B5

[2020-11-02 14:35] kses1010 commented on #109
![image](https://user-images.githubusercontent.com/49144662/97880078-10292880-1d64-11eb-9675-7e2b534e9040.png)
![image](https://user-images.githubusercontent.com/49144662/98069939-7072b400-1ea3-11eb-83ef-680cfb6df4e2.png)
![image](https://user-images.githubusercontent.com/49144662/98251977-c5561d80-1fbc-11eb-917a-c1eafe99c2b8.png)

[2020-11-03 05:25] guswns1659 commented on #110
# 목표 수정
- 기존 알고리즘 8문제에서 4문제로 변경
- 스프링 핵심 원리 이해2 강의 추가

## 이유
- 알고리즘 대신에 스프링 강의를 빠르게 수강하는 게 낫겠다는 판단.

[2020-11-04 21:48] guswns1659 commented on #110
# 피드백

## Good
- 결과 기다리면서 늘어지지 않고 알고리즘과 스프링 강의를 들어서 뿌듯하다. 사실 떨어졌다 생각하고 다시 일상으로 돌아가고 있었다. 계속 연락을 신경쓰면 손에 안 잡히니. .
- 알고리즘 풀이는 잠시 중단하고 회사 및 업무에 적응하면 다시 시작할 계획이다. 개발자 역량에도 중요한 공부인 것 같고 훗날 이직을 생각할 때를 대비해서 필요할 것 같다.
- 스프링 핵심 원리 강의를 들으니 왜 스프링이 객체지향 프레임워크인지 정확하게 이해할 수 있어서 좋았다. 특히, DIP와 OCP를 통한 제어의 역전은 정말 변경을 쉽게 도와주는 것 같다. 회사 내에서 어떤 언어와 프레임워크를 쓸지 아직 모르지만 자바와 스프링을 그대로 쓴다면 다시 꾸준히 수강할 계획.

## Bad
- 없습니다.

[2020-11-04 21:54] guswns1659 commented on #102
# 피드백
- 프로젝트를 진행하며 만나는 이슈를 깊게 고민하는 모습이 좋네요. 잘 기록했기 때문에 성장의 밑거름이 될거라 생각합니다. :+1:
- 42서울 앞두고 있을텐데 한 달뿐이지만 많은 것을 배우고 오면 좋겠네요! C언어에 대해 배울 기회가 많지 않은데 한번 배워두면 추후에 도움이 될 것 같네요 ㅎㅎ 저도 C언어에 대한 니즈는 항상 있어서 나중에 한번 꼭 도전해보고 싶네요.

[2020-11-05 07:38] hsik0225 commented on #111
### 회고
- 주라주라 2기 마지막 목표 달성! ヽ(＾Д＾)ﾉ

- NextStep을 진행하면서 객체지향적인 설계가 무엇인지 조금 더 깊게 생각해볼 수 있는 기회가 되었다. 이번 수업? 프로젝트? 를 진행하면서 내가 객체 간의 연관관계와 객체의 역할, 책임을 너무 고려하고 짜지 않았다는 것을 알 수 있어서 특히 좋았다

- NextStep에만 몰두하고 있어 나의 개인 프로젝트를 진행하지 못하고 있다. 프로젝트를 진행하지 못하다 보니 이력서를 쓸 날이 점점 뒤로 밀리고 있다. 이력서 쓰기 앞에 뭐가 자꾸 생긴다. 취업은 내년을 기약해야겠다😆

[2020-11-05 11:38] beginin15 commented on #104
# 피드백
## 목표1
- (다른 분들도 많이 얘기해줬지만...!) 특정 주제나 자료구조와 관련된 문제를 하루 날 잡고 많은 시간을 투자하면 자기 것으로 만드는데 도움이 되는 것 같습니다. 저도 이번 주에 처음 BFS 문제를 접했고 그날 7시간 정도 풀었는데 아주 약간! 친숙해진 것 같아요. 집중적으로 풀어서 그런지 템플릿에 집착하지 않아도 활용되는 부분이 눈에 보이더라구요. (물론 실버문제만 풀어봤습니다.ㅎㅎ)

- 이미 들으셨을수도 있지만 추후에 BFS 공부하신다면 [바킹독 강의](https://blog.encrypted.gg/941?category=773649)를 추천합니다. C언어를 기반으로 설명하지만 언어 자체는 강의 듣는 데 크게 영향이 없는 것 같아요. 내용이 깊진 않아도 저같이 입문자?에겐 친

[2020-11-05 11:59] kses1010 commented on #104
감사합니다 BFS는 아직까지는 잘 모르지만 좀 더 공부 열심히해야겠네요.

[2020-11-05 12:02] kses1010 commented on #103
### 피드백
- RestDocs가 정말 잘되어있군요. 지금 봤는데 잘 뜨네요. 이거하면서 확실하게 RestDocs와 Spring Test 공부하는데 큰 도움이 됐겠네요. 좋습니다
- Test에 관한건 yun님 블로그를 많이 참고했었습니다. 여기 링크입니다.
https://cheese10yun.github.io/spring-guide-test-1/

[2020-11-05 12:35] hsik0225 commented on #100
### 피드백
- 객체 지향 언어인 Java 를 메인을 삼는 만큼 객`객체 지향`에 대해서 공부하고 정리하는게 확실히 좋아보여요! 이렇게 문서화하고 꾸준하게 다시 보면서 외워야 그 언어의 능력을 100% 쓸 수 있는 것 같아요. 저도 NextStep을 진행하면서 `객체 지향`에 대해서 고민을 시작했어요. 여태 저의 코드가 객체 지향적이라기 보단 절차 지향적인 코드라는 것을 깨달으며 객체 지향에 대해서 더 공부해야겠다고 느끼게 되었네요

- 잭이 말한 '자신이 최대로 팔을 뻗어야 닿을만한 거리로 목표를 설정해야 한다'를 제이가 잘 실천하고 있는 것 같아요. 목표 달성을 실패하는 것은 제이가 그만큼 목표를 많이 잡고 최대한 많이 공부하려는 노력하였기 때문이겠죠. 주라주라 스터디의 의의에 맞게 잘하고 있으니 달성

[2020-11-05 13:08] suhyunsim commented on #112
# 8주 차 피드백
## 목표1 - Photo Tag 프로젝트 진행
* 짧은 시간이었지만 프로젝트에 집중해서 보낸 한 달이었다. 팀원과의 상의 끝에 기본적인 기능 개발의 경우 백엔드는 이번 주까지로 마무리하고 iOS는 계속 이어서 진행하기로 했다. 이후 서버와 연동하면서 생기는 버그들을 해결하면 될듯 싶다. 기획부터 개발까지 전부 다 해볼 수 있는 좋은 기회였고 내가 어떤 부분을 잘 모르고 사용하는지 짚고 넘어갈 수 있었다. 코쿼 멤버들에게 코드리뷰를 부탁했고 이후 개발한 내용들도 리뷰들을 통해 피드백 받을 예정이다.
* 사실 이번에 코드리뷰를 받으면서 가장 많이 고민하게 된 부분이 DB 최적화와 관련된 것들이었는데, 혼자서 했다면 필요성도 느끼지 않았을 부분들이어서 의미가 컸다. 혼자서 개발하는 건 고민을

[2020-11-05 13:17] suhyunsim commented on #105
* 알고리즘 실버문제가 재밌게 느껴지는 역시 쏠라 당신은 찐개발자... 저도 로직 찾는 재미를 느끼기 시작하면 알고리즘에 푹 빠지게 되려나요! 저의 경우 로직을 생각하는건 재밌는데 그걸 언어로 표현하는데 한계가 있어서 그런지 답답한 점이 좀 있더라고요ㅎㅎ 쏠라의 BFS, 재귀와의 싸움은 어떨까 했는데 지켜 본 이번 주 쏠라는 재귀와 치열한 싸움을 벌이고 있더라고요! 에버봇의 말대로 이해하려 하지말고 마음으로 받아들여야 하는건가...🤓 알고리즘 문제는 정말 좋은 풀이를 보는 것도 도움이 많이 되는 것 같아요. 알고리즘 마스터로 성장하는 쏠라를 지켜보겠습니다. 화이텡
* 저는 디자인 패턴이 사실 기본적인 구현 이후의 것들을 다루고 있다고 느껴져서인지 잘 와닿진 않더라고요.(최대한 공부할거를 줄이고 싶어서인지 눈

[2020-11-05 14:08] beginin15 commented on #113
# 회고
## 목표1
- BFS 문제만 7시간 정도 집중적으로 풀어봤더니 기초적인 감은 생긴 것 같다. 실버 문제 밖에 풀어보지 않았지만 오히려 스택 활용 문제보다 쉽게 풀었다. (바킹독 BFS 추천!)
- 재귀 문제를 풀기 위한 귀납적 사고는 왜 재귀 문제가 어렵게 느껴지는지 깨닫게 해주고, 이에 대한 돌파구를 제시해준다. 그러나 나에겐 여전히 어려웠다. 연습이 많이 필요한 것 같다.

  <img src="https://user-images.githubusercontent.com/33659848/98250728-2aa90f00-1fbb-11eb-8702-756eb2c02ae7.png" width=600/>

## 목표2
- 읽어야 하는 파트가 SOLID원칙과 DI에 관련된 내용이었는데 마침 김영한님 스프

[2020-11-05 14:08] blossun commented on #108
## 회고
![image](https://user-images.githubusercontent.com/35985636/98249819-0d277580-1fba-11eb-81fd-2ebd65a4e82a.png)
* 알고리즘이 과제처럼 다가와서 하기 싫었었는데 지금은 그냥 과제라 생각안하고 재밌게 풀고 있다. 바킹독님 강의가 아주 좋다. ㅎㅎ
* NextStep 책으로 다시 돌아와서 실습을 진행하고 있다. 이번주 실습내용은 서블릿으로 동적인 웹페이지를 만들어내는 것이었는데 서블릿 사용법을 익혔다면 다음 단계에 서블릿/JSP가 추상화하고 있는 기반 지식을 학습할 필요가 있다는 점에서 도움이 될 것 같다.

* 2기 목표 중 자료구조 학습은 달성하였고, 면접질문은 별로 진행하지 못한 점이 아쉽다. 중간에 프로젝트

[2020-11-05 14:19] blossun commented on #106
* 좋은 결과가 나와서 너무 축하드립니다~!!! 🎉🎉 항상 열심히 하는 모습을 보고 긍정적인 자극도 많이 받았고 좋은 결과도 있을 거라고 생각했습니다 : )
* TDD와 객체지향적인 코드에 대한 고민을 하시는 모습을 많이 보았는데 한층 더 성장하신 것 같아보여요 👍👍
* 회사에 가서도 잘 하실거예요 언제나 화이팅입니다~~~ 🙂

[2020-11-05 14:22] kses1010 commented on #109
## 회고
### 파이썬 알고리즘 인터뷰
- 해시테이블: 해시테이블 자료구조는 그리 어렵지 않았다. 오히려, 해시테이블에 있는 파이썬 활용부분이 많이 나와서 어떻게 해야할지 많이 고민해야할 듯. 다른 파이썬 코드에 있는 `zip`, `**`, 언패킹 등등 자바에서는 잘 확인하지 못한 부분에 대해서는 공부를 더 하고, 더 많이 봐야겠다.
- 그래프: BFS, DFS, 재귀, 백트래킹... 하나같이 정말로 모르겠다. 다행인건 DFS, BFS 문제들의 유형은 다 거기서 거기인게 다행. 바킹독, 나동빈님의 강의, 그리고 그래프 문제 많이 풀어보는 수밖에 없을 듯하다.

### 스프링 김영한 강의 듣기
- 알고리즘과 우테코 자소서때문에 신경쓰는게 너무 강의를 못들었다. 시간을 더욱 분할하여 듣지못한 강의를 들어보자.

[2020-11-05 14:35] guswns1659 commented on #110
# 2기 회고

## 목표 : 커리어 시작을 위한 준비 기간 - 서류지원 20회!

## 피드백
- 총 18회 정도 지원했고 1곳 최종합격해서 목표를 달성했다.
- 준비도 물론 열심히 했지만 더불어 운?(내가 통제할 수 없는 환경 및 기회)도 따라 준 것 같다. 몇 번을 떨어지든 결국 취업은 1승만 하면 되기 때문이다. 최종합격한 곳 이외에는 대부분은 서류, 코테에서 탈락했다. 큰 기대 안하고 넣었던 기업에서 서류 합격하고 과제 전형이 있다는 점이 큰 메리트였다. 과제 전형도 열심히 준비했고, 면접도 내가 준비했던 방향을 크게 벗어나지 않아서 좋은 결과를 얻을 수 있었다. 결론은 준비는 꾸준히 하면서 지원은 주저하지 않고 하는게 1승을 위한 길이 아닐까 싶다. (개인적인 의견이라는 것 참고)
- 1기부터 O

[2020-11-05 14:41] #100 closed, assigned to beginin15

[2020-11-05 14:41] #102 closed, assigned to suhyunsim

[2020-11-05 14:41] #103 closed, assigned to hsik0225

[2020-11-05 14:41] #104 closed, assigned to kses1010

[2020-11-05 14:41] #105 closed, assigned to blossun

[2020-11-05 14:41] #106 closed, assigned to guswns1659

[2020-11-05 14:41] #107 closed, assigned to beginin15, blossun, kses1010, guswns1659, hsik0225, suhyunsim

[2020-11-06 03:42] #10 closed, assigned to beginin15, blossun, kses1010, guswns1659, suhyunsim

[2020-11-06 03:42] #52 closed, assigned to 102092, beginin15, blossun, kses1010, guswns1659, hsik0225, suhyunsim

[2020-11-06 03:42] #108 closed, assigned to blossun

[2020-11-06 03:42] #109 closed, assigned to kses1010

[2020-11-06 03:42] #110 closed, assigned to guswns1659

[2020-11-06 03:42] #111 closed, assigned to hsik0225

[2020-11-06 03:42] #112 closed, assigned to suhyunsim

[2020-11-06 03:42] #113 closed, assigned to beginin15

[2020-11-08 05:40] kses1010 opened #114 "[2기] 최종 회고"
## 2기 회고
### 목표1. 이력서
- 프로그래머스 데브매칭, 윈터코딩을 위해 이력서를 처음 썼다. 다른사람들의 이력서를 여러번 참고했고, 먼저 취직하신분이나 다른분들에게 피드백을 받아가며 이력서를 썼다. 이 이력서가 과연 좋은 이력서인지는 이력서를 많은 곳에 넣지않아 모르겠다. 그래도 이력서를 써서 목표를 달성하게 되어 기쁘다.
### 목표2. 자료구조 + 알고리즘 + 네트워크 및 면접 준비
- 자료구조와 알고리즘은 처음 목표는 자료구조를 공부하고 실전을 알고리즘에 적용시키려했다. 그러나, 자료구조가 너무 재미없어서 공부방법을 찾던중에 "[자료구조를 공부하는 5가지 방법](https://imasoftwareengineer.tistory.com/93)" 을 보고 자료구조 한단원 나갈 때마다 알고리즘 푸는

[2020-11-08 05:57] #114 closed, assigned to kses1010

[2020-11-08 06:42] beginin15 commented on #113
# 주라주라 2기 회고
## 목표1. 자료구조 책 끝내기
- 코쿼 초반에 읽기 시작했지만 계속 미뤄두었던 [책](http://www.yes24.com/Product/Goods/60547893?OzSrank=5)을 완독하는 것을 목표로 했다. 소극적인 목표였지만 기초적인 자료구조를 정리할 수 있는 기회였다.
- 지금은 책을 모두 완독하고 본격적으로 알고리즘 문제를 풀고 있다. 목표했던 바를 이루고 관련된 주제(자료구조, 알고리즘)에 대한 역량을 발전시키기 위해 노력했기 때문에 목표 달성에 만족한다.

## 목표2. 자바 기술면접 대비
- 결론부터 말하자면 목표의 방향성이 좋지 못했다고 생각한다. 면접에 가기 전에 급하게 외우지 말고 미리 정리를 해두는 것이 좋을 것 같아서 목표로 잡았지만 막상 정리하려니까 재

[2020-11-08 09:15] hsik0225 commented on #111
## 2기 회고
기존 2기 목표인 개인 프로젝트 완성을 달성하지 못했다.
이유는 3가지가 있었다.
1. 프로젝트를 하다 보니 욕심이 생겨서 다른 기능을 자꾸 추가하려고 했기 때문이다. 하나의 기능을 추가하는데 다른 기술을 쓰려고 하다 보니 그 기술 공부하는데만 몇 주 씩 걸려서 제대로 된 프로젝트는 시작도 못해봤다.
2. 공부할 때 문서화를 해놓지 않아서 전에 사용하던 기술을 어떻게 사용해야 하는지 몰라 처음부터 다시 공부했기 때문이다. 자바만을 사용하여 배포를 하지 않는 프로젝트를 진행했었다. 오랜만에 AWS를 사용하려고 하니 너무 낯설어서 처음부터 공식문서를 훑어보아야 했다. 문서화의 중요성을 깨달은 순간이었다.
3. NextStep을 시작했기 때문이다. 기존 프로젝트를 하는 것도 열심히 해야 2달안에

[2020-11-13 11:48] blossun opened #115 "[3기] 1주차 주간 목표"
## 목표1
* 바킹독 실전 알고리즘 강좌 강의 수강 및 문제 풀기
- [x]  [0x0C강 - 백트래킹](https://blog.encrypted.gg/945)

## 목표2
- [x] 깃헙블로그 생성
- [x] 프로젝트 내용 정리

[2020-11-15 12:34] beginin15 opened #116 "[3기] 1주차 주간 목표"
## 목표는 최대 2개만 작성.

## 목표1
### [바킹독 실전 알고리즘 강좌](https://blog.encrypted.gg/919)
- [x] 0x0B강 - 재귀 (남은 문제)

## 목표2
### 취미용(?) 토이 프로젝트 고민 및 테스트

## 목표3
### [스터디 할래](https://github.com/whiteship/live-study)
- [ ] 1주차 과제: JVM은 무엇이며 자바 코드는 어떻게 실행하는 것인가
- [ ] 2주차 과제: 자바 데이터 타입, 변수 그리고 배열 과제

[2020-11-15 16:53] hsik0225 opened #117 "[3기] 1주차 주간 목표"
## 목표1
### 싸피 적성 진단 공부
- [x] [인터넷 강의](https://educast.com/course/job-prep/QU92)
- [ ] [모의고사](https://educast.com/course/job-prep/EU05)

[2020-11-17 07:59] blossun commented on #115
42서울 과제를 진행하려고 목표 수정

[2020-11-17 14:57] beginin15 commented on #116
## 목표 수정
- 갑자기 떠오른 아이디어(개인 사용 목적의 프로그램)가 발전 가능한지 테스트해보고 싶어서 목표 수정

[2020-11-19 14:46] blossun commented on #115
## 회고
### 알고리즘
비슷한 유형의 문제를 계속해서 풀어서 백트래킹 전형적인 구조 파악하기 좋았다. 귀납적 사고가 익숙해진 것인지 전형적인 구조에 익숙해진 건지는 아직 잘 모르겠지만 많이 풀어볼수록 익숙해지는 것은 맞는듯!
풀이 후 다른 풀이도 보면서 속도차이를 확인. 속도차이가 크다면 코드를 확인해서 개선해나가는 방향으로 공부
![image](https://user-images.githubusercontent.com/35985636/99679224-0e2ecb80-2abf-11eb-8e87-145e370c1c8a.png)
* https://github.com/blossun/Algorithm/issues/82

### 깃헙 블로그 생성
* [블로그](https://blossun.github.io/)
개

[2020-11-19 15:08] beginin15 commented on #116
# 회고
## 목표 1
<img width="758" alt="스크린샷 2020-11-19 오후 11 45 24" src="https://user-images.githubusercontent.com/33659848/99681280-4df6b280-2ac1-11eb-8f5c-a367fe91514b.png">

- 골드 문제를 제외한 실버 문제를 풀었다.
- 재귀 문제에 굉장히 취약하다는 것을 깨달았다. 시간 내에 풀 수 있는 문제가 별로 없었다. 전에 틀렸던 문제와 풀이가 유사한 문제를 맞추는 정도.
- 1629번과 5904번은 풀이를 봐도 이해가 잘 안돼서 후퇴했다. 천천히 다시 살펴봐야겠다.

## 목표2
![스크린샷 2020-11-20 오전 12 11 35](https://user-images.githu

[2020-11-20 00:47] hsik0225 commented on #117
### 회고
11/21 에 있을 SSAFY 적성 시험에 대비하여 인터넷 강의를 수강하였다
- SSAFY 문제에 DP나 그리드 같은 알고리즘에 관련한 것들이 나온다. 이런 문제들을 어떻게 풀어나가야 하는지 인터넷 강의에서 설명해주었다. 평소 DP에 관하여 접급을 잘 못하였는데 이번에 강의를 들으면서 DP가 무엇인지 알게된 것 같다. SSAFY를 떨어져도 알고리즘에 많은 도움이 되어 본전은 뽑았다
- 목요일에 목표 달성을 할 수 있었다. 하필 집에 문제를 풀 연필과 노트가 하나도 없어 굳이 사야하나 싶은 자기합리화에 빠져 목표 달성을 하지 못했다. 지금 생각해보니 벌금이 더 쎌텐데 그냥 살 걸 그랬다. 마지막에 늘어져버려 아쉬운 한 주였다

[2020-11-21 15:37] blossun opened #118 "[3기] 2주차 주간 목표"
## 목표1
* 바킹독 실전 알고리즘 강좌 강의 수강 및 문제 풀기
- [x]  [0x0D강 - 시뮬레이션](https://blog.encrypted.gg/948)

## 목표2
* 42서울 함수 구현 과제
- part01
    - [x]  memset
    - [x]  bzero
    - [x]  memcpy
    - [x]  memccpy
    - [x]  memmove
    - [x]  memchr
    - [x]  memcmp
    - [x]  strlen
    - [x]  strlcpy
    - [x]  strlcat
    - [x]  strchr
    - [x]  strrchr
    - [x]  strnstr
    - [x]  strncmp
    - [x]  atoi

[2020-11-22 03:05] hsik0225 opened #119 "[3기] 2주차 주간 목표"
## 목표1 - 바킹독 알고리즘
- [x] 0x00강 - 오리엔테이션
- [x] 0x01강 - 기초 코드 작성 요령 I
- [x] 0x02강 - 기초 코드 작성 요령 II
- [x] 0x03강 - 배열
- [x] 0x04강 - 연결 리스트
- [x] 0x05강 - 스택
- [x] 0x06강 - 큐
- [x] 0x07강 - 덱
- [x] 0x08강 - 스택의 활용

## 목표2 - NextStep TDD
- [x] [Step1] 로또 - 문자열 덧셈 계산기

## 목표3 - 우테코
- [x] 우테코 프로젝트

[2020-11-22 14:18] beginin15 opened #120 "[3기] 1주차 리뷰어"
제 => 에
에 => 솔
솔 => 제

[2020-11-22 14:20] beginin15 opened #121 "[3기] 2주차 주간 목표"
## 목표는 최대 2개만 작성.

## 목표1
### 프라이탁 신상 알람 봇 프로젝트
- 기본적인 기능 완성

[2020-11-23 12:37] hsik0225 commented on #115
### 피드백
- 알고리즘 1문제를 풀 때마다 이슈에 풀이과정과 관련된 지식들을 남기는게 대단하네요. 나중에 다시 볼 때도 좋고 글쓰기 능력을 기를 수 있어서 좋을 것 같아요! 저는 귀찮아서 못하겠는데 솔라는 참 대단해요😀
- 깃허브 블로그 Minimal Mistakes 를 사용하여 만들었군요!
저는 이 [블로그](https://devinlife.com/howto/) 가 많은 도움이 되었어요. 참고가 되면 좋겠네요 :)
- 평소에 문서화를 잘 해서 그런지 다른 사람들과 자료 공유가 활발하네요.
[이 글](https://d2.naver.com/news/3435170) 에서 개발자의 수준을 다음과 같이 분류하고 있는데요.
![스크린샷 2020-11-23 오후 9 36 39](https://user

[2020-11-24 04:42] blossun commented on #118
* 알고리즘을 좀 더 보고, bonus 파트는 주말에 풀려고 목표 수정

[2020-11-26 07:15] hsik0225 commented on #119
### 회고
- 바킹독 알고리즘 강의는 C++로 진행하기에 자료구조에 대한 설명은 건너뛰고 알고리즘에 관한 부분만 집중하여 수강하였다. 아직 알고리즘에 관한 것을 많이 나오지 않아 많은 부분을 스킵하였다
- 우테코 프리코스를 시작하였다. 코드스쿼드 입문 문제였던 야구 게임을 하는 것이 1주차 과제이다. 박재성님이 주도하는 코스라 그런지 NextStep TDD와 상당히 유사한 내용을 보이고 있다. 프리코스를 시작하기 전에 TDD 수업을 들은 것이 많은 도움이 되고 있어 TDD 수업을 듣길 잘했다는 생각이 든다

[2020-11-26 11:37] beginin15 commented on #117
# 피드백
## 목표 1
- 저는 아직 DP나 그리드 알고리즘 문제를 풀어보진 못했지만 나중에 어떤 강의 들으셨는지 알려주시면 큰 도움이 될 것 같아요!
- 같이 주라주라 하면서 에버가 알고리즘 문제를 많이 푸는 것 보고 대단하다고 생각했는데 이번에 코테 통과하신 거 보니 역시 미리미리 준비하는 사람에게 기회가 오는 것 같습니다. 화이팅하셔서 좋은 결과 있었으면 좋겠습니다!

[2020-11-26 15:00] blossun commented on #118
## 회고
* [알고리즘](https://github.com/blossun/Algorithm/issues/88)
시뮬레이션 문제 풀이 로직은 어렵지 않게 생각했지만 이걸 구현하는데 많은 시간이 걸렸다. (매우,,, 매우,,,) 백트래킹과 bfs로 풀었는데 바킹독님 풀이 접근이 인상깊었다. 계속 풀어볼수록 익숙해지는 느낌이다. 👍
* 42서울 과제
![image](https://user-images.githubusercontent.com/35985636/100365313-a8a08900-3042-11eb-9821-f741235d1ebf.png)
메모리 할당 관련 abort 에러 나는 부분이 몇몇 있어서 더 찾아봐야한다. 할당한 메모리를 제대로 해제해주지 않으면 메모리 누수와 함께 에러가 나기 때문에 메모리 사

[2020-11-26 15:05] beginin15 commented on #121
# 회고
## 목표1
[프로젝트 레포](https://github.com/beginin15/get-your-friday/issues)
- 이슈나 위키에다가 공부하거나 조사한 내용들을 정리하면서 내가 어떤 것들을 고민했는지 남기고자 했다.
- 사용한 기술(프레임워크, 라이브러리 등)을 선택한 이유가 있어야 한다고 생각했기 때문에 사전 조사라던지 테스트가 많이 필요했다. 그래서 기능 구현이 생각보다 많이 미뤄졌다.
- 이번 프로젝트는 코쿼 프로젝트에서 신경쓰지 않았던 것들을 고민해야 해서 어려웠다.
  - 일반적인 웹 MVC 프로젝트가 아니라서 이것 저것 고려해야할 사항들이 많았다. (스프링 부트를 사용할건지부터 시작해서 MVC 구조를 차용할 것인지 등등)
  - 구현 핵심이 병렬 처리와 스케줄러라고 예상하는데

[2020-11-26 15:18] blossun commented on #116
### 피드백
* 저도 재귀 문제들이 제일 어려웠던 것 같아요. 웬만하면 오래걸리더라도 풀고 정답을 확인했었는데 재귀는 중간중간 코드를 슬쩍 보면서 힌트를 얻어서 다시 풀고 했던 것 같네요. 그래도 확실히 한번 훑어서 풀고나니깐 점점 귀납적 사고에 익숙해지는 것 같아서 같이 양치기를 많이 해봅시다 ㅎㅎ 그리고 그림으로 그려서 풀이를 고민했던 걸 기록해놓으니깐 다음번에 다시 볼 때, 좀 더 빨리 이해가 되더라구요.
* 프라이탁 프로젝트를 생각할 때 진심으로 흥미있어하던 제이가 생각나네요🤓 저는 평소에 그런 아이디어를 많이 생각하지 않아서인지 실용적인 아이디어들을 계속 생각하는 제이 모습이 멋있어요 👍
(프라이탁 저도 사고싶어요. 제이 다음 2호 사용자 할래요)
* 저도 1주일 열심히 쉬어서 공부 텐션이랑 생활

[2020-11-26 15:22] #117 closed, assigned to hsik0225

[2020-11-26 15:22] #116 closed, assigned to beginin15

[2020-11-26 15:22] #115 closed, assigned to blossun

[2020-11-26 15:22] #120 closed, assigned to beginin15, blossun, hsik0225

[2020-11-29 04:16] blossun opened #122 "[3기] 3주차 주간 목표"
## 목표1
- [x] 42서울 과제 - `Libft` 구현 완료 후 평가 받기

## 목표2
- [x] 이슈트래커 프로젝트 간단히 문서화해서 블로그 포스팅

[2020-11-29 11:38] hsik0225 opened #123 "[3기] 3주차 주간 목표"
## 목표 1 - 우테코
- [x] 우테코 2주차 프로젝트

## 목표2 - NextStep TDD
- [x] 로또 2단계

[2020-11-29 13:48] beginin15 opened #124 "[3기] 3주차 주간 목표"
## 목표는 최대 2개만 작성.

## 목표1
### 프라이탁 알람 봇 프로젝트

[2020-11-29 13:50] beginin15 opened #125 "[3기] 2주차 리뷰어"
제 => 솔
에 => 제
솔 => 에

[2020-12-03 07:09] beginin15 commented on #124
# 회고
## 목표 1
- 이번 주는 채팅 봇을 연결하는 작업을 했다. [이슈](https://github.com/beginin15/get-your-friday/issues/6), [위키](https://github.com/beginin15/get-your-friday/wiki)
- 잘 모르는 개념이 나오면 공부해서 정리하고 있다. 맨땅에 헤딩으로 문제에 접근할 때보다 초반 학습 비용이 들지만 개념을 이해하고 접근하는 것이 효율적인 것 같다.
- 만들다 보니 욕심이 많이 생긴다. 이것저것 기능을 제공하고 싶다보니 변경이 용이한 설계가 필요하다고 느낀다.
- 간단하게 만들면 정말 금방 만들 수 있는 내용이지만 욕심대로 완성만하면 이력서용으로 사용해도 될 것 같다.
- 파이선은 텔레그램 봇 라이브러리가 잘 구축

[2020-12-03 07:24] beginin15 commented on #118
# 피드백
## 목표1
- 풀이 로직 정리하신거 봤는데 패드 정말 잘 활용하시는 것 같아요. 뽐뿌
- 흡수력(?)이 좋으신 것 같아요. 바킹독 문제 풀면서 배웠던 로직들을 바로 적용해서 새로운 응용 문제 해결하신거 정말 정말 멋집니다. 조금만 더 연습하면 카카오 같은 대기업 코테에서 나오는 문제들도 시간만 충분하면 구현할 수 있을 것 같아요. 시간이 아무리 많아도 못 푸는 사람(나야 나)도 있기 때문에 솔라 정도면 충분히 가능할 것 같습니다.

## 목표2
- 예전에 C++사용했을 때 프로그램이 종료되면서 경고창 뜨는 걸 보고 '터졌다'고 표현했던게 생각나네요. 😹 그래서 종료할 때마다 뜨지말라고 기도했어요 ㅋㅋㅋ
- 구현한 메소드 개수보고 감탄했습니다. 그리고 무사히 과제 제출하셔서 기간 연장된거 축하드립

[2020-12-03 08:58] hsik0225 commented on #123
### 회고
- 나름 잘 풀었다고 생각한 싸피가 불합격이 나왔다. 오픈카톡방 이야기 들어보면 나랑 비슷하거나 내가 더 잘 풀었던 것 같다. 자소서를 쓰는게 귀찮아서 조금 대충 썼는데 자소서에서 많이 갈린 것 같다. 싸피가 떨어졌으니 우테코에 사활을 걸어야 겠다

- 우테코 프리코스는 기능을 구현하는건 쉬웠지만 객체지향적으로 짜려고 하니 너무 어려웠다. 하나의 클래스에서 모든 것을 진행할 수 있었지만, 객체지향적으로 코딩을 하려고 하다 보니 클래스를 이것저것 나누게 되었다. 클래스를 나누고, 절차지향적이지 않다보니 코드를 이곳저곳 왔다갔다하며 읽게 되었고 이는 로직의 복잡도로 올라갔다. 객체지향적인 코드는 유지보수를 위한 코드이지 가독성을 위한 코드는 아닌 것 같다는 생각이 든다

- 우테코 프리코스 2단계는

[2020-12-03 09:26] hsik0225 commented on #121
### 피드백
- 열심히 하고 있는 모습에 데모 날이 기다려지네요. 멋있는 프로젝트 기대할게요😆
- 문서화를 정말 잘하시고 계시네요! 저는 힘들어서 잘못하겠는데 제이는 꼼꼼하게 정리하고 계신 것 같아요. 역시 자신이 하고싶은 프로젝트를 해서 그런걸까요? ㅎㅎ.. 이 프로젝트가 어떤 프로젝트인지 다른 사람들에게 설명하기 위해 UML을 추가하는 것도 좋을 것 같아요. 저는 로직이 복잡해질수록 그림으로 보는 것이 더 알기 쉬웠어요😄

다음은 사용해보면 좋을 것 같은 UML툴들이에요
- https://www.draw.io/
- https://www.jetbrains.com/help/idea/markdown.html#diagrams

[2020-12-03 14:49] blossun commented on #122
## 목표1
* Libft 과제를 통과해서 목숨이 연상되었다~~ 얼마 안남은 블랙홀 기간때문에 급하게 과제를 진행했는데 본과정이 생각보다 좋은 커리큘럼들인 것 같아서 좀 더 열심히해보고 싶은 마음이 생겼다.
![image](https://user-images.githubusercontent.com/35985636/101043088-435c1300-35c1-11eb-89aa-161ad15d3bd0.png)

## 목표2
* [블로그](https://blossun.github.io/)
블로그 레이아웃 구성하고 프로젝트에서 만난 에러에 대한 내용만 포스팅 하였다. (초안글이라서 수정이 필요) 그 외의 문서들도 초안만 작성
깃헙블로그에는 일단 간단히 TIL과 프로젝트 관련내용을 포스팅할 계획이다.
노션과 블로그 중

[2020-12-03 14:58] blossun commented on #119
## 피드백
* 저도 바킹독 앞부분보다 BFS, 재귀, 백트래킹 강의가 너무 좋았어요. 문제집이 카테고리별로 분리되어있어 정형화된 코드를 익히기도 좋았습니다 ㅎㅎ 에버는 원래 알고리즘을 좋아하고 잘 푸셨으니깐 이 강의 시리즈도 재미있게 풀 수 있을 것 같아요!! 👍
* TDD 수업 후기를 보니 많이 유익한 것 같아서 저도 얼른 들어보고 싶어집니다!! 우테코 프리코스 과정에서도 좋은 설계를 고민하는 모습을 보니 많은 학습이 있을 것 같네요!! 남은 기간도 화이팅하세요🤓
* 그리고 전에 알려주신 사이트로 블로그 개설에 도움이 많이 됐습니다~~ 👍

[2020-12-05 20:29] hsik0225 opened #126 "[3기] 4주차 주간 목표"
## 목표1 - 우테코
- [x] 우테코 프리코스 3단계 미션

## 목표2 - NextStep TDD
- [x] 3단계 - 로또 2등
- [x] 4단계 - 로또(수동)

[2020-12-06 12:21] blossun opened #127 "[3기] 4주차 주간 목표"
## 목표1
* 바킹독 실전 알고리즘 강좌 강의 수강 및 문제 풀기
- [x]  [0x0E강 - 정렬 I](https://blog.encrypted.gg/955?category=773649)

## 목표2
- [x] 42서울 netwhat 과제 공부

[2020-12-06 14:42] #118 closed, assigned to blossun

[2020-12-06 14:42] #119 closed, assigned to hsik0225

[2020-12-06 14:42] #121 closed, assigned to beginin15

[2020-12-06 14:43] #125 closed, assigned to beginin15, blossun, hsik0225

[2020-12-06 14:45] beginin15 opened #128 "[3기] 4주차 주간 목표"
## 목표는 최대 2개만 작성.

## 목표1
### 프라이탁 봇 알람 프로젝트
- [ ] 스케줄러 테스트
- [ ] 스케줄러 + 스크래핑
- [ ] 봇 클래스
- [ ] 서비스(or 봇) + 레포지토리
- [ ] 컨트롤러 클래스

[2020-12-06 14:48] beginin15 opened #129 "[3기] 3주차 리뷰어"
제 => 에
에 => 솔
솔 => 제

[2020-12-10 12:22] beginin15 commented on #123
## 피드백
- 객체지향 코드는 의존 관계가 쉽게 만들어지기 때문에 객체 그래프를 타고 타고 가면서 코드가 복잡해지기 쉬운 것 같아요. 코드가 복잡해지면 에버 말대로 가독성이 떨어지기 때문에 우리가 리팩토링을 배워야 하는 것 같아요. 리팩토링을 통해 무분별한 의존 관계를 제거하고 객체 지향 체조 원칙을 지키다 보면 객체지향 코드의 가독성이 조금은 좋아지는 것 같아요.ㅎㅎ

- 이미 구현했던 코드를 그대로 가져와서 리팩토링하는 것도 충분히 좋은 방법이지만 만약 시간적 여유가 된다면 `In => Out` 방식으로 아예 처음부터 코드를 작성해보는 것도 좋을 것 같아요! 사실 똑같은 내용을 2번 이상 구현하는 것은 큰 의지가 없으면 하기 힘들잖아요? 하지만 지금 에버는 2번 이상 구현해야하는 상황(넥스트스텝 + 우

[2020-12-10 13:21] blossun commented on #127
## 정렬 알고리즘
- [정렬 알고리즘 구현](https://github.com/blossun/Algorithm/issues/97)
![image](https://user-images.githubusercontent.com/35985636/101776175-e36eea80-3b33-11eb-81ef-f28ac6cc0ce0.png)
정렬 알고리즘을 직접 구현하니깐 더 이해가 잘되고 기억에 남는다. 효율적으로 대용량 데이터를 처리하기 위해 적절한 데이터 스트럭쳐를 선택하고 효율적으로 코드를 짜려고 고민하게 되었던 것 같다.

## 네트워크
![image](https://user-images.githubusercontent.com/35985636/101775644-1f558000-3b33-11eb-9383-9e5

[2020-12-10 14:01] blossun commented on #124
### 피드백
* 프로젝트를 하면서 기술에 대한 깊이있는 학습과 고민을 마음껏 해볼 수 있는 환경이 취업하면 힘들지 않을까 예상이돼요.(코쿼 프로젝트 때랑 같지 않을까..?하는 생각) 지금 할 수 있을 때 이렇게 충분히 공부해보는 시간을 갖는 것도 좋은 것 같습니다.🤓
* wiki에 정리된 문서의 내용들이 매우 알차네요!! 보면서 프로젝트를 이해하는데 도움이 많이 되었어요. 그리고 issue만 봐도 어떤 고민들을 했고 어떻게 해결했는지 바로 알 수 있어서 좋네요! 👍👍
* 객체지향을 공부하면서 `변경이 용이한 설계`가 꾸준히 강조되는 부분이라 저도 코드를 짤 때마다 필요성을 많이 느끼게 되더라구요. 추후에 리팩토링을 해서 개선된 코드를 보여주는 것도 좋지않을까 싶어요.
* 제이 프로젝트가 너무 기대됩니다!!

[2020-12-10 14:03] beginin15 commented on #128
# 회고
- 이번 주는 전혀 집중할 수 없었다. 주라주라를 시작한 이유로 정말 아무것도 못한 한 주가 아니었을까...
- 다시 마음을 잡고 당장 내일부터 집중할 수 있도록 노력할 것을 다짐한다. 👊

[2020-12-10 15:08] hsik0225 commented on #122
### 피드백
- 42서울에 솔라에게 직접적으로 도움이 될만한 커리큘럼을 찾아서 정말 다행이에요. 42서울을 시작한지 조금 된 것 같은데 이제야 나왔다니.. 솔라도 잘 버틴 것 같아요. 앞으로도 그 흥미를 잃지 않고 즐겁게 공부할 수 있길 바래요🙏
- 블로그 셋팅 성공 축하드립니다👏 처음에 했을 때 뭐가 뭔지 잘 모르겠고, 이게 안되고 해서 시간을 많이 잡아먹었던 기억이 나네요. 솔라의 블로그를 보니 솔라도 많이 고생한 것 같아요. 앞으로도 블로그 관리 화이팅입니다!
- 해야하지만, 하기 싫고 귀찮은 일을 목표로 세우고 해결한다는 점이 주라주라의 가장 큰 장점 중 하나인 것 같아요. 알고리즘이나 배운 거 정리하는 일등을 목표로 세워두면 눈에 띄고, 시간 제한도 있다보니 다급해져서 하게 되더라고요. 다음 주

[2020-12-11 02:15] blossun commented on #127
- [DHCP](https://javakong.tistory.com/43?category=801811)

[2020-12-11 02:44] #122 closed, assigned to blossun

[2020-12-11 02:47] #123 closed, assigned to hsik0225

[2020-12-11 02:47] #124 closed, assigned to beginin15

[2020-12-11 02:47] #129 closed, assigned to beginin15, blossun, hsik0225

[2020-12-12 12:28] blossun opened #130 "[3기] 5주차 주간 목표"
## 목표1
* 바킹독 실전 알고리즘 강좌 강의 수강 및 문제 풀기
- [x]  [0x09강 - 다이나믹 프로그래밍_구버전](https://blog.encrypted.gg/737?category=773649)

## 목표2
- [더 자바, 애플리케이션을 테스트하는 다양한 방법](https://www.inflearn.com/course/the-java-application-test/dashboard)
- [x] [섹션 0.] 1부 JUnit 5
- [ ] [섹션 1.] Mockito

[2020-12-13 13:56] beginin15 opened #131 "[3기] 5주차 주간 목표"
## 목표는 최대 2개만 작성.

## 목표1
### 프라이탁 알람 봇 프로젝트
- [x] 스크랩핑, 스크랩팡 매니저 클래스
- [x] 스케줄링 테스트
- [ ] 레포지토리 구축
- [ ] 봇 클래스
- [ ] 컨트롤러 클래스

## 목표2
### [바킹독 실전 알고리즘 강좌](https://blog.encrypted.gg/919)
- [x] DFS 강의 다시듣기
- [ ] 백트래킹 강의, 연습문제

[2020-12-13 14:01] beginin15 opened #132 "[3기] 4주차 리뷰어"
제 => 솔
에 => 제
솔 => 에

[2020-12-13 15:09] hsik0225 opened #133 "[3기] 5주차 주간 목표"
## 목표1 - 우테코 프리코스
- [x] 우테코 프리코스 3주차 미션 완성

## 목표2 - NextStep TDD
- [x] 사다리타기 1단계

[2020-12-16 20:39] hsik0225 commented on #126
### 회고
- 우테코 미션은 수요일 오후 3시에 받는다. 주라주라 목표 마감 달성이 목요일 12시이므로, 이틀이 채 되지 않는 시간 안에 우테코 미션을 진행해야 했다. 1,2 단계는 NextStep TDD를 진행하면서 한 번 해봤던 것들이기 때문에 빠르게 할 수 있었는데, 이번 3주차는 해보지 않은 새로운 미션이면서 구현해야 하는 기능도 많아 결국 목표 마감 달성시간까지 구현하지 못했다.

- NextStep을 진행하면서 내가 알던 OOP의 4원칙 캡상추다!는 OOP의 아주 일부분이었다는 것을 깨닫게 되었다. 이제 어느정도 자바와 OOP에 대해서 알았다고 생각했는데 터무니없는 소리였다. 아직 한글도 다 못뗐으면서 문학에 대해서 얘기하려고 하고 있었다. 앞길이 막막하다고 느끼면서도, 사회에 나가기 전에 이런

[2020-12-16 22:23] hsik0225 commented on #128
### 피드백
- 이번 주 집중하지 못했던 이유는 제이가 지금까지 열심히 달려왔기 때문이 아닐까요? 코로나때문에 밖에도 못나가고 집에만 콕 박혀 있어서 스트레스가 쌓였을 수도 있겠네요. 가끔은 쉬고 싶은 마음에 몸을 맡기고 쉬어보는건 어떨까요? 버티면 부러져요🤣
- 기능 목록을 보니 구현에 집중하고 있는 것 같아요. NextStep에서 배운걸 써먹을 시간이 온 걸까요? TDD와 OOP를  적용한 깔끔한 설계와 구현이 나오는 걸 기대할게요!
+ 마지막 문장하고 주먹 이모지하고 너무 잘 어울리네요 ㅋㅋㅋㅋㅋ 글에서 제이 목소리가 들리는 느낌이에요🖐

[2020-12-17 02:35] hsik0225 commented on #133
### 회고
- 이번 우테코 프리코스는 난이도가 조금 높았다. 코드를 깔끔하게 짜기 위해선 Enum, Functional Interface, Layered Architecture에 대한 지식을 가지고 있어야 했다. 최근 자바로만 구현해서인지 Layered Architecture를 생각해내지 못했고, 레이어를 나누는데 많은 어려움을 겪어 깔끔한 코드를 짜지 못했다는 것이 아쉽다.

- 이번주 수요일을 기점으로 우테코 프리코스가 마감되었고, 이제 12/19에 있을 온라인 테스트만을 앞두고 있다. 전 기수 사람들의 얘기를 들어보면 합격하는데 가장 중요한 것은 프리코스가 아닌 19일에 보는 테스트라는 것 같다. 3주간 프리코스를 했는데 떨어지면 씁쓸하니까 합격할 수 있도록 준비해야겠다.

 - 우테코 유튜브를 보니

[2020-12-17 14:56] blossun commented on #130
## 회고
### 목표1
점화식을 찾아내는 연습이 필요하다. 규칙을 찾아놓고 점화식으로 만드는 과정에서 어려웠던 문제들이 있었다. 알듯말듯 될 것 같아서 계속 시간을 쏟다보니깐 한문제에 시간이 많이 들어간다. 그래도 어느정도 데드라인을 정해야겠다. DP 문제가 많아서 많이 풀어봐야할듯
![image](https://user-images.githubusercontent.com/35985636/102502468-fa788400-40c1-11eb-99d9-40e7a583a254.png)

### 목표2
많이 못들었다. 충분히 들을 수 있을 것 같아서 여유를 부렸던 것 같다.

### 전반
집에서 공부하는 환경이라 집중이 안되는 시기가 오는데 타이머를 쓰니깐 훨씬 집중이 잘 되었다.
![image](https://

[2020-12-17 14:58] beginin15 commented on #131
# 회고
## 목표1
![스크린샷 2020-12-17 오후 11 44 30](https://user-images.githubusercontent.com/33659848/102503166-ca7db080-40c2-11eb-9b25-5eeee662623d.png)
<img src="https://user-images.githubusercontent.com/33659848/102503958-9bb40a00-40c3-11eb-941e-af5859fb588d.jpg" width=700/>

- 어느 정도 설계가 윤곽이 생겼다. (추후에 다이어그램 업데이트하겠음!)
- ip 우회하여 브라우저를 실행시키는 것에 성공했다. 남은 문제는 ec2(t2.micro)에서 tor와 애플리케이션이 함께 잘 돌아가면 된다.

## 목

[2020-12-17 15:04] blossun commented on #126
### 피드백
이틀이라는 기간 내에 그래도 열심히 미션을 했다는 점에서 목표달성이라고 할 수 있지 않을까 했는데 타협하지 않는 모습이 인상깊었습니다. 😎
두 과정을 동시에 진행하면서 많은 것들을 해야하는 것 같은데 잘 해나가고 계신 것 같네요. 짱👍
OOP 친해질 듯 어려운 존재인 것 같아요. 언제나 열심히 하시니 막막한 길을 뚫고 잘 나아가실 것 같습니다. 화이팅😄

[2020-12-17 15:07] beginin15 commented on #127
# 피드백
## 목표1
- 저는 요새 프로젝트 한다고 알고리즘 공부를 안하고 있는데 프로젝트랑 병행해야하나 고민이 되더라구요. 솔라가 꾸준하게 알고리즘 공부하는 거 보면서 자극받고 있습니다! (그래서 이번 주 목표에 알고리즘 공부 포함시켰다가 달성하지 못했어요. 😂)

## 목표2
- 솔라가 공부한 netwhat? 목록 좋은 것 같아요. 네트워크와 관련된 기본적인 개념들인 것 같아서 저도 나중에 저 목록 참고해서 공부해야겠다고 생각했어요. 면접 대비에도 좋을 것 같아요. 👍
- 저번에 잭도 그랬지만 얼마 전에 면접 보신 프론트엔드 지원자분도 블로그에 TIL 정리하셔서 좋은 인상을 남겼다고 하더라구요. 꼭 포스팅하세요! (나도 언젠가...!)

[2020-12-17 15:10] #126 closed, assigned to hsik0225

[2020-12-17 15:11] #127 closed, assigned to blossun

[2020-12-17 15:11] #128 closed, assigned to beginin15

[2020-12-17 15:11] #132 closed, assigned to beginin15, blossun, hsik0225

[2020-12-18 02:46] blossun opened #134 "[3기] 6주차 주간 목표"
## 목표1
* 바킹독 실전 알고리즘 강좌 강의 수강 및 문제 풀기
- [x]  [0x0A강 - 그리디_구버전](https://blog.encrypted.gg/755?category=773649)

## 목표2
- [ ] 이슈트래커 리팩토링

[2020-12-20 14:26] hsik0225 opened #135 "[3기] 6주차 주간 목표"
## 목표1 - NextStep TDD
- [x] 사다리타기 2단계

## 목표2 - 독서
- [x] 객체지향의 사실과 오해
- [x] 리팩토링
- [x] 이펙티브 자바 2장 - 객체 생성과 파괴
[백기선 님의 이펙티브 자바 강의](https://www.youtube.com/watch?v=OwkXMxCqWHM&list=PLfI752FpVCS8e5ACdi5dpwLdlVkn0QgJJ&index=2)
- [x] 이펙티브 자바 3장 - 모든 객체의 공통 메소드

[2020-12-20 14:34] beginin15 opened #136 "[3기] 6주차 주간 목표"
## 목표는 최대 2개만 작성.

## 목표1
### 프라이탁 알람 봇 프로젝트
- [x] 스크랩핑 매니저 클래스
- [ ] 레포지토리 구축
- [ ] 봇 클래스
- [ ] 컨트롤러

[2020-12-20 14:36] beginin15 opened #137 "[3기] 5주차 리뷰어"
제 => 에
에 => 솔
솔 => 제

[2020-12-26 12:24] hsik0225 commented on #135
### 회고
우테코와 42서울 모두 2월에 시작하므로 남는 시간동안 부족하다고 느끼거나 평소 읽고 싶었던 책을 읽으려고 한다.
- 객체지향의 사실과 오해를 읽고 나서 코쿼 다닐 때 읽지 않고, 지금 읽어서 다행이라는 생각이 들었다. 특히 NextStep TDD 강의를 수강한 후여서 좋았다. TDD 수업을 들으면서 내가 고민하고 또 배운 내용들이 책에 많이 실려있어 책 내용을 더 깊게 받아들일 수 있었다.
- 리팩토링 책은 왜 그렇게 사람들이 좋다고 추천한 책인지 잘 모르겠다. 책에는 말그대로 메소드 추출, 메소드 이동과 같은 리팩토링하는 방법들이 적혀있다. 이것들은 IntelliJ의 Refactor 기능들을 사용하면 쉽게 할 수 있는 일이므로 굳이 책을 보며 공부할 필요는 없는 것 같다.
- 몇 달만에 다시

[2020-12-26 12:43] hsik0225 commented on #130
### 피드백
- DP 알고리즘은 손으로 해당 문제의 DP 표를 그리고 값을 채워넣다 보니 어느 순간 조금 이해가 되더라고요. 만약 DP가 어떤 것인지 감이 잘 안온다면 직접 손으로 그려보는 것을 추천드려요!
- 저도 학원에서 공부하면 몇 시간은 그냥 하는 거 같은데 집에서는 2~3시간 공부하려면 각오를 하고 앉아야 하더라고요. 저도 이 타이머를 이용해서 다시 마음잡고 공부해야겠어요🧭

42서울 하는 것도 바쁘실텐데 주라주라 목표들까지 달성하기 위해 노력하는 모습이 보기 좋아요👍
42서울도 주라주라도 화이팅입니다!

[2020-12-27 14:38] blossun commented on #134
### 회고
* 실제 코테에서 그리디 알고리즘 문제가 나왔을때 바로 명제가 나오지않으면 많이 시간을 투자하기 어렵겠다.
![image](https://user-images.githubusercontent.com/35985636/103173108-f9064300-489b-11eb-8e70-de673826071a.png)
* 리팩토링을 하려고 목표를 세웠지만 듣고 싶은 강의가 있어서 강의를 들으면서 보냈다. 다음주에 시작되는 스터디 전에 미뤄둔 강의를 먼저 빨리 들어야겠다.
* 운동도 못나가고 잠드는 시간도 일정하지 않아서 패턴이 많이 무너졌다. 집에서 계속 생활하는 만큼 좀 더 신경써야겠다. 런데이를 시작해볼까..?

[2020-12-27 14:48] beginin15 commented on #133
# 피드백
- NextStep TDD는 자바 구현에 초점이 맞춰져 있어서 웹 레이어 기반에서의 TDD와 리팩토링 연습은 더 필요하다고 느껴지더라구요. 이미 알고 계실지도 모르겠지만 강의 후반부에(아마 볼링) 웹 기반 프레임워크에서 레거시 코드를 리팩토링하는 연습이 포함되어 있으니 그 단계는 꼭꼭 해보셨으면 좋겠어요! (자바지기님도 이전 단계를 다 못했어도 해당 단계는 꼭 완료하시길 바라셨던 것 같네요.)
- 에버는 이번 기수에 NextStep TDD랑 우테코 프리코스가 우연히 겹쳤지만 서로 상호보완적인 내용이라 시너지 효과가 있었을 것 같아요. 3기 동안 객체지향 프로그래밍 역량이 늘었을거라 기대합니다!
- 에버와 함께 3기를 마무리할 수 있어서 좋습니다. 더 보완된 방식으로 다음 모임에서 또 만날 수 있었

[2020-12-27 14:55] blossun commented on #131
### 피드백
* 그림으로 첨부해주니 설계 구조를 파악하기 좋네요!! request를 계속 날리는 기능을 구현하면서 여러 방법을 고민하고 시도했던 만큼 많은 공부가 되었을 것 같네요 👍
* 프로젝트와 동시에 알고리즘을 공부하려고 하면 알고리즘에 투자하는 시간이 주로 우선순위에서 밀리게 되더라구요. 한 번 안듣다보면 다시 보려는 마음도 줄어들고 어렵네요 ㅠㅠ 그래도 목표에 넣어두고 하루정도는 알고리즘에 투자하자는 마음으로 듣다보니 진도가 나가긴 하더라구요 ㅎㅎ 하루에 한문제씩 풀기가 어렵다면 몰아서 하루를 투자하는 방법도 좋을 것 같아요~
* 저도 화상 모각코가 많은 도움이 되어서 적극적으로 활용해보려고 합니다. ㅎㅎ 집공을 해야만하는 시기에 지치지 말고 같이 달려요🤓

[2020-12-27 14:57] beginin15 commented on #134
함께 달리시죠!!

[2020-12-27 15:10] beginin15 commented on #136
# 회고
## 목표1
### Good
- 내 기준 이번 프로젝트의 가장 핵심이 되는 클래스인 **스크랩핑 매니저 클래스**를 완성했다. [이슈](https://github.com/beginin15/get-your-friday/issues/10)
- 이번 주에는 3일 정도 원격 모각코(?)를 했다. 별생각없다가도 다른 동료들이 공부하고 있으면 공부해야겠다는 의지가 생겨서 좋았다.
![스크린샷 2020-12-28 오전 12 01 37](https://user-images.githubusercontent.com/33659848/103173683-dbd37380-489f-11eb-8f58-80fdb0a47c3b.png)

### Bad
- 기능 욕심을 많이 냈더니 꽤 부하가 심하다. (맥북에서 쿨러가 자주 돌아간다

[2020-12-27 15:38] beginin15 commented on #136
# 3기 목표 회고
## 1. 이력서용 포트폴리오 (프로젝트)
- 이번 기수는 대부분 **프라이탁 알람 봇 프로젝트**와 관련된 목표를 수행했다.
- 좋았던 점은 항상 테스트 코드를 작성하려고 노력했다는 점이다. 저번 기수 때 많이 할애했던 NextStep 수업의 효과인 것 같다. 테스트 코드를 짜느라 오히려 시간을 많이 낭비하는 것 같다는 느낌이 들기도 했지만 확실히 테스트 코드가 있었기 때문에 코드를 안전하게 변경할 수 있었다. 아무래도 이전 코쿼 프로젝트에 비해 객체 간의 의존도가 복잡해서 더 와닿는것 같다.
- 아쉬웠던 점은 진도가 많이 늦어졌다는 점이다. 혼자서 하는 프로젝트라서 스스로 기간을 정해놔도 안지키면 그만~식으로 진행했던 것 같다. 다음에는 다른 사람에게 진행 상황을 공개하는 데모 날짜를

[2020-12-27 15:48] #130 closed, assigned to blossun

[2020-12-27 15:48] #131 closed, assigned to beginin15

[2020-12-27 15:48] #133 closed, assigned to hsik0225

[2020-12-27 15:48] #137 closed, assigned to beginin15, blossun, hsik0225

[2020-12-28 01:36] hsik0225 commented on #135
## 3기 회고
SSAFY를 2~3주간 준비했지만 결국 떨어졌다. 싸피 오픈 카톡방을 보니 다른 지원자들보다 문제를 더 많이 푼 것 같은데 떨어져서 아쉽다. 아마 자소서가 영향을 미친 것 같다. 다행스럽게도 우테코 프리코스에는 합격해서 이번 주라주라 3기는 우테코 프리코스에 집중했다.

### 우테코
- 우테코 프리코스에선 코드스쿼드에서 했던 숫자 야구 게임, 자동차 경주 게임, 그리고 우테코 측에서 새로 만든 지하철 노선도 미션을 진행했다. 숫자 야구 게임과 자동차 경주 게임은 한 번 씩 진행해보고 리팩토링도 해보았기 때문에 어렵지 않게 코드를 작성할 수 있었지만, 지하철 노선도 미션은 처음 해보는 미션이었고 또 어려웠기 때문에 1주일간 많은 고민을 하며 프로젝트를 구현하였다.
- 우테코 프리코스를 진행하

[2020-12-28 13:15] blossun commented on #134
### 3기 회고
* 처음 설정했던 목표(42서울 과제, 프로젝트 리팩토링)와는 다르게 3기를 보냈다. 설정한 목표와 다른 방향으로 진행했던 점이 아쉽지만 그래도 알고리즘을 목표했던 부분까지 진도를 나가려고 노력했다. 모든 유형을 살펴보진 못했지만 어느정도의 유형들을 훑어봤기 때문에 코테에 대한 약간의 막연함은 사라진 것 같다.
* 이번 기수에 목표 달성률이 좋지 않았다. 집에서 공부했기 때문은 아닌 것 같고, 변덕과 마음가짐의 문제?이지 않았나..
* 이것 저것 듣고 싶은 강의들도 많고 자바 스터디 할래도 좋아보여서 참여해볼 생각이다. 1월에 시작하는 스터디 과정도 있는 만큼 스케쥴 관리를 신경써야할 듯 싶다.

[2020-12-28 16:28] beginin15 opened #138 "3기 회고"
# 참여인원

솔라, 제이, 에버

# 3기 목표

![KakaoTalk_Photo_2020-12-27-23-41-32](https://user-images.githubusercontent.com/33659848/103228432-2cb49c00-4974-11eb-8834-e6357b90c985.jpeg)

# 회고

# 솔라: 1 주일동안 42 서울 과제 / 이력서용 프로젝트
## 피드백
- 처음 설정했던 목표(42서울 과제, 프로젝트 리팩토링)와는 다르게 3기를 보냈다. 설정한 목표와 다른 방향으로 진행했던 점이 아쉽지만 그래도 알고리즘을 목표했던 부분까지 진도를 나가려고 노력했다. 모든 유형을 살펴보진 못했지만 어느정도의 유형들을 훑어봤기 때문에 코테에 대한 약간의 막연함은 사라진 것 같다.
- 이번

[2020-12-28 16:29] #138 closed, assigned to beginin15, blossun, hsik0225

[2020-12-31 06:50] #134 closed, assigned to blossun

[2020-12-31 06:50] #135 closed, assigned to hsik0225

[2020-12-31 06:51] #136 closed, assigned to beginin15

[2021-01-04 02:39] beginin15 opened #139 "[2기] 1주차 주간 목표"
## 목표는 최대 2개만 작성.

## 목표1
- 상세 내용1

## 목표2
- 상세 내용

[2021-01-04 03:16] #139 closed, assigned to beginin15